.openCart {
    .bm-menu-wrap {
        display:block;
        -webkit-animation: cartOn 0.5s both; animation: cartOn 0.5s both; -webkit-animation-timing-function: easeInOutQuint; animation-timing-function: easeInOutQuint;
    }
}
.closeCart {
    .bm-menu-wrap {
        -webkit-animation: cartOff 0.5s both; animation: cartOff 0.5s both; -webkit-animation-timing-function: easeInOutQuint; animation-timing-function: easeInOutQuint;
    }
}

._2jLqp,._2PwXm {
    height: 100%
}

._2jLqp {
    padding-top: 50px
}
._1BRRa {
    height: 100%;
    background-color: #fff;
    display: flex!important;
    flex-flow: column;
    outline: 0;
    padding: 16px 24px 0;
    box-shadow: inset 0 1px 1.5px 0 rgba(0,0,0,.05)
}

@media (max-width: 768px) {
    ._1BRRa {
        padding:16px 16px 0
    }
}

._1BRRa ._1eiky {
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.5;
    padding-bottom: 16px;
    border-bottom: 1px solid #d9d9d9;
    display: flex;
    align-items: center
}

._1BRRa ._1eiky span {
    margin-left: 5px;
    color: #757575
}

._1BRRa ._1eiky ._1YOWP {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end
}

._1BRRa ._1eiky ._1YOWP ._2WIDf {
    cursor: pointer;
    --fa-primary-color: #888;
    color: #f3f3f3;
    --fa-primary-opacity: 1;
    --fa-secondary-opacity: 1;
    font-size: 1.5rem
}

@media (hover: hover) and (pointer:fine) {
    ._1BRRa ._1eiky ._1YOWP ._2WIDf:hover:not([disabled]) {
        --fa-primary-color:#1e1e1e;
        color: #e5e5e5
    }
}

._1BRRa ._3Ucvc {
    padding-bottom: 24px;
    border-bottom: 1px solid #d9d9d9
}

._1BRRa ._3Ucvc ._3MT8W {
    border-bottom: none
}

._1BRRa ._2XqrI {
    background-color: #f3f3f3;
    padding: 8px 16px;
    color: #1e1e1e;
    border-radius: 10px;
    font-size: .75rem;
    line-height: 1.5
}

._1BRRa ._2XqrI i {
    margin-right: 8px;
    color: #1e1e1e;
    font-size: .75rem;
    margin-top: 3px
}

._1BRRa ._1_Djw {
    display: flex;
    justify-content: space-between;
    color: #757575;
    line-height: 1.5;
    font-size: .875rem
}

._1BRRa ._1_Djw strong {
    font-weight: 400;
    color: #1e1e1e
}

._1BRRa ._21BI8,._1BRRa ._21BI8 span {
    color: #1e1e1e;
    font-weight: 600;
    font-size: .875rem
}

._1BRRa ._3MT8W {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 1.125rem;
    font-weight: 600;
    color: #1e1e1e;
    flex-direction: column;
    height: 100%;
    width: 100%;
    pointer-events: none
}

._1BRRa ._3MT8W,._1BRRa ._3MT8W ._36AB6 {
    display: flex;
    align-items: center;
    justify-content: center
}

._1BRRa ._3MT8W ._36AB6 {
    margin-bottom: 16px;
    height: 72px;
    width: 72px;
    border-radius: 72px;
    background-color: #f3f3f3;
    color: #949494;
    font-size: 1.5rem
}

._1BRRa ._35zti {
    flex: 1 0;
    padding-bottom: 48px;
    overflow-y: auto;
    position: relative;
    margin: 0 -24px
}

@media (max-width: 768px) {
    ._1BRRa ._35zti {
        margin:0 -16px
    }
}

._1BRRa ._2v8om {
    display: flex;
    justify-content: center
}

._1BRRa ._2v8om.timYG {
    margin-top: 20px
}

._1BRRa ._2qAqR {
    display: flex
}

._1BRRa ._1YdyW {
    flex-direction: column
}

._1BRRa ._1C5nK {
    align-items: center
}

._1BRRa .yg16x {
    padding: 16px 0
}

._1BRRa ._1_Ki6 {
    border-bottom: 1px solid #d9d9d9
}

._1BRRa ._2Rp5Q {
    justify-content: space-between
}

._3wD4p {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 24px 0;
    margin: 0 24px
}

@media (max-width: 768px) {
    ._3wD4p {
        margin:0 16px
    }
}

._3wD4p:not(:last-child) {
    border-bottom: 1px solid #d9d9d9
}

._3wD4p ._3VHNV {
    position: absolute;
    width: 100%;
    height: 100%;
    background: hsla(0,0%,100%,.8);
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    overflow-x: hidden
}

._3wD4p ._3VHNV img {
    width: 43px;
    height: 11px
}

._3wD4p .XXoOC {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: .9rem
}

._3wD4p .XXoOC:first-child {
    padding-top: 0
}

._3wD4p .XXoOC ._3FE25 {
    display: flex;
    align-items: flex-start
}

._3wD4p .XXoOC ._3FE25 ._2OZ_S {
    width: 56px;
    min-width: 56px;
    height: 56px;
    border-radius: 5px;
    margin-right: 16px
}

._3wD4p .XXoOC ._3FE25 ._2OZ_S img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px
}

._3wD4p .XXoOC ._3FE25 ._1oN1_ {
    display: flex;
    flex-direction: column;
    justify-content: center
}

._3wD4p .XXoOC ._3FE25 ._1oN1_ ._3140_ {
    color: #1e1e1e;
    font-size: .875rem;
    font-weight: 600;
    word-break: keep-all;
    line-height: 1.5
}

._3wD4p .XXoOC ._3FE25 ._1oN1_ ._3GsPh {
    color: #1e1e1e;
    font-size: .75rem;
    line-height: 1.5
}

._3wD4p .XXoOC ._3FE25 ._1oN1_ ._3GsPh span:after {
    content: " / "
}

._3wD4p .XXoOC ._3FE25 ._1oN1_ ._3GsPh span:last-child:after {
    content: ""!important
}

._3wD4p .XXoOC ._3FE25 ._1oN1_ .a1S9U {
    margin-top: 2px;
    font-size: .8rem;
    color: #00bcd7;
    font-weight: 600
}

._3wD4p .XXoOC ._3FE25 ._1oN1_ ._3kcgw {
    margin-top: 2px;
    font-size: .6rem;
    color: #f25123;
    font-weight: 600
}

._3wD4p .XXoOC ._3FE25 ._1oN1_ .Q7df- {
    margin-top: 2px;
    font-size: .6rem;
    color: #484848;
    font-weight: 400
}

._3wD4p .XXoOC ._1P3qe {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    align-items: flex-start
}

._3wD4p .XXoOC ._1P3qe span {
    color: #1e1e1e;
    font-size: 1rem;
    margin-top: 4px;
    line-height: 1.5
}

._3wD4p .XXoOC ._1P3qe span._1xW6Z {
    background-color: #4cd964
}

._3wD4p .XXoOC ._1P3qe span._1xW6Z,._3wD4p .XXoOC ._1P3qe span.mr9Ok {
    color: #fff;
    font-weight: 600;
    margin-top: 5px;
    font-size: .5rem;
    padding: 3px 7px;
    border-radius: 10px;
    text-transform: uppercase;
    white-space: nowrap
}

._3wD4p .XXoOC ._1P3qe span.mr9Ok {
    background-color: #f25123
}

._3wD4p ._2IJrO {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px
}

._3wD4p ._2IJrO._32D4Y {
    justify-content: flex-end
}

._3wD4p ._2IJrO ._4VCte {
    display: flex;
    flex-direction: column;
    justify-content: center
}

._3wD4p ._2IJrO ._4VCte._3NIEO {
    flex-direction: row;
    align-items: center
}

._3wD4p ._2IJrO ._4VCte ._3DUXe {
    text-decoration: none;
    padding: 5px 10px;
    font-weight: 600;
    font-size: .8rem;
    margin-right: 15px;
    box-shadow: 0 0 0 1px rgba(43,45,80,.1),0 2px 5px 0 rgba(43,45,80,.08),0 1px 1.5px 0 rgba(0,0,0,.07),0 1px 2px 0 rgba(0,0,0,.08)
}

._3wD4p ._2IJrO ._4VCte ._3DUXe:hover {
    box-shadow: 0 0 0 1px rgba(43,45,80,.1),0 2px 5px 0 rgba(43,45,80,.1),0 3px 9px 0 rgba(43,45,80,.08),0 1px 1.5px 0 rgba(0,0,0,.08),0 1px 2px 0 rgba(0,0,0,.08)
}

._3wD4p ._2IJrO ._4VCte ._1J_Dm {
    text-decoration: none
}

._3wD4p ._2IJrO ._4VCte ._1J_Dm:hover i {
    color: #2f2f2f
}

._3wD4p ._2IJrO ._4VCte ._1J_Dm._38hGW:hover {
    cursor: not-allowed
}

._3wD4p ._2IJrO ._4VCte ._1J_Dm._38hGW i {
    color: #959595
}

._3wD4p ._2IJrO ._4VCte ._3haM2 {
    font-size: 10px;
    text-transform: uppercase;
    font-family: Fira Sans,sans-serif
}