._1Igun {
    width: 100%;
    height: 100%
}
._2z0Gx {
    height: 100%;
    background-color: #fff
}

._2z0Gx .zk0xg {
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    height: 3px;
    background-color: #43a6f7;
    z-index: 100
}

._2z0Gx .wNlme {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #fff
}
.dqL9T {
    position: fixed;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    padding: 0;
    margin: 0;
    background-color: #fff;
    box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.05)
}

@media (max-width: 768px) {
    .dqL9T {
        background-color:#fff;
        border-bottom: 1px solid #d9d9d9
    }
}

.dqL9T ._21sfQ {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 50px
}

@media (max-width: 1024px) {
    .dqL9T ._21sfQ {
        padding:0 16px
    }
}

.dqL9T ._21sfQ .Y46M3 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 1rem
}

@media (max-width: 768px) {
    .dqL9T ._21sfQ .Y46M3 {
        font-size:.75rem
    }
}

.dqL9T ._21sfQ .Y46M3 ._1LBuA {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.375rem;
    color: #1e1e1e;
    font-weight: 600
}

@media (max-width: 768px) {
    .dqL9T ._21sfQ .Y46M3 ._1LBuA {
        font-size:1rem;
        transform: unset;
        left: 40px
    }
}

.dqL9T ._21sfQ .Y46M3 ._1LBuA .Usd2h {
    color: #757575
}

.dqL9T ._21sfQ .Y46M3 ._1_BO4 {
    text-decoration: none;
    display: flex;
    align-items: center
}

.dqL9T ._21sfQ .Y46M3 ._1_BO4 img {
    width: 158px
}

@media (max-width: 768px) {
    .dqL9T ._21sfQ .Y46M3 ._1_BO4 img {
        width:24px
    }
}

.dqL9T ._21sfQ .Y46M3 ._1_BO4 ._16DKE {
    font-weight: 600;
    margin-left: 10px;
    font-size: 1rem
}

.dqL9T ._21sfQ .Y46M3 ._16Ezd {
    text-decoration: none;
    transition: all .2s ease-in-out
}

.dqL9T ._21sfQ .Y46M3 ._16Ezd i,.dqL9T ._21sfQ .Y46M3 ._16Ezd span {
    text-decoration: none;
    color: #1e1e1e;
    font-size: .875rem
}

@media (max-width: 768px) {
    .dqL9T ._21sfQ .Y46M3 ._16Ezd i,.dqL9T ._21sfQ .Y46M3 ._16Ezd span {
        font-size:.75rem
    }
}

.dqL9T ._21sfQ .Y46M3 ._16Ezd i {
    margin-left: 5px
}
._32xUs {
    display: flex;
    padding: 20px 50px;
    padding-top: 70px;
    min-height: 100%;
    width: 100%;
    justify-content: center;
    position: relative
}

@media (max-width: 768px) {
    ._32xUs {
        flex-direction:column;
        justify-content: flex-start;
        padding: 110px 16px 120px
    }
}

._32xUs ._1f3ik {
    padding-top: 8px;
    font-size: .625rem;
    color: #757575
}

._32xUs ._1f3ik a {
    text-decoration: solid underline;
    color: #757575
}

@media (hover: hover) and (pointer:fine) {
    ._32xUs ._1f3ik a:hover:not([disabled]) {
        color:#1e1e1e
    }
}

._32xUs ._1f3ik.DLhnx {
    display: none
}

@media (max-width: 768px) {
    ._32xUs ._1f3ik.DLhnx {
        display:block;
        text-align: center;
        padding-bottom: 16px
    }
}

@media (max-width: 768px) {
    ._32xUs._1QLJN {
        margin-top:40px
    }
}

._32xUs.COg5G {
    padding-bottom: 190px
}

@media (max-width: 768px) {
    ._32xUs._3QbyQ {
        padding-top:66px
    }
}

._32xUs .JkeRE {
    position: fixed;
    top: 50px;
    left: 0;
    font-size: .7rem;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #facf09;
    border: 1px solid #f74356;
    color: #000;
    margin-bottom: 20px;
    z-index: 19;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.25);
    width: 100%
}

._32xUs .JkeRE i {
    margin-right: 4px;
    color: #000
}

._32xUs ._1TB1x {
    display: flex;
    flex-direction: column;
    width: 55%;
    max-width: 800px;
    row-gap: 16px
}

._32xUs ._1TB1x._1QLJN {
    margin-top: 40px
}

@media (max-width: 768px) {
    ._32xUs ._1TB1x {
        width:100%;
        max-width: none;
        row-gap: 8px
    }
}

._32xUs ._1TB1x ._2m40A {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 10px 10px 20px;
    border-radius: 10px;
    border: 1px solid #d9d9d9;
    background-color: #fff
}

._32xUs ._1TB1x ._2m40A.he0U8 {
    border: none;
    background-color: transparent
}

._32xUs ._1TB1x ._2m40A ._1ou1r {
    text-align: center
}

._32xUs ._1TB1x ._2m40A ._1ou1r._3sSa8 {
    text-align: left
}

._32xUs ._1TB1x ._2m40A ._1vK-K {
    padding: .7rem 2rem;
    cursor: pointer;
    font-size: .9rem;
    border-radius: 5px;
    font-weight: 600;
    line-height: 1.2;
    color: #fff;
    background-color: #484848;
    width: auto;
    text-align: center;
    text-decoration: none
}

._32xUs ._1TB1x ._2m40A ._1vK-K._3sSa8 {
    width: 100%;
    background-color: #2f2f2f
}

@media (hover: hover) and (pointer:fine) {
    ._32xUs ._1TB1x ._2m40A ._1vK-K:hover:not([disabled]) {
        background-color:#2f2f2f
    }
}

._32xUs ._1TB1x ._2m40A ._10OFF {
    margin-top: 20px;
    background-color: #f74356;
    color: #fff
}

._32xUs ._1TB1x ._2m40A ._10OFF:disabled {
    background-color: #d9d9d9
}

@media (hover: hover) and (pointer:fine) {
    ._32xUs ._1TB1x ._2m40A ._10OFF:hover:not([disabled]) {
        background-color:#f5122a
    }
}

._32xUs ._1TB1x ._2m40A h1 {
    display: flex;
    justify-content: center;
    font-family: Open Sans,sans-serif!important;
    margin: 0;
    font-size: 1.2em;
    width: 100%;
    font-weight: 600
}

._32xUs ._1TB1x ._2m40A h5 {
    margin: 0 0 10px
}

._32xUs ._1TB1x ._2m40A ._3Fmvr {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%
}

._32xUs ._1TB1x ._2m40A ._3Fmvr ._39NXc {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 20px
}

._32xUs ._1TB1x ._2m40A ._3Fmvr ._39NXc div {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    width: 100%
}

._32xUs ._1TB1x ._2m40A ._3Fmvr ._1_h7w {
    display: flex;
    justify-content: center;
    width: 100%
}

._32xUs ._1TB1x ._2m40A ._3Fmvr ._1_h7w div {
    display: flex;
    justify-content: flex-end;
    max-width: 500px;
    width: 100%
}

._32xUs ._1TB1x ._2m40A ._3Fmvr form {
    display: flex;
    width: 100%;
    justify-content: center
}

._32xUs h2 {
    border-collapse: separate;
    border-spacing: 1rem 0;
    display: table;
    line-height: .25;
    margin: 32px auto;
    table-layout: auto;
    text-align: center;
    white-space: nowrap;
    width: 100%;
    max-width: 430px;
    font-size: .875rem;
    text-transform: uppercase;
    font-weight: 600;
    color: #1e1e1e
}

._32xUs h2:after,._32xUs h2:before {
    border-top: 1px solid #d9d9d9;
    content: "";
    display: table-cell;
    width: 50%
}

._32xUs ._1BCck {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 135px;
    margin: 0 auto
}

._32xUs ._1BCck._3sSa8 {
    width: 100%
}

._32xUs .sEvuM {
    min-width: 300px
}

._32xUs ._2u5nh {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #d9d9d9;
    width: 100%
}

@media (max-width: 768px) {
    ._32xUs ._2u5nh {
        position:fixed;
        top: 50px;
        left: 0;
        right: 0;
        z-index: 18;
        width: 100%;
        border: none;
        background-color: #f7fcff
    }
}

@media (max-width: 768px) {
    ._32xUs ._2u5nh._3LlPv {
        top:85px
    }
}

._32xUs ._2u5nh ._115ro {
    display: none
}

@media (max-width: 768px) {
    ._32xUs ._2u5nh ._115ro {
        display:block;
        position: absolute;
        right: 20px;
        top: 10px;
        color: #fff;
        font-size: 1rem
    }
}

._32xUs ._2u5nh ._2DxRu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
    column-gap: 24px
}

@media (max-width: 768px) {
    ._32xUs ._2u5nh ._2DxRu {
        flex-direction:column;
        border: none;
        padding: 16px 16px 0
    }
}

._32xUs ._2u5nh ._2DxRu ._2R6l1 {
    display: flex;
    justify-content: center;
    flex-direction: column
}

@media screen and (max-width: 1080px) {
    ._32xUs ._2u5nh ._2DxRu ._2R6l1 {
        min-width:0
    }
}

@media screen and (max-width: 800px) {
    ._32xUs ._2u5nh ._2DxRu ._2R6l1 {
        display:none
    }
}

._32xUs ._2u5nh ._2DxRu ._2R6l1 .NGPlE {
    font-weight: 600;
    font-size: 1rem;
    color: #1e1e1e
}

._32xUs ._2u5nh ._2DxRu ._2R6l1 ._129rQ {
    font-size: .75rem;
    margin-left: 2px;
    color: #757575
}

._32xUs ._2u5nh ._2DxRu ._28HZ2 {
    position: relative;
    width: 35%;
    flex-grow: 1
}

@media screen and (max-width: 1080px) {
    ._32xUs ._2u5nh ._2DxRu ._28HZ2 {
        width:100%
    }
}

._32xUs ._2921Y {
    margin: 35px 0 0;
    color: #888;
    text-align: center;
    font-size: .85rem;
    cursor: pointer;
    padding: 0;
    margin-bottom: 20px;
    background: none
}

._32xUs ._2921Y:focus-visible {
    outline: 1px auto -webkit-focus-ring-color
}

._32xUs ._2dujT {
    padding: 0;
    margin-bottom: 5px;
    max-width: 100%
}

._32xUs ._3zLyJ div {
    display: flex;
    flex-direction: row-reverse
}

._32xUs ._3zLyJ div button {
    margin-right: 0;
    margin-left: 10px
}

._32xUs ._3zLyJ div button:first-child {
    background-color: #484848;
    border-color: #484848
}

@media (hover: hover) and (pointer:fine) {
    ._32xUs ._3zLyJ div button:first-child:hover:not([disabled]) {
        background-color:#2f2f2f;
        border-color: #2f2f2f
    }
}

@media (max-width: 768px) {
    ._32xUs ._3zLyJ div button:first-child {
        background-color:#2f2f2f;
        border-color: #2f2f2f
    }
}
.outline-TaZ {
    border: 1px solid #d9d9d9;
    border-radius: 8px;
    padding: 16px 24px 24px
}

@media (max-width: 768px) {
    .outline-TaZ {
        padding:16px
    }
}
.dTlA8 {
    display: flex;
    align-items: center;
    padding-bottom: 16px;
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 24px
}

@media (max-width: 768px) {
    .dTlA8 {
        margin-bottom:16px
    }
}

.dTlA8 ._2Renz {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    background-color: #f3f3f3;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem
}

@media (max-width: 768px) {
    .dTlA8 ._2Renz {
        height:32px;
        width: 32px;
        font-size: .875rem
    }
}

.dTlA8 ._1a9vC {
    margin-left: 16px;
    font-size: 1.125rem;
    font-weight: 600;
    color: #1e1e1e
}

@media (max-width: 768px) {
    .dTlA8 ._1a9vC {
        font-size:1rem
    }
}
._1T0fA {
    margin-bottom: 20px;
    font-size: 14px;
    max-width: 800px;
    padding: 12px
}
._34rl3 {
    margin-bottom: 0
}
._27aVH {
    margin-bottom: 24px!important
}

@media (max-width: 768px) {
    ._27aVH {
        margin-bottom:16px!important
    }
}

._27aVH._2BNLX {
    margin-bottom: 16px!important
}

@media (max-width: 768px) {
    ._27aVH._2BNLX {
        margin-bottom:8px!important
    }
}

._27aVH._2Lo_X {
    margin-bottom: 0!important
}

._2ua9a {
    font-size: .813rem;
    color: #1e1e1e;
    margin-bottom: 8px;
    font-weight: 600
}

.uexdn {
    position: relative
}

.uexdn ._3DEVA {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 10px
}

.uexdn ._3DEVA._1uNLc {
    margin-bottom: 0;
    font-weight: 400;
    position: absolute;
    z-index: 1;
    left: 13px;
    top: 0;
    transform: translateY(-50%);
    background-color: #fff;
    padding: 0 4px;
    font-size: .75rem;
    color: #757575
}

.uexdn .Select-control {
    height: 40px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    outline: none!important;
    box-shadow: none!important;
    display: flex;
    align-items: center;
    padding-right: 10px;
}

.uexdn .Select-control,.uexdn .Select-control .Select-input {
    padding-left: 5px;
    font-size: 14px
}

.uexdn .Select-multi-value-wrapper {
    width: 100%;
    display: flex
}

.uexdn .Select-value-label {
    font-weight: 300
}

.uexdn .Select-value {
    padding-left: 0;
    height: 40px
}

.uexdn .Select-placeholder {
    color: #757575;
    padding-left: 10px;
    display: flex;
    align-items: center
}

.uexdn .Select-option {
    padding-left: 0
}

.uexdn .Select-placeholder,.uexdn .Select-value-label {
    font-size: 14px
}

.uexdn.is-focused .Select-control {
    border-color: #979797
}

.uexdn._31sGB .Select-control {
    border-color: #f74356!important
}

.uexdn .Select-arrow-zone .Select-arrow {
    top: 0;
    border-top-color: #484848;
    border-width: 6px 6px 2px
}

.uexdn.is-open .Select-arrow-zone .Select-arrow {
    top: -2px;
    border-color: transparent transparent #484848;
    border-width: 0 6px 6px
}

.uexdn .Select-menu-outer {
    font-size: 14px
}

.uexdn ._31sGB .Select-control {
    border-color: #f74356
}

.uexdn ._2vbEy .Select-control {
    background-color: #f0f0f0
}

.uexdn ._3_0gb {
    color: #f74356
}

.uexdn .Select-value ._21we6 {
    padding-left: 0
}

.uexdn ._21we6 {
    padding-left: 10px;
    display: flex;
    width: 100%;
    height: 100%;
    font-size: .9rem;
    align-items: center
}

.uexdn ._21we6 img {
    width: 30px;
    height: 30px;
    margin-right: 10px
}

.uexdn ._21we6 i {
    margin-right: 10px
}

.uexdn input {
    line-height: 1.25
}

.uexdn ._1Unfv .Select-control {
    border: 1px solid red
}

.uexdn ._2dqI1 {
    width: 144px
}

.uexdn ._2dqI1 .Select-control {
    height: 48px;
    padding: 0;
    color: #1e1e1e
}

.uexdn ._2dqI1 .Select-input {
    height: 48px;
    display: flex!important;
    align-items: center;
    color: #1e1e1e
}

.uexdn ._2dqI1 .Select-input,.uexdn ._2dqI1 .Select-placeholder {
    padding: 0 16px;
    font-size: 1rem
}

.uexdn ._2dqI1 .Select-value ._21we6 {
    padding-left: 0;
    color: #1e1e1e;
    font-size: 1rem
}

.uexdn ._2dqI1 .Select-option {
    font-size: 1rem;
    color: #1e1e1e
}

.uexdn ._2dqI1 :globla(.Select-control>:last-child) {
    padding-right: 16px
}

.uexdn ._2dqI1 .Select-value {
    padding: 0 16px;
    font-size: 1rem;
    height: 48px;
    color: #1e1e1e
}

.uexdn ._2dqI1 .Select-arrow-zone {
    padding-right: 16px!important;
    color: #757575
}

.uexdn ._2dqI1 .Select-arrow-zone .Select-arrow {
    font-family: FontAwesome;
    content: "\F096"
}