.wrapper_main,._3tZsg {
    height: 100%
}

.wrapper_main {
    padding-top: 50px
}
/**/
.wrapper_inner {
    height: 100%;
    padding-left: 10px;
    padding-right: 10px
}

@media (min-width: 769px) {
    .wrapper_inner {
        width:100%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
        padding-right: 0
    }
}

._3um8E .wrapper_inner {
    width: 100%;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0
}
/**/
._33Bc5 {
    padding-left: 0!important;
    padding-right: 0!important
}
/**/
.wrapper_cont {
    width: 100%;
    position: relative;
    background-color: #fff;
    padding-bottom: 80px;
}

.wrapper_cont ._1_RFj {
    display: flex;
    justify-content: center;
    overflow-x: hidden
}

.wrapper_cont ._1_RFj ._3awMS {
    line-height: 0
}

.wrapper_cont ._1_RFj img {
    max-width: 100vw;
    object-fit: cover
}

.wrapper_cont ._3NX4P {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px
}

@media (max-width: 768px) {
    .wrapper_cont ._3NX4P {
        padding:20px;
        flex-direction: column
    }
}

.wrapper_cont ._3NX4P ._3TzYt {
    width: 40%;
    padding: 20px
}

@media (max-width: 768px) {
    .wrapper_cont ._3NX4P ._3TzYt {
        width:100%
    }
}

.wrapper_cont ._3NX4P ._3TzYt .rbz2v {
    height: 30px;
    border-radius: 10px;
    width: 100px;
    background-color: rgba(0,0,0,.1);
    margin-bottom: 20px
}

.wrapper_cont ._3NX4P ._3TzYt ._3lPGb {
    height: 200px;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(0,0,0,.1)
}

.wrapper_cont ._3NX4P ._26kbt {
    background-color: rgba(0,0,0,.1);
    border-radius: 10px;
    width: 60%;
    height: 350px
}

@media (max-width: 768px) {
    .wrapper_cont ._3NX4P ._26kbt {
        width:100%
    }
}

.wrapper_cont ._1eU6S {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 64px 100px
}

@media (max-width: 768px) {
    .wrapper_cont ._1eU6S {
        flex-direction:column-reverse;
        margin-top: 0;
        padding: 16px 16px 24px;
        height: auto
    }
}

.wrapper_cont ._1eU6S ._1aL9v {
    transform-style: preserve-3d;
    transform: translateZ(0);
    -webkit-transform-style: preserve-3d;
    -webkit-transform: translateZ(0);
    display: flex;
    flex-flow: row nowrap
}

.wrapper_cont ._1eU6S ._1aL9v ._3_t7T {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    box-sizing: border-box;
    width: 100%;
    flex: none
}

.wrapper_cont ._1eU6S ._1aL9v ._3_t7T h2 {
    font-family: Fira Sans,sans-serif
}

.wrapper_cont ._1eU6S .LfHfC {
    width: 35vw
}

@media (max-width: 768px) {
    .wrapper_cont ._1eU6S .LfHfC {
        width:100%;
        padding-top: 16px
    }
}

.wrapper_cont ._1eU6S .LfHfC h2 {
    font-size: 3vw;
    color: #151515
}

@media (max-width: 768px) {
    .wrapper_cont ._1eU6S .LfHfC h2 {
        font-size:2rem;
        line-height: 1.25
    }
}

.wrapper_cont ._1eU6S .LfHfC h2 span {
    font-size: 3vw;
    font-weight: 600;
    font-family: Fira Sans,sans-serif
}

@media (max-width: 768px) {
    .wrapper_cont ._1eU6S .LfHfC h2 span {
        font-size:2rem
    }
}

.wrapper_cont ._1eU6S .LfHfC h2 span._1d0BI {
    color: #00bcd7
}

.wrapper_cont ._1eU6S .LfHfC i {
    color: #00bcd7;
    opacity: .4;
    padding: 0 3px
}

@media (hover: hover) {
    .wrapper_cont ._1eU6S .LfHfC i:hover {
        opacity:1
    }
}

.wrapper_cont ._1eU6S .LfHfC i.bLrlj {
    opacity: 1
}

@media (max-width: 768px) {
    .wrapper_cont ._1eU6S .LfHfC i {
        margin-top:20px
    }
}

.wrapper_cont ._1eU6S .LfHfC ._2s-qO {
    font-size: 1rem;
    width: 28vw;
    margin: 16px 0 32px;
    line-height: 1.5
}

@media (max-width: 768px) {
    .wrapper_cont ._1eU6S .LfHfC ._2s-qO {
        width:100%;
        font-size: .875rem;
        margin-bottom: 24px
    }
}

@media (max-width: 768px) {
    .wrapper_cont ._1eU6S .LfHfC ._1pAZZ {
        display:flex;
        justify-content: center
    }
}

.wrapper_cont ._3RVue {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 80px;
    right: 20px;
    margin: 0 auto;
    width: 50vw;
    z-index: 1
}

@media (max-width: 768px) {
    .wrapper_cont ._3RVue {
        top:10px
    }
}

.wrapper_cont ._3RVue h2 {
    text-align: right;
    font-size: 4rem;
    color: #fff;
    text-transform: uppercase
}

@media (max-width: 768px) {
    .wrapper_cont ._3RVue h2 {
        font-size:inherit
    }
}

.wrapper_cont h2,.wrapper_cont h3,.wrapper_cont h4 {
    font-weight: 500;
    margin: 0
}

.wrapper_cont ._14kIw {
    display: flex;
    padding: 80px 50px;
    flex-direction: column
}

@media (max-width: 768px) {
    .wrapper_cont ._14kIw {
        padding:20px 0
    }
}

.wrapper_cont ._14kIw .Kyn2S {
    display: flex;
    height: 220px
}

.wrapper_cont ._14kIw._2bADs {
    background-color: #fff!important
}

.wrapper_cont ._14kIw.A4LUd {
    padding-top: 0
}

@media (max-width: 768px) {
    .wrapper_cont ._14kIw.A4LUd {
        padding:24px 0
    }
}

.wrapper_cont ._14kIw._2Z2-J {
    padding: 20px
}

@media (max-width: 768px) {
    .wrapper_cont ._14kIw._2Z2-J {
        padding:5px
    }
}

.wrapper_cont ._14kIw.vOVaW {
    padding: 0;
    overflow: hidden
}

@media (max-width: 768px) {
    .wrapper_cont ._14kIw.vOVaW {
        padding:24px 0
    }
}

.wrapper_cont ._14kIw.vOVaW h2 {
    font-size: 2rem;
    padding-left: 100px;
    margin-bottom: 40px;
    font-weight: 600;
    color: #1e1e1e
}

@media (max-width: 768px) {
    .wrapper_cont ._14kIw.vOVaW h2 {
        font-size:1.25rem;
        padding-left: 20px;
        margin-bottom: 20px
    }
}

.wrapper_cont ._14kIw h3 {
    font-size: 1.5rem;
    margin-bottom: 40px;
    padding-left: 50px;
    color: #1e1e1e;
    font-weight: 600
}

@media (max-width: 768px) {
    .wrapper_cont ._14kIw h3 {
        font-size:1rem;
        margin-bottom: 24px;
        padding-left: 16px
    }
}

@media (max-width: 768px) {
    .wrapper_cont ._14kIw._1sLJj {
        padding-bottom:0
    }
}

.wrapper_cont ._14kIw._2sfyy {
    padding-right: 0
}

@media (max-width: 768px) {
    .wrapper_cont ._14kIw._2sfyy h3 {
        margin-bottom:10px;
        padding-left: 20px
    }
}

@media (max-width: 768px) {
    .wrapper_cont ._14kIw._2sfyy {
        padding-bottom:0
    }
}

.wrapper_cont ._14kIw .jXjnW {
    display: flex;
    width: 100%;
    flex-direction: row
}

@media (max-width: 768px) {
    .wrapper_cont ._14kIw .jXjnW {
        justify-content:flex-start;
        flex-direction: column
    }
}

.wrapper_cont ._14kIw .jXjnW ._1e3Oz {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-right: 50px;
    overflow: hidden
}

@media (max-width: 768px) {
    .wrapper_cont ._14kIw .jXjnW ._1e3Oz {
        padding-bottom:0;
        width: 100%;
        padding-right: 0
    }
}

.wrapper_cont ._14kIw .jXjnW ._1e3Oz ._24SRO {
    padding-bottom: 50px;
    overflow: visible;
    min-height: 220px
}

@media (max-width: 768px) {
    .wrapper_cont ._14kIw .jXjnW ._1e3Oz ._24SRO {
        padding-bottom:40px;
        overflow: hidden;
        min-height: 220px
    }
}

.wrapper_cont ._14kIw .jXjnW ._1e3Oz ._24SRO .Kyn2S {
    display: flex;
    height: 220px
}

@media (max-width: 768px) {
    .wrapper_cont ._14kIw .jXjnW ._1e3Oz ._24SRO .Kyn2S {
        height:220px
    }
}

.wrapper_cont ._14kIw .jXjnW ._1e3Oz ._3SYdL {
    overflow: visible;
    padding-bottom: 50px;
    min-height: 325px
}

@media (max-width: 768px) {
    .wrapper_cont ._14kIw .jXjnW ._1e3Oz ._3SYdL {
        padding-bottom:20px;
        overflow: hidden;
        min-height: 325px
    }
}

.wrapper_cont ._14kIw .jXjnW ._1e3Oz .o4YF2 {
    overflow: visible;
    padding-bottom: 0;
    min-height: 220px
}

@media (max-width: 768px) {
    .wrapper_cont ._14kIw .jXjnW ._1e3Oz .o4YF2 {
        padding-bottom:20px;
        overflow: hidden;
        min-height: 220px
    }
}

.wrapper_cont ._14kIw .jXjnW ._1R0CL {
    display: flex;
    flex-direction: column;
    background-color: rgba(67,166,247,.05);
    border-radius: 10px;
    padding: 20px;
    width: 20%;
    min-width: 311px;
    flex: 1;
    margin-right: 50px;
    margin-left: 15px;
    justify-content: space-between
}

@media (max-width: 768px) {
    .wrapper_cont ._14kIw .jXjnW ._1R0CL {
        width:100%;
        border-radius: 0;
        margin-right: 0;
        margin-left: 0
    }
}

.wrapper_cont ._14kIw .jXjnW ._1R0CL h4 {
    font-size: 1.2rem;
    padding-bottom: 10px
}

@media (max-width: 768px) {
    .wrapper_cont ._14kIw .jXjnW ._1R0CL h4 {
        font-size:1.25rem
    }
}

.wrapper_cont ._14kIw .jXjnW ._1R0CL ._1oH4p {
    border-radius: 5px;
    font-size: 1rem;
    color: #43a6f7;
    border: none;
    padding: 6px 10px;
    text-decoration: none;
    display: inline-flex;
    margin: 0 4px 7px 0;
    background-color: rgba(67,166,247,.1);
    transition: all .2s ease-in-out
}

.wrapper_cont ._14kIw .jXjnW ._1R0CL ._1oH4p i {
    color: #fff;
    margin-left: 10px
}

.wrapper_cont ._14kIw .jXjnW ._1R0CL ._1oH4p:hover {
    background-color: #43a6f7;
    color: #fff
}

.wrapper_cont ._14kIw .jXjnW ._1R0CL ._3wBvE {
    padding-bottom: 20px
}

@media (max-width: 768px) {
    .wrapper_cont ._14kIw .jXjnW ._1R0CL ._3wBvE {
        padding-bottom:40px
    }
}

.wrapper_cont ._14kIw._3HaiV {
    overflow: hidden
}

.wrapper_cont ._14kIw._3HaiV ._3ffvJ {
    display: flex;
    justify-content: center;
    justify-content: space-between
}

.wrapper_cont ._14kIw._3HaiV ._3TxNq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 48px;
    padding: 0 16px
}

@media (max-width: 768px) {
    .wrapper_cont ._14kIw._3HaiV ._3TxNq {
        display:flex;
        margin-top: 32px
    }
}

.wrapper_cont ._14kIw._1TvdV ._2OB36 {
    padding: 0 50px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 24px;
    row-gap: 40px
}

@media (max-width: 768px) {
    .wrapper_cont ._14kIw._1TvdV ._2OB36 {
        padding:0 16px;
        flex-direction: column;
        flex-wrap: unset;
        display: flex;
        column-gap: unset;
        row-gap: 24px
    }
}

.wrapper_cont ._14kIw._1TvdV ._2OB36 .OfgJ_ {
    position: relative
}

@media (max-width: 768px) {
    .wrapper_cont ._14kIw._1TvdV ._2OB36 .OfgJ_._1eNQE {
        display:flex;
        justify-content: center
    }
}

.wrapper_cont ._14kIw._1TvdV ._2OB36 .OfgJ_._1eNQE img {
    position: absolute;
    top: 30%;
    left: 50%
}

@media (max-width: 768px) {
    .wrapper_cont ._14kIw._1TvdV ._2OB36 .OfgJ_._1eNQE img {
        position:static
    }
}

.wrapper_cont ._14kIw._1TvdV ._3TxNq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 48px;
    padding: 0 16px
}

@media (max-width: 768px) {
    .wrapper_cont ._14kIw._1TvdV ._3TxNq {
        display:flex;
        margin-top: 32px
    }
}

.wrapper_cont ._3HFcX {
    position: relative
}