.vJADg ._1eU6S {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 64px 100px
}

@media (max-width: 768px) {
    .vJADg ._1eU6S {
        flex-direction:column-reverse;
        margin-top: 0;
        padding: 16px 16px 24px;
        height: auto
    }
}

.vJADg ._1eU6S ._1aL9v {
    transform-style: preserve-3d;
    transform: translateZ(0);
    -webkit-transform-style: preserve-3d;
    -webkit-transform: translateZ(0);
    display: flex;
    flex-flow: row nowrap
}

.vJADg ._1eU6S ._1aL9v ._3_t7T {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    box-sizing: border-box;
    width: 100%;
    flex: none
}

.vJADg ._1eU6S ._1aL9v ._3_t7T h2 {
    font-family: Fira Sans,sans-serif
}

.vJADg ._1eU6S .LfHfC {
    width: 35vw
}

@media (max-width: 768px) {
    .vJADg ._1eU6S .LfHfC {
        width:100%;
        padding-top: 16px
    }
}

.vJADg ._1eU6S .LfHfC h2 {
    font-size: 3vw;
    color: #151515
}

@media (max-width: 768px) {
    .vJADg ._1eU6S .LfHfC h2 {
        font-size:2rem;
        line-height: 1.25
    }
}

.vJADg ._1eU6S .LfHfC h2 span {
    font-size: 3vw;
    font-weight: 600;
    font-family: Fira Sans,sans-serif
}

@media (max-width: 768px) {
    .vJADg ._1eU6S .LfHfC h2 span {
        font-size:2rem
    }
}

.vJADg ._1eU6S .LfHfC h2 span._1d0BI {
    color: #00bcd7
}

.vJADg ._1eU6S .LfHfC i {
    color: #00bcd7;
    opacity: .4;
    padding: 0 3px
}

@media (hover: hover) {
    .vJADg ._1eU6S .LfHfC i:hover {
        opacity:1
    }
}

.vJADg ._1eU6S .LfHfC i.bLrlj {
    opacity: 1
}

@media (max-width: 768px) {
    .vJADg ._1eU6S .LfHfC i {
        margin-top:20px
    }
}

.vJADg ._1eU6S .LfHfC ._2s-qO {
    font-size: 1rem;
    width: 28vw;
    margin: 16px 0 32px;
    line-height: 1.5
}

@media (max-width: 768px) {
    .vJADg ._1eU6S .LfHfC ._2s-qO {
        width:100%;
        font-size: .875rem;
        margin-bottom: 24px
    }
}

@media (max-width: 768px) {
    .vJADg ._1eU6S .LfHfC ._1pAZZ {
        display:flex;
        justify-content: center
    }
}
/**/
.vJADg ._1eU6S .LfHfC {
    width: 35vw
}

@media (max-width: 768px) {
    .vJADg ._1eU6S .LfHfC {
        width:100%;
        padding-top: 16px
    }
}

.vJADg ._1eU6S .LfHfC h2 {
    font-size: 3vw;
    color: #151515
}

@media (max-width: 768px) {
    .vJADg ._1eU6S .LfHfC h2 {
        font-size:2rem;
        line-height: 1.25
    }
}

.vJADg ._1eU6S .LfHfC h2 span {
    font-size: 3vw;
    font-weight: 600;
    font-family: Fira Sans,sans-serif
}

@media (max-width: 768px) {
    .vJADg ._1eU6S .LfHfC h2 span {
        font-size:2rem
    }
}

.vJADg ._1eU6S .LfHfC h2 span._1d0BI {
    color: #00bcd7
}

.vJADg ._1eU6S .LfHfC i {
    color: #00bcd7;
    opacity: .4;
    padding: 0 3px
}

@media (hover: hover) {
    .vJADg ._1eU6S .LfHfC i:hover {
        opacity:1
    }
}

.vJADg ._1eU6S .LfHfC i.bLrlj {
    opacity: 1
}

@media (max-width: 768px) {
    .vJADg ._1eU6S .LfHfC i {
        margin-top:20px
    }
}

.vJADg ._1eU6S .LfHfC ._2s-qO {
    font-size: 1rem;
    width: 28vw;
    margin: 16px 0 32px;
    line-height: 1.5
}

@media (max-width: 768px) {
    .vJADg ._1eU6S .LfHfC ._2s-qO {
        width:100%;
        font-size: .875rem;
        margin-bottom: 24px
    }
}

@media (max-width: 768px) {
    .vJADg ._1eU6S .LfHfC ._1pAZZ {
        display:flex;
        justify-content: center
    }
}
/**/
.PWPP8 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    padding: 0 16px;
    cursor: pointer;
    text-decoration: none;
    transition: all .2s;
    color: #1e1e1e;
    white-space: nowrap
}

.PWPP8:focus-visible {
    outline: 1px auto -webkit-focus-ring-color
}

.PWPP8._3ZCRK {
    pointer-events: none
}

.PWPP8 ._228M9 {
    margin-right: 8px
}

.PWPP8 ._2xj29,.PWPP8 ._228M9 {
    font-size: .75rem;
    color: inherit;
    font-style: normal
}

.PWPP8 ._2xj29 {
    margin-left: 8px
}

.PWPP8._1XYbU {
    height: 24px;
    font-size: .75rem;
    line-height: 1.333
}

.PWPP8.u3ywy {
    height: 32px
}

.PWPP8._2904Q,.PWPP8.u3ywy {
    font-size: .875rem;
    line-height: 1.143
}

.PWPP8._2904Q {
    height: 40px
}

.PWPP8.W2P3N {
    height: 56px;
    font-size: 1rem;
    line-height: 1.125
}

.PWPP8._2KTM7 {
    padding: 0
}

.PWPP8._2KTM7 ._228M9 {
    margin-right: 0
}

.PWPP8._2KTM7._1XYbU {
    width: 24px
}

.PWPP8._2KTM7.u3ywy {
    width: 32px
}

.PWPP8._2KTM7._2904Q {
    width: 40px
}

.PWPP8._2KTM7.W2P3N {
    width: 56px
}

.PWPP8._3QLI9 {
    background-color: #f74356;
    color: #fff;
    font-weight: 600
}

@media (hover: hover) and (pointer:fine) {
    .PWPP8._3QLI9:hover:not([disabled]) {
        background-color:#f5122a
    }
}

.PWPP8._26O0b {
    background-color: #fff;
    color: #f74356;
    font-weight: 600;
    border: 1px solid #f74356
}

@media (hover: hover) and (pointer:fine) {
    .PWPP8._26O0b:hover:not([disabled]) {
        background-color:#f5122a;
        border-color: #f5122a;
        color: #fff
    }
}

.PWPP8.qLima {
    background-color: #f3f3f3;
    font-weight: 400
}

@media (hover: hover) and (pointer:fine) {
    .PWPP8.qLima:hover:not([disabled]) {
        background-color:#e5e5e5
    }
}

.PWPP8.mXOJi {
    background-color: #f3f3f3;
    font-weight: 600;
    border-radius: 32px
}

@media (hover: hover) and (pointer:fine) {
    .PWPP8.mXOJi:hover:not([disabled]) {
        background-color:#e5e5e5
    }
}
/**/
._3tOA9 {
    position: relative;
    z-index: 1
}

@media (max-width: 768px) {
    ._3tOA9 {
        width:100%
    }
}

@media (hover: hover) and (pointer:fine) {
    ._3tOA9:hover:not([disabled]) ._3nAmt {
        opacity:1
    }
}

._3tOA9._12S4U ._3nAmt {
    opacity: 1
}

._3tOA9 .AVnHK {
    position: absolute;
    top: 16px;
    right: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-color: rgba(0,0,0,.15)
}

._3tOA9 .AVnHK i {
    color: #fff;
    font-size: 1.25rem
}

._3tOA9 .E1vV4 {
    width: 50.0625vw;
    height: 28.16016vw;
    overflow: hidden;
    background-color: #fff;
    cursor: default
}

@media (max-width: 768px) {
    ._3tOA9 .E1vV4 {
        width:100%;
        height: calc((100vw - 32px) * .5625)
    }
}

._3tOA9 .E1vV4._3oi8R {
    pointer-events: all
}

._3tOA9 .E1vV4._3oi8R:before {
    content: none!important
}

._3tOA9 .E1vV4:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

._3tOA9 .E1vV4 ._3EKmG {
    width: 100%;
    height: 100%;
    cursor: default;
    border-radius: 16px;
    overflow: hidden
}

@media (max-width: 768px) {
    ._3tOA9 .E1vV4 ._3EKmG {
        border-radius:8px
    }
}

._3tOA9 ._3nAmt {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 88px;
    background: linear-gradient(0deg,rgba(0,0,0,.2),transparent);
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    opacity: 0;
    transition: opacity .2s
}

@media (max-width: 768px) {
    ._3tOA9 ._3nAmt {
        border-bottom-left-radius:8px;
        border-bottom-right-radius: 8px
    }
}

._3tOA9 ._3nAmt ._2-zjR {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    padding: 0 24px 16px 16px
}

._3tOA9 ._3nAmt ._2-zjR .EKGWL {
    margin-right: 16px
}

._3tOA9 ._3nAmt ._2-zjR .EKGWL i {
    color: #fff;
    font-size: 1.5rem;
    height: 24px;
    width: 24px
}

._3tOA9 ._3nAmt ._2-zjR ._1xLhp {
    padding: 5px 0;
    flex-grow: 1;
    height: 16px;
    cursor: pointer
}

._3tOA9 ._3nAmt ._2-zjR .I5Evw {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    background-color: hsla(0,0%,100%,.5)
}

._3tOA9 ._3nAmt ._2-zjR .I5Evw ._6PuFS {
    background-color: #fff;
    height: 100%;
    border-radius: 6px;
    position: relative
}

@media (hover: hover) and (pointer:fine) {
    ._3tOA9 ._3nAmt ._2-zjR .I5Evw ._6PuFS:hover:not([disabled]) ._1tosZ {
        opacity:1
    }
}

._3tOA9 ._3nAmt ._2-zjR .I5Evw ._6PuFS ._1tosZ {
    background-color: #fff;
    opacity: 0;
    height: 16px;
    width: 16px;
    border-radius: 16px;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(50%,-5px);
    transition: opacity .2s
}

._3tOA9 ._3nAmt ._2-zjR .I5Evw ._6PuFS ._1tosZ._2cf06 {
    opacity: 1
}
