.Xy7Cq {
    display: flex;
    min-height: 100%;
    background-color: #fff
}

.Xy7Cq._2Hvz3 {
    background-color: #fafafa
}

.d-D-v {
    margin: 0;
    flex-grow: 1
}

._35L_M {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 20px;
    height: 100%;
    background-color: #f7fcff
}

._35L_M ._3BwAr {
    margin-top: 70px;
    max-width: 600px;
    max-height: 300px;
    height: auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 -3px 9px -4px rgba(0,0,0,.15)
}

@media (max-width: 768px) {
    ._35L_M ._3BwAr {
        margin:0 15px;
        max-height: 340px
    }
}

._35L_M ._3BwAr ._3fYz6 {
    background-color: #00bcd7;
    height: 55px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center
}

._35L_M ._3BwAr ._3fYz6 .XnJhz {
    display: flex;
    -webkit-animation: jiPM1 1s forwards;
    animation: jiPM1 1s forwards;
    width: 100px
}

._35L_M ._3BwAr ._3fYz6 .XnJhz._3SEzt {
    -webkit-animation: _2-7SL 1s forwards;
    animation: _2-7SL 1s forwards
}

._35L_M ._3BwAr ._3fYz6 .XnJhz .dCq8z {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: flex-end;
    padding-right: 5px;
    width: 40px
}

._35L_M ._3BwAr ._3fYz6 .XnJhz .dCq8z ._1SrKv {
    border-radius: 20%;
    height: 5px;
    background-color: #fff;
    -webkit-animation: _1wOur 1s forwards;
    animation: _1wOur 1s forwards
}

._35L_M ._3BwAr ._3fYz6 .XnJhz .dCq8z ._1SrKv.qacpT {
    -webkit-animation: _3z0TI 1s forwards;
    animation: _3z0TI 1s forwards
}

._35L_M ._3BwAr ._3fYz6 .XnJhz .dCq8z ._2JGU7 {
    border-radius: 20%;
    height: 5px;
    background-color: #fff;
    -webkit-animation: _3XFjI 1s forwards;
    animation: _3XFjI 1s forwards
}

._35L_M ._3BwAr ._3fYz6 .XnJhz .dCq8z ._2JGU7.qacpT {
    -webkit-animation: _1Koci 1s forwards;
    animation: _1Koci 1s forwards
}

._35L_M ._3BwAr ._3fYz6 .XnJhz .dCq8z ._1uEDk {
    border-radius: 20%;
    height: 5px;
    background-color: #fff;
    -webkit-animation: _1wOur 1s forwards;
    animation: _1wOur 1s forwards
}

._35L_M ._3BwAr ._3fYz6 .XnJhz .dCq8z ._1uEDk.qacpT {
    -webkit-animation: _3z0TI 1s forwards;
    animation: _3z0TI 1s forwards
}

._35L_M ._3BwAr ._3fYz6 .XnJhz i {
    font-size: 45px;
    color: #fff
}

._35L_M ._3BwAr ._3fYz6 .YqL8_ {
    -webkit-animation: _3LTJ7 1s forwards;
    animation: _3LTJ7 1s forwards;
    color: #fff;
    font-family: Fira Sans,sans-serif
}

._35L_M ._3BwAr ._3bscz {
    margin: 30px;
    font-size: .9rem;
    text-align: center;
    line-height: 1.4
}

._35L_M ._3BwAr ._3bscz ._FnSW {
    font-weight: 600
}

._35L_M ._3BwAr ._2QxW1 {
    max-width: 90%;
    display: flex;
    justify-content: space-around;
    margin: 0 auto
}

._35L_M ._3BwAr ._2QxW1._3Cz_0 {
    max-width: 60%
}

@media (max-width: 768px) {
    ._35L_M ._3BwAr ._2QxW1._3Cz_0 {
        max-width:90%
    }
}

._35L_M ._3BwAr ._2QxW1 ._23hkr {
    width: 100px;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 400;
    text-align: center;
    color: #fff
}

._35L_M ._3BwAr ._2QxW1 ._23hkr._10KpH {
    background-color: #4cd964;
    font-size: .9rem;
    border-color: #4cd964
}

@media (max-width: 768px) {
    ._35L_M ._3BwAr ._2QxW1 ._23hkr {
        width:21vw
    }
}

._35L_M ._3BwAr ._2QxW1 ._23hkr i {
    color: #fff
}

.oDpqK {
    width: 100%;
    max-width: 800px
}

.oDpqK ._39nCl {
    width: 100%;
    padding: 20px 0
}

@media (max-width: 768px) {
    .oDpqK ._39nCl {
        min-width:100%;
        padding: 20px 15px 40px
    }
}

._2FaLx a {
    text-decoration: none;
    color: #43a6f7
}

._2FaLx p {
    font-size: .9rem
}

._2FaLx small,._3zHna {
    text-align: center;
    font-size: 12px
}

h3._35Q5r {
    margin-bottom:30px;
}
._35Q5r,.qSp8g {
    text-align: center
}

._3ja5D {
    height: 22px
}

._3ja5D ._14LDI {
    font-size: 14px;
    color: #484848;
    padding: 0 4px;
    overflow: hidden;
    display: flex;
    align-items: center
}

._3ja5D ._14LDI span {
    color: #43a6f7;
    text-transform: lowercase;
    font-weight: 600
}

._3OaS_ {
    position: relative
}

._3IVL2 {
    position: relative
}

._3IVL2 span {
    position: absolute;
    right: 10px;
    top: 12px;
    font-size: 12px
}

._3IVL2 input {
    padding-right: 60px
}

._2FaLx small,._3zHna {
    text-align: center;
    font-size: 12px
}

._3zHna {
    padding: 5px;
}

._3okTB textarea {
    min-height: 150px
}

._2L0QM {
    position: relative
}

._3Y1DE {
    position: relative
}

._3Y1DE span {
    position: absolute;
    right: 10px;
    bottom: 6px;
    font-size: 12px
}

._3Y1DE textarea {
    padding-right: 60px
}

._35Q5r,.qSp8g {
    text-align: center
}

.qSp8g button {
    width: 300px
}

.oDpqK ._39nCl {
    width: 100%;
    padding: 20px 0
}

@media (max-width: 768px) {
    .oDpqK ._39nCl {
        min-width:100%;
        padding: 20px 15px 40px
    }
}

.oDpqK._2hZem {
    max-width: 1200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 48px
}

.oDpqK._2hZem ._39nCl {
    overflow: auto;
    width: 100%;
    padding: 20px 0;
    max-height: 100%
}

.oDpqK._2hZem {
    max-width: 1200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 48px
}

.oDpqK._2hZem ._39nCl {
    overflow: auto;
    width: 100%;
    padding: 20px 0;
    max-height: 100%
}

.oDpqK._2hZem .fiGrP {
    padding: 0 20px
}

@media (max-width: 768px) {
    .oDpqK._2hZem .fiGrP {
        font-size:10px;
        padding: 0 10px
    }
}

._3TZuM {
    display: flex;
    width: auto;
    max-width: 480px;
    margin-right: auto;
    margin-bottom: 16px;
    margin-left: auto
}

.fiGrP {
    flex: 1 0 auto;
    position: relative;
    cursor: pointer;
    text-align: center;
    color: #5f5f5f;
    font-size: 12px
}

.fiGrP i {
    margin-top: 5px;
    font-size: 22px
}

.fiGrP._3NoNF,.fiGrP._3NoNF i {
    color: #b0b0b0
}

.fiGrP._3NoNF:after,.fiGrP._3NoNF:before {
    background-color: #b0b0b0!important
}

.fiGrP+.fiGrP:before,.fiGrP:not(:last-child):after {
    position: absolute;
    bottom: 10px;
    height: 2px;
    width: 50%;
    content: "";
    background-color: #5f5f5f
}

.fiGrP._2VOSd:after {
    background-color: #b0b0b0
}

.fiGrP:not(:first-child):before {
    right: 100%;
    left: -10px
}
._3p3HE {
    display: flex;
    flex-direction: column;
    align-items: center;
    h3 {margin-bottom:30px;}
}
._2T6NR,._3ppHg {
    width: 200px
}
.jXV_X {
    position: relative
}
._3D0Ey ._2cWkj {
    top: auto;
    background-color: rgba(0,0,0,.65)
}

._3D0Ey ._2cWkj._3Nzik {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px
}

._3D0Ey._2mU96 ._2cWkj {
    top: 0
}

._3D0Ey ._10ou_ {
    padding: 15px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center
}

._3D0Ey ._10ou_ i {
    font-size: 14px
}

._3D0Ey ._29Vm8 {
    color: #fff;
    font-size: 14px;
    display: inline-block;
    margin-left: 15px
}

._2Qfkt {
    position: relative
}

._2VLG2 {
    width: .1px;
    height: .1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1
}

._97oLK {
    cursor: pointer
}

._97oLK ._1_Fg0 {
    padding-top: 2px
}

._97oLK ._1_Fg0 div {
    background-color: #43a6f7;
    height: 2px
}
._3ppHg {
    background-color: #fff;
    height: 200px;
    border: 2px solid #fff;
    background-size: cover;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);
    transition: all .3s ease
}
._2cWkj {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.4);
    transition: background-color .3s
}

._2cWkj,._10ou_ {
    display: flex;
    align-items: center;
    justify-content: center
}

._2cWkj,._10ou_ {
    display: flex;
    align-items: center;
    justify-content: center
}

._10ou_ {
    font-size: 32px;
    flex-direction: column;
    width: 100%
}

._10ou_ i {
    font-size: 32px;
    color: #fff
}
._3s2LY {
    margin-top: 20px
}
._2FaLx {
    .col-xs,.col-xs-1,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-offset-0,.col-xs-offset-1,.col-xs-offset-2,.col-xs-offset-3,.col-xs-offset-4,.col-xs-offset-5,.col-xs-offset-6,.col-xs-offset-7,.col-xs-offset-8,.col-xs-offset-9,.col-xs-offset-10,.col-xs-offset-11,.col-xs-offset-12 {
        box-sizing: border-box;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        padding-right: .5rem;
        padding-left: .5rem
    }
  
    .col-xs-12 {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        max-width: 100%
    }
}