.Xy7Cq {
    display: flex;
    min-height: 100%;
    background-color: #fff
}

.Xy7Cq._2Hvz3 {
    background-color: #fafafa
}
.d-D-v {
    margin: 0;
    flex-grow: 1
}

._32le7 {
    width: 100%;
    position: relative
}

._32le7._3XLOv ._2dXIz {
    margin-bottom: 6px
}

._1PGcb {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #e6e6e6;
    background-color: hsla(0,0%,100%,.98);
    padding: 10px
}

@media (max-width: 768px) {
    ._1PGcb {
        padding:8px
    }
}

._1PGcb ._2gFpT {
    position: absolute;
    text-decoration: none;
    top: 50%;
    transform: translateY(-50%);
    left: 30px
}

@media (max-width: 768px) {
    ._1PGcb ._2gFpT {
        left:15px
    }
}

._1PGcb ._2gFpT i {
    color: #43a6f7;
    font-size: 2rem
}

@media (max-width: 768px) {
    ._1PGcb ._2gFpT i {
        font-size:1.2rem
    }
}

._1PGcb ._2jU66 {
    position: absolute;
    text-decoration: none;
    top: 50%;
    transform: translateY(-50%);
    right: 30px
}

@media (max-width: 768px) {
    ._1PGcb ._2jU66 {
        right:15px
    }
}

._1PGcb ._2jU66 i {
    color: #43a6f7;
    font-size: 2rem
}

@media (max-width: 768px) {
    ._1PGcb ._2jU66 i {
        font-size:1.2rem
    }
}
._32le7._3XLOv ._2dXIz {
    margin-bottom: 6px
}

._2dXIz {
    font-size: 20px;
    font-family: Open Sans,sans-serif;
    color: #484848;
    font-weight: 700;
    margin-bottom: 10px;
    max-width: 800px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.4
}

@media (max-width: 768px) {
    ._2dXIz {
        max-width:70vw
    }
}
._2Tv99 {
    display: flex;
    justify-content: center
}
._2yAZ8 {
    display: flex;
    font-size: .8rem;
    justify-content: center
}

._2yAZ8 span {
    color: rgba(0,0,0,.5)
}
._1q_3M {
    color: #43a6f7
}

._1q_3M,._22oRs {
    text-decoration: none
}

._1YcZ5 {
    margin: 0 6px
}

._2qRxn {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px
}

@media (max-width: 768px) {
    ._2qRxn {
        margin-top:10px
    }
}

.nRSk6 {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    margin-top: 2vh;
    margin-bottom: 100px
}

@media screen and (max-width: 800px) {
    .nRSk6 {
        max-width:100vw;
        padding: 10px;
        margin-top: 0
    }
}

.nRSk6 ._2FQeS {
    padding-bottom: 25px;
    border-bottom: 1px solid #4848482a
}

@media screen and (max-width: 800px) {
    .nRSk6 ._2FQeS {
        width:100%
    }
}

.nRSk6 ._3geHA {
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #4848482a
}

.nRSk6 .gKiJN {
    display: flex;
    flex-direction: row;
    max-width: 800px;
    justify-content: space-between
}

@media screen and (max-width: 800px) {
    .nRSk6 .gKiJN {
        flex-direction:column
    }
}

.nRSk6 .gKiJN ._3AWga {
    margin-right: 20px;
    width: 280px;
    line-height: 1.5
}

@media screen and (max-width: 800px) {
    .nRSk6 .gKiJN ._3AWga {
        margin-right:0;
        width: 100%
    }

    .nRSk6 .gKiJN ._3AWga ._3Tp-V {
        width: 100%
    }
}

.nRSk6 .gKiJN ._3AWga ._3KzZJ {
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 1rem
}

.nRSk6 .gKiJN ._3AWga ._3Tp-V {
    font-size: .9rem
}

@media screen and (max-width: 800px) {
    .nRSk6 .gKiJN ._3AWga ._3Tp-V {
        margin-bottom:20px
    }
}

.nRSk6 .gKiJN ._3AWga ._3Lxaq {
    font-size: .9rem
}

.nRSk6 .gKiJN ._3AWga ._3Zi0u {
    text-align: center
}

@media screen and (max-width: 800px) {
    .nRSk6 .gKiJN ._3AWga ._3Zi0u {
        padding-bottom:20px
    }
}

.nRSk6 .gKiJN ._3AWga ._3Zi0u .g84JP {
    border-radius: 5px;
    color: #fff;
    background-color: #43a6f7;
    padding: 7px 15px;
    margin: 0 auto;
    transition: background-color .2s;
    font-size: .95rem;
    margin-bottom: 20px;
    text-decoration: none
}

@media (hover: hover) {
    .nRSk6 .gKiJN ._3AWga ._3Zi0u .g84JP:hover {
        background-color:#128ff5;
        cursor: pointer
    }
}

.nRSk6 .gKiJN ._310s5 {
    width: 650px;
    height: fit-content;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    box-shadow: 0 0 4px rgba(0,0,0,.1);
    border-radius: 10px
}

@media screen and (max-width: 800px) {
    .nRSk6 .gKiJN ._310s5 {
        width:100%
    }
}

.nRSk6 .gKiJN ._310s5 ._3ISif {
    margin-top: 20px
}

.nRSk6 .gKiJN ._310s5 ._3HNAj {
    display: flex;
    justify-content: space-between
}

.nRSk6 .gKiJN ._310s5 ._3HNAj .SQlGC {
    width: 48%
}

.nRSk6 .gKiJN ._310s5 ._3HNAj .SQlGC ._3ywmO {
    font-size: .8rem
}

.nRSk6 .gKiJN ._310s5 ._3HNAj .SQlGC ._2gNOM {
    margin-top: 5px;
    font-size: .8rem;
    color: #4848489d;
    width: 100%
}

@media screen and (max-width: 800px) {
    .nRSk6 .gKiJN ._310s5 ._3HNAj {
        flex-direction:column
    }

    .nRSk6 .gKiJN ._310s5 ._3HNAj .SQlGC {
        width: 100%
    }

    .nRSk6 .gKiJN ._310s5 ._3HNAj .SQlGC:last-child {
        margin-top: 10px
    }
}

.nRSk6 .gKiJN ._1cW_1 {
    width: 100%
}

.nRSk6 .gKiJN ._1cW_1._1jz68 {
    width: 650px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    box-shadow: 0 0 4px rgba(0,0,0,.1);
    border-radius: 10px
}

@media screen and (max-width: 800px) {
    .nRSk6 .gKiJN ._1cW_1._1jz68 {
        width:100%
    }
}

.nRSk6 .gKiJN ._1cW_1._3fW4O {
    display: flex
}

.nRSk6 .gKiJN ._1cW_1._3fW4O ._6FRNE {
    width: 100%;
    margin-left: 15px
}

.nRSk6 .gKiJN ._1cW_1 ._3ywmO {
    font-size: .8rem
}

.nRSk6 .gKiJN ._1cW_1 ._2Ebld {
    background-color: transparent;
    font-size: .9rem;
    border: none;
    outline: none;
    min-width: 160px
}

.nRSk6 .gKiJN ._1dgwY {
    padding: 0 13px 12px 2px;
    width: 500px
}

@media screen and (max-width: 800px) {
    .nRSk6 .gKiJN ._1dgwY {
        width:100%
    }
}

.nRSk6 ._2cUfA {
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center
}

.nRSk6 ._2cUfA .J3rqa {
    font-size: .85rem;
    color: #484848b7
}

.nRSk6 ._2cUfA ._3lPNg {
    border-radius: 5px;
    color: #fff;
    background-color: #43a6f7;
    padding: .5rem 1rem;
    margin-left: 15px
}

.nRSk6 ._2cUfA ._3lPNg i {
    color: #fff
}

@media (hover: hover) {
    .nRSk6 ._2cUfA ._3lPNg:hover {
        background-color:#128ff5
    }
}

.nRSk6 ._2cUfA ._3lPNg:disabled {
    background-color: #8cc9fa
}

.nRSk6 ._2cUfA ._1cfv0 {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: .5rem 1rem
}

@media (hover: hover) {
    .nRSk6 ._2cUfA ._1cfv0:hover {
        cursor:pointer;
        background-color: #e6e6e6
    }
}
.C3IP9 {
    margin-bottom: 15px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    box-shadow: 0 0 4px rgba(0,0,0,.1);
    border-radius: 10px
}

.C3IP9._1qc0p {
    pointer-events: none
}

@media screen and (max-width: 800px) {
    .C3IP9 {
        max-width:207px;
        margin: 0 auto 15px
    }
}

.C3IP9 ._1EF87 {
    border-radius: 5px;
    height: 175px;
    width: 175px;
    width: auto;
    background-size: cover
}
.jXV_X {
    position: relative
}
._3D0Ey ._2cWkj {
    top: auto;
    background-color: rgba(0,0,0,.65)
}

._3D0Ey ._2cWkj._3Nzik {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px
}

._3D0Ey._2mU96 ._2cWkj {
    top: 0
}

._3D0Ey ._10ou_ {
    padding: 15px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center
}

._3D0Ey ._10ou_ i {
    font-size: 14px
}

._3D0Ey ._29Vm8 {
    color: #fff;
    font-size: 14px;
    display: inline-block;
    margin-left: 15px
}
._2Qfkt {
    position: relative
}
._97oLK ._1_Fg0 {
    width: 95%
}
.C3IP9 ._1EF87 {
    border-radius: 5px;
    height: 175px;
    width: 175px;
    width: auto;
    background-size: cover
}
._2cWkj {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.4);
    transition: background-color .3s
}

._2cWkj,._10ou_ {
    display: flex;
    align-items: center;
    justify-content: center
}
._2mU96 ._2cWkj {
    background-color: #484848
}

._3D0Ey ._2cWkj {
    top: auto;
    background-color: rgba(0,0,0,.65)
}

._3D0Ey ._2cWkj._3Nzik {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px
}

._3D0Ey._2mU96 ._2cWkj {
    top: 0
}

._3D0Ey ._10ou_ {
    padding: 15px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center
}

._3D0Ey ._10ou_ i {
    font-size: 14px
}
._2cWkj,._10ou_ {
    display: flex;
    align-items: center;
    justify-content: center
}

._10ou_ {
    font-size: 32px;
    flex-direction: column;
    width: 100%
}

._10ou_ i {
    font-size: 32px;
    color: #fff
}
._3OXwr {
    width: 100%;
    border: 1px solid #d9d9d9;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    line-height: 38px;
    padding-left: 10px;
    padding-right: 10px;
}