.wrapper_footer {
    background-color: #fff
}
._1cFns ._1-lgb,._1cFns ._35MZs,._2GtrN ._1-lgb,._2GtrN ._35MZs {
    font-size: .875rem;
    font-weight: 600;
    color: #1e1e1e
}

._1cFns ._35MZs,._2GtrN ._35MZs {
    font-weight: 400;
    margin-top: 16px;
    color: #757575;
    text-decoration: none;
    display: flex;
    align-items: center
}

._1cFns ._35MZs._3TMK5,._2GtrN ._35MZs._3TMK5 {
    white-space: nowrap
}

._1cFns ._35MZs ._1GA_y,._2GtrN ._35MZs ._1GA_y {
    color: #757575;
    font-size: .6rem;
    margin-top: 1px;
    margin-right: 2px
}

._1cFns ._35MZs._3JVxT,._2GtrN ._35MZs._3JVxT {
    margin-top: 0
}

._1cFns .lgdvI,._2GtrN .lgdvI {
    display: flex;
    flex-direction: column
}

@media (max-width: 768px) {
    ._1cFns .lgdvI,._2GtrN .lgdvI {
        flex-direction:row;
        column-gap: 100px
    }

    ._1cFns .lgdvI ._1zYTj,._2GtrN .lgdvI ._1zYTj {
        height: 126px;
        display: block
    }
}

@media (max-width: 768px) {
    ._1cFns ._1zYTj,._2GtrN ._1zYTj {
        display:none
    }
}

._1cFns .GRawn,._2GtrN .GRawn {
    margin-top: 16px;
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 16px
}

._1cFns ._14AJH,._2GtrN ._14AJH {
    margin-top: 40px;
    display: flex;
    column-gap: 16px;
    flex-grow: 1;
    align-items: flex-end
}

._1cFns ._14AJH._2F_JQ,._2GtrN ._14AJH._2F_JQ {
    display: none;
    margin-top: 0
}

@media (max-width: 768px) {
    ._1cFns ._14AJH._2F_JQ,._2GtrN ._14AJH._2F_JQ {
        display:flex
    }
}

._1cFns ._14AJH .XELKK,._2GtrN ._14AJH .XELKK {
    height: 20px;
    width: 20px
}

._1cFns ._14AJH .XELKK img,._2GtrN ._14AJH .XELKK img {
    height: 100%;
    width: 100%;
    object-fit: contain
}

@media (max-width: 768px) {
    ._1cFns ._3x9DE ._14AJH,._2GtrN ._3x9DE ._14AJH {
        display:none
    }
}

._1cFns ._3a3ZB,._2GtrN ._3a3ZB {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 56px
}
/**/
@media (max-width: 768px) {
    ._1cFns ._3x9DE ._14AJH,._2GtrN ._3x9DE ._14AJH {
        display:none
    }
}
/**/
._1cFns ._35MZs._3TMK5,._2GtrN ._35MZs._3TMK5 {
    white-space: nowrap
}

._1cFns ._35MZs ._1GA_y,._2GtrN ._35MZs ._1GA_y {
    color: #757575;
    font-size: .6rem;
    margin-top: 1px;
    margin-right: 2px
}

._1cFns ._35MZs._3JVxT,._2GtrN ._35MZs._3JVxT {
    margin-top: 0
}
/**/
.Os6LV .ikzbg {
    margin-top: 24px;
    position: relative
}

.Os6LV .ikzbg ._2cuE8 {
    display: flex;
    width: 100%
}

.Os6LV .ikzbg._3zCa9 {
    opacity: .5;
    pointer-events: none;
    cursor: not-allowed
}

.Os6LV ._3B6eQ {
    display: flex;
    font-size: 1rem;
    line-height: 1.125;
    margin-top: 24px;
    align-items: center
}

.Os6LV ._3B6eQ i {
    color: #f74356;
    margin-right: 8px
}

.Os6LV .H1orp {
    height: 48px;
    max-width: 360px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    font-size: 1rem;
    margin-right: 8px;
    line-height: 1.125
}

.Os6LV .H1orp._3zoxG {
    border-color: #f74356
}

.Os6LV .H1orp::placeholder {
    font-size: 1rem;
    color: #757575
}

.Os6LV .H1orp:focus {
    border-color: #1e1e1e;
    outline: none;/*add*/
}

.Os6LV ._3pY-h {
    height: 48px;
    background-color: #f74356;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 108px;
    font-weight: 600;
    color: #fff;
    font-size: 1rem;
    line-height: 1.125;
    cursor: pointer
}

@media (hover: hover) and (pointer:fine) {
    .Os6LV ._3pY-h:hover:not([disabled]) {
        background-color:#f5122a;
        border-color: #f5122a
    }
}

.Os6LV ._1gDBA {
    color: #f74356;
    font-size: .75rem;
    position: static;
    margin-top: 10px
}
/**/
._1cFns ._14AJH,._2GtrN ._14AJH {
    margin-top: 40px;
    display: flex;
    column-gap: 16px;
    flex-grow: 1;
    align-items: flex-end
}

._1cFns ._14AJH._2F_JQ,._2GtrN ._14AJH._2F_JQ {
    display: none;
    margin-top: 0
}

@media (max-width: 768px) {
    ._1cFns ._14AJH._2F_JQ,._2GtrN ._14AJH._2F_JQ {
        display:flex
    }
}

._1cFns ._14AJH .XELKK,._2GtrN ._14AJH .XELKK {
    height: 20px;
    width: 20px
}

._1cFns ._14AJH .XELKK img,._2GtrN ._14AJH .XELKK img {
    height: 100%;
    width: 100%;
    object-fit: contain
}

@media (max-width: 768px) {
    ._1cFns ._3x9DE ._14AJH,._2GtrN ._3x9DE ._14AJH {
        display:none
    }
}
/**/
._1cFns ._14AJH .XELKK,._2GtrN ._14AJH .XELKK {
    height: 20px;
    width: 20px
}

._1cFns ._14AJH .XELKK img,._2GtrN ._14AJH .XELKK img {
    height: 100%;
    width: 100%;
    object-fit: contain
}
/**/
._1cFns .GRawn,._2GtrN .GRawn {
    margin-top: 16px;
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 16px
}

._1cFns .GRawn ._35MZs,._2GtrN .GRawn ._35MZs {
    margin-top: unset
}
/**/
._1cFns ._1-lgb,._1cFns ._35MZs,._2GtrN ._1-lgb,._2GtrN ._35MZs {
    font-size: .875rem;
    font-weight: 600;
    color: #1e1e1e
}

._1cFns ._35MZs,._2GtrN ._35MZs {
    font-weight: 400;
    margin-top: 16px;
    color: #757575;
    text-decoration: none;
    display: flex;
    align-items: center
}

._1cFns ._35MZs._3TMK5,._2GtrN ._35MZs._3TMK5 {
    white-space: nowrap
}

._1cFns ._35MZs ._1GA_y,._2GtrN ._35MZs ._1GA_y {
    color: #757575;
    font-size: .6rem;
    margin-top: 1px;
    margin-right: 2px
}

._1cFns ._35MZs._3JVxT,._2GtrN ._35MZs._3JVxT {
    margin-top: 0
}
/**/
.standaloneTextButton {
    color: #757575;
    cursor: pointer
}

@media (hover: hover) and (pointer:fine) {
    .standaloneTextButton:hover:not([disabled]) {
        color:#1e1e1e!important
    }
}
/**/
._1cFns .lgdvI ._1zYTj,._2GtrN .lgdvI ._1zYTj {
    display: none
}

@media (max-width: 768px) {
    ._1cFns .lgdvI,._2GtrN .lgdvI {
        flex-direction:row;
        column-gap: 100px
    }

    ._1cFns .lgdvI ._1zYTj,._2GtrN .lgdvI ._1zYTj {
        height: 126px;
        display: block
    }
}

._1cFns ._1zYTj,._2GtrN ._1zYTj {
    height: 124px;
    width: auto
}

@media (max-width: 768px) {
    ._1cFns ._1zYTj,._2GtrN ._1zYTj {
        display:none
    }
}
/**/
._1cFns ._14AJH,._2GtrN ._14AJH {
    margin-top: 40px;
    display: flex;
    column-gap: 16px;
    flex-grow: 1;
    align-items: flex-end
}

._1cFns ._14AJH._2F_JQ,._2GtrN ._14AJH._2F_JQ {
    display: none;
    margin-top: 0
}

@media (max-width: 768px) {
    ._1cFns ._14AJH._2F_JQ,._2GtrN ._14AJH._2F_JQ {
        display:flex
    }
}

._1cFns ._14AJH .XELKK,._2GtrN ._14AJH .XELKK {
    height: 20px;
    width: 20px
}

._1cFns ._14AJH .XELKK img,._2GtrN ._14AJH .XELKK img {
    height: 100%;
    width: 100%;
    object-fit: contain
}

@media (max-width: 768px) {
    ._1cFns ._3x9DE ._14AJH,._2GtrN ._3x9DE ._14AJH {
        display:none
    }
}
/**/
._1cFns ._14AJH .XELKK,._2GtrN ._14AJH .XELKK {
    height: 20px;
    width: 20px
}

._1cFns ._14AJH .XELKK img,._2GtrN ._14AJH .XELKK img {
    height: 100%;
    width: 100%;
    object-fit: contain
}
/**/
._1cFns,._2GtrN {
    display: flex;
    padding: 56px 100px;
    border-top: 1px solid #d9d9d9;
    justify-content: space-between;
    column-gap: 32px
}

@media (max-width: 768px) {
    ._1cFns,._2GtrN {
        flex-direction:column;
        padding: 32px 16px;
        row-gap: 32px
    }
}
/**/
._1cFns {
    padding: 24px 100px;
    column-gap: 16px;
    justify-content: center
}

@media (max-width: 768px) {
    ._1cFns {
        flex-direction:row;
        padding: 24px 16px;
        column-gap: unset;
        justify-content: space-between
    }
}

._1cFns ._35MZs {
    min-width: unset
}
