#outer-container {
    .live-menu-wrap {
        position: absolute; 
        right: 0px; 
        z-index: 1002; 
        width: 400px; 
        height: 100%; 
        transition: all 0.5s ease 0s;
        @media (max-width: 768px) {
            width: 100%;
        }
        @media (min-width: 769px) {
            &.showLeft {
                -webkit-animation: liveOn 0.5s both; animation: liveOn 0.5s both; -webkit-animation-timing-function: easeInOutQuint; animation-timing-function: easeInOutQuint;
            }
            &.offSlide {
                -webkit-animation: liveOff 0.5s both; animation: liveOff 0.5s both; -webkit-animation-timing-function: easeInOutQuint; animation-timing-function: easeInOutQuint;
            }
        }
    }
}

._2jLqp,._2PwXm {
    height: 100%
}

._2jLqp {
    padding-top: 50px
}

._3-s0- {
    height: 100%;
    padding-left: 10px;
    padding-right: 10px
}

@media (min-width: 769px) {
    ._3-s0- {
        width:100%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
        padding-right: 0
    }
}

.XUzih ._3-s0- {
    width: 100%;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0
}
/**/
._1Q26Y {
    padding-left: 0!important;
    padding-right: 0!important
}
/*_3WXVr Start*/
._3WXVr {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #000
}

._3WXVr.IPF-e {
    background-color: #f7fcff
}

._3WXVr .t7kLl {
    height: 100%
}

._3WXVr .t7kLl ._1rzsn {
    padding: 15px;
    height: 100%;
    overflow: auto
}

._3WXVr .t7kLl._3LJ5e {
    height: 100%
}

._3WXVr .AN2HK {
    position: fixed;
    top: 60px;
    left: 10px;
    z-index: 10;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #d9d9d9;
    box-shadow: 0 0 4px rgba(28,28,30,.1);
    cursor: auto;
    padding: 15px
}

._3WXVr .AN2HK.IPF-e {
    width: calc(100% - 20px)
}

._3WXVr .e5CHi {
    position: absolute;
    top: 0;
    right: auto;
    left: auto;
    background-color: #facf09;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px 15px;
    z-index: 199;
    height: auto;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px
}

._3WXVr .e5CHi.IPF-e a {
    font-weight: 600;
    font-size: .8rem
}

._3WXVr .e5CHi a {
    display: flex;
    align-items: center;
    color: rgba(0,0,0,.7);
    text-decoration: none;
    font-size: 1rem
}

._3WXVr .e5CHi a i {
    color: rgba(0,0,0,.7);
    font-size: 1.15rem;
    margin-right: 12px
}

@media (hover: hover) and (pointer:fine) {
    ._3WXVr .e5CHi a:hover:not([disabled]),._3WXVr .e5CHi a:hover:not([disabled]) i {
        color:#000
    }
}

._3WXVr .MWj1A {
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column
}

._3WXVr .MWj1A .q432a {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
    z-index: 1;
    background-color: #fff
}

@media screen and (orientation: landscape) {
    ._3WXVr .MWj1A .q432a {
        display:none
    }
}

._3WXVr .MWj1A .Z5VkN {
    flex-direction: column;
    padding: 0 15px;
    background-color: #fff;
    overflow: hidden;
    display: flex;
    flex: 1;
    padding: 0;
    position: relative
}

@media screen and (orientation: landscape) {
    ._3WXVr .MWj1A .Z5VkN {
        display:none
    }
}

._3WXVr .MWj1A ._3823o {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 10px;
    width: 100%
}

._3WXVr .MWj1A ._3823o.qWgfH {
    padding: 10px;
    padding-bottom: 0;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    align-items: center;
    align-items: flex-start
}

._3WXVr .MWj1A ._3823o.qWgfH::-webkit-scrollbar {
    display: none!important
}

._3WXVr .MWj1A ._3823o ._3QODM {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 15px;
    height: 52px;
    position: relative;
    z-index: 1;
    flex-shrink: 0
}

._3WXVr .MWj1A ._3823o ._3QODM ._6Zxxv {
    font-size: .8rem;
    font-weight: 600;
    font-family: Fira Sans,sans-serif
}

._3WXVr .MWj1A ._3823o ._3QODM .ntvW0 {
    font-size: .7rem;
    margin-top: 5px;
    color: #757575
}

._3WXVr .MWj1A .Kmp12 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%
}

._3WXVr .MWj1A .Kmp12.IPF-e {
    height: 0;
    padding-top: 56.25%
}

@media screen and (orientation: landscape) {
    ._3WXVr .MWj1A .Kmp12.IPF-e {
        padding-top:0
    }
}

._3WXVr .MWj1A .Kmp12 ._2dAUU {
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    max-height: calc(100vh - 50px);
    height: calc(100vh - 50px);
    box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
    transition: all .3s cubic-bezier(.25,.8,.25,1);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    min-width: 100%
}

._3WXVr .MWj1A .Kmp12 ._2dAUU.IPF-e {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    transition: height 0s
}

@media screen and (orientation: landscape) {
    ._3WXVr .MWj1A .Kmp12 ._2dAUU.IPF-e {
        height:calc(100vh - 50px)!important
    }
}

._3WXVr .MWj1A .Kmp12 ._2dAUU ._6gcP {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center
}

._3WXVr .wNT4g {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0 60px 30px 20px;
    transition: all .4s;
    transition: all .5s ease 0s;
    pointer-events: none
}

@media (max-width: 1024px) {
    ._3WXVr .wNT4g {
        padding:0 20px 30px
    }
}

@media (max-width: 768px) {
    ._3WXVr .wNT4g {
        padding:0 15px 15px
    }
}

@media (max-width: 428px) {
    ._3WXVr .wNT4g {
        padding:0 12px 12px
    }
}

._3WXVr .wNT4g._2h8q- {
    bottom: 0
}

@media screen and (orientation: portrait) {
    ._3WXVr .wNT4g.IPF-e {
        display:none
    }
}

._3WXVr .wNT4g ._27utF {
    align-items: center;
    width: 100%;
    justify-content: space-between;
    position: relative;
    margin-bottom: 0
}

._3WXVr ._3yd-u,._3WXVr .wNT4g ._27utF {
    display: flex;
    transition: all .15s ease-in-out
}

._3WXVr ._3yd-u {
    position: absolute;
    bottom: 100px;
    right: 0;
    max-width: 100%;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0 60px
}

._3WXVr ._3yd-u._3w0Lh {
    display: none
}

._3WXVr ._2jscc {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 200px;
    padding: 30px 60px 0 20px;
    pointer-events: none;
    transition: all .5s ease 0s
}

@media (max-width: 1024px) {
    ._3WXVr ._2jscc {
        padding:30px 30px 0
    }
}

@media (max-width: 768px) {
    ._3WXVr ._2jscc {
        padding:15px 15px 0
    }
}

@media (max-width: 428px) {
    ._3WXVr ._2jscc {
        padding:12px 12px 0
    }
}

@media (max-height: 414px) {
    ._3WXVr ._2jscc {
        padding:15px 15px 0
    }
}

._3WXVr ._2jscc._2h8q- {
    background: none
}

._3WXVr ._2jscc ._2DM94 {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center
}

@media screen and (orientation: portrait) {
    ._3WXVr ._2jscc ._2DM94.IPF-e {
        justify-content:flex-end
    }
}

._3WXVr ._2jscc ._2DM94 ._1Zry6 {
    margin-left: 4px
}

._3WXVr ._2Lx7c {
    font-size: .9rem;
    font-weight: 600;
    margin: 15px 0;
    padding-left: 15px
}

._3WXVr ._1Sh63 {
    transition: all .15s ease-in-out;
    padding: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #d9d9d9
}

._3WXVr ._1Sh63 .zAyxP {
    display: flex;
    align-items: center
}

._3WXVr ._1Sh63._2DHcJ {
    border-bottom: none;
    margin-bottom: 0;
    padding: 0 15px 15px;
    display: flex
}

._3WXVr ._1Sh63._2DHcJ:last-child {
    border-bottom: 1px solid #d9d9d9
}

._3WXVr ._1Sh63._2DHcJ ._22yBj {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1
}

._3WXVr ._1Sh63._13eE3 {
    border: none;
    margin-bottom: 0;
    padding: 0;
    display: flex
}

@media (min-width: 769px) {
    ._3WXVr ._1Sh63 {
        flex:1
    }
}

@media (max-width: 768px) {
    ._3WXVr ._1Sh63 {
        overflow:hidden;
        transition: all .15s ease-in-out;
        height: auto;
        margin-bottom: 0
    }
}

._3WXVr ._1Sh63._2lSzP {
    height: 60px;
    align-items: flex-start
}

@media screen and (orientation: portrait) {
    ._3WXVr ._1Sh63._2lSzP {
        display:none
    }
}

._3WXVr ._1Sh63 ._1EfBb {
    display: flex;
    align-items: center;
    font-size: .8rem;
    width: 100%;
    max-width: 100%;
    padding-top: 10px
}

._3WXVr ._1Sh63 ._1EfBb ._1VFQ7 {
    width: 65px;
    height: 20px;
    border-radius: 3px;
    margin-right: 20px;
    background-color: #f74356;
    color: #fff;
    font-size: .8rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center
}

@media (max-width: 768px) {
    ._3WXVr ._1Sh63 ._1EfBb ._1VFQ7 {
        width:35px;
        margin-right: 15px
    }
}

._3WXVr ._1Sh63 ._3KLE- {
    transition: all .3s ease-out
}

._3WXVr ._1Sh63 ._3KLE-._2h8q- {
    opacity: 0
}

._3WXVr ._1Sh63 ._3KLE- .YatIe {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 66px;
    min-width: 66px;
    height: 66px;
    min-height: 66px;
    margin-right: 20px;
    outline: none;
    pointer-events: auto!important;
    transition: all .3s ease-out
}

._3WXVr ._1Sh63 ._3KLE- .YatIe._2HGwY {
    width: 35px;
    min-width: 35px;
    height: 35px;
    min-height: 35px
}

._3WXVr ._1Sh63 ._3KLE- .YatIe._13eE3 {
    box-shadow: 0 0 4px 0 rgba(0,0,0,.5)
}

._3WXVr ._1Sh63 ._3KLE- .YatIe.rmDET {
    width: 35px;
    min-width: 35px;
    height: 35px;
    min-height: 35px;
    margin-right: 10px
}

._3WXVr ._1Sh63 ._3KLE- .YatIe._2h8q- {
    opacity: 0;
    width: 0;
    min-width: 0;
    height: 0;
    min-height: 0;
    margin-right: 0
}

@media (max-width: 768px) {
    ._3WXVr ._1Sh63 ._3KLE- .YatIe {
        width:45px;
        min-width: 45px;
        height: 45px;
        min-height: 45px;
        margin-right: 15px
    }
}

@media (max-height: 414px) {
    ._3WXVr ._1Sh63 ._3KLE- .YatIe {
        width:45px;
        min-width: 45px;
        height: 45px;
        min-height: 45px;
        margin-right: 15px
    }
}

@media (hover: hover) {
    ._3WXVr ._1Sh63 ._3KLE- .YatIe:hover {
        box-shadow:0 0 4px 0 rgba(0,0,0,.5)
    }
}

._3WXVr ._1Sh63 ._22yBj {
    display: flex;
    position: relative;
    flex-grow: 1
}

._3WXVr ._1Sh63 ._22yBj._13eE3 {
    flex-direction: column;
    flex-grow: 0
}

._3WXVr ._1Sh63 ._22yBj.IPF-e {
    flex-direction: row;
    width: 100%;
    justify-content: space-between
}

@media screen and (orientation: landscape) {
    ._3WXVr ._1Sh63 ._22yBj.IPF-e {
        justify-content:flex-start
    }
}

._3WXVr ._1Sh63 ._22yBj ._7kCzj {
    font-weight: 300
}

._3WXVr ._1Sh63 ._22yBj ._3xeco {
    transition: all .3s ease-out;
    display: flex;
    align-items: center
}

._3WXVr ._1Sh63 ._22yBj ._3xeco._2h8q- {
    opacity: .8;
    margin: 0!important
}

._3WXVr ._1Sh63 ._22yBj ._3xeco.YEDGF {
    opacity: 0;
    display: none
}

._3WXVr ._1Sh63 ._22yBj ._3xeco.IPF-e {
    margin-top: 0;
    margin-left: 15px
}

._3WXVr ._1Sh63 ._22yBj ._3xeco ._2Q8HV,._3WXVr ._1Sh63 ._22yBj ._3xeco .SbIZq {
    font-size: .8rem;
    padding: 3px 10px;
    cursor: pointer!important;
    font-weight: 400;
    text-decoration: none;
    transition-duration: .1s;
    pointer-events: auto!important;
    text-align: center;
    line-height: 1.15rem;
    height: 30px;
    display: flex!important;
    justify-content: center;
    align-items: center;
    min-width: 30px;
    border-radius: 50px;
    background-color: #e6e6e6;
    color: #484848;
    white-space: nowrap
}

@media (hover: hover) and (pointer:fine) {
    ._3WXVr ._1Sh63 ._22yBj ._3xeco ._2Q8HV:hover:not([disabled]),._3WXVr ._1Sh63 ._22yBj ._3xeco .SbIZq:hover:not([disabled]) {
        background-color:#d9d9d9
    }

    ._3WXVr ._1Sh63 ._22yBj ._3xeco ._2Q8HV:hover:not([disabled]) i,._3WXVr ._1Sh63 ._22yBj ._3xeco ._2Q8HV:hover:not([disabled]) span,._3WXVr ._1Sh63 ._22yBj ._3xeco .SbIZq:hover:not([disabled]) i,._3WXVr ._1Sh63 ._22yBj ._3xeco .SbIZq:hover:not([disabled]) span {
        color: #121212
    }
}

@media (max-width: 768px) {
    ._3WXVr ._1Sh63 ._22yBj ._3xeco ._2Q8HV,._3WXVr ._1Sh63 ._22yBj ._3xeco .SbIZq {
        padding:0 10px
    }
}

._3WXVr ._1Sh63 ._22yBj ._3xeco ._2Q8HV.jaWVL,._3WXVr ._1Sh63 ._22yBj ._3xeco .SbIZq.jaWVL {
    padding: 0
}

._3WXVr ._1Sh63 ._22yBj ._3xeco ._2Q8HV ._2u9D5,._3WXVr ._1Sh63 ._22yBj ._3xeco .SbIZq ._2u9D5 {
    font-size: .8rem;
    font-family: Fira Sans,sans-serif
}

._3WXVr ._1Sh63 ._22yBj ._3xeco ._2Q8HV i,._3WXVr ._1Sh63 ._22yBj ._3xeco ._2Q8HV span,._3WXVr ._1Sh63 ._22yBj ._3xeco .SbIZq i,._3WXVr ._1Sh63 ._22yBj ._3xeco .SbIZq span {
    color: #484848;
    font-size: .6rem;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center
}

@media (max-width: 768px) {
    ._3WXVr ._1Sh63 ._22yBj ._3xeco ._2Q8HV i,._3WXVr ._1Sh63 ._22yBj ._3xeco ._2Q8HV span,._3WXVr ._1Sh63 ._22yBj ._3xeco .SbIZq i,._3WXVr ._1Sh63 ._22yBj ._3xeco .SbIZq span {
        font-size:.9rem
    }
}

._3WXVr ._1Sh63 ._22yBj ._3xeco ._2Q8HV i,._3WXVr ._1Sh63 ._22yBj ._3xeco .SbIZq i {
    margin-left: 5px;
    line-height: 1.5
}

._3WXVr ._1Sh63 ._22yBj ._3xeco ._2Q8HV ._1TPBx,._3WXVr ._1Sh63 ._22yBj ._3xeco ._2Q8HV ._2kEcp,._3WXVr ._1Sh63 ._22yBj ._3xeco ._2Q8HV ._3JPnl,._3WXVr ._1Sh63 ._22yBj ._3xeco .SbIZq ._1TPBx,._3WXVr ._1Sh63 ._22yBj ._3xeco .SbIZq ._2kEcp,._3WXVr ._1Sh63 ._22yBj ._3xeco .SbIZq ._3JPnl {
    margin-left: 0
}

._3WXVr ._1Sh63 ._22yBj ._3xeco ._2Q8HV._2-uki,._3WXVr ._1Sh63 ._22yBj ._3xeco .SbIZq._2-uki {
    padding: 0
}

._3WXVr ._1Sh63 ._22yBj ._3xeco ._2Q8HV._2-uki i,._3WXVr ._1Sh63 ._22yBj ._3xeco .SbIZq._2-uki i {
    margin-left: 0
}

._3WXVr ._1Sh63 ._22yBj ._3xeco ._2Q8HV._13eE3,._3WXVr ._1Sh63 ._22yBj ._3xeco .SbIZq._13eE3 {
    background-color: rgba(0,0,0,.5);
    margin-left: 5px;
    color: #fff;
    height: auto;
    transition: background-color .2s
}

._3WXVr ._1Sh63 ._22yBj ._3xeco ._2Q8HV._13eE3._2kEcp,._3WXVr ._1Sh63 ._22yBj ._3xeco .SbIZq._13eE3._2kEcp {
    margin-left: 0
}

._3WXVr ._1Sh63 ._22yBj ._3xeco ._2Q8HV._13eE3 i,._3WXVr ._1Sh63 ._22yBj ._3xeco ._2Q8HV._13eE3 span,._3WXVr ._1Sh63 ._22yBj ._3xeco .SbIZq._13eE3 i,._3WXVr ._1Sh63 ._22yBj ._3xeco .SbIZq._13eE3 span {
    color: #fff
}

@media (hover: hover) and (pointer:fine) {
    ._3WXVr ._1Sh63 ._22yBj ._3xeco ._2Q8HV._13eE3:hover:not([disabled]),._3WXVr ._1Sh63 ._22yBj ._3xeco .SbIZq._13eE3:hover:not([disabled]) {
        background-color:#121212
    }

    ._3WXVr ._1Sh63 ._22yBj ._3xeco ._2Q8HV._13eE3:hover:not([disabled]) i,._3WXVr ._1Sh63 ._22yBj ._3xeco ._2Q8HV._13eE3:hover:not([disabled]) span,._3WXVr ._1Sh63 ._22yBj ._3xeco .SbIZq._13eE3:hover:not([disabled]) i,._3WXVr ._1Sh63 ._22yBj ._3xeco .SbIZq._13eE3:hover:not([disabled]) span {
        color: #fff
    }
}

._3WXVr ._1Sh63 ._22yBj ._1WJaE {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    font-size: .8rem;
    cursor: pointer!important;
    border-radius: 50px;
    font-weight: 400;
    text-decoration: none;
    transition-duration: .1s;
    pointer-events: auto!important;
    text-align: center;
    line-height: 1.15rem;
    background-color: rgba(0,0,0,.5);
    height: 25px;
    width: 25px;
    background-image: url(../assets/images/share-icon.svg);
    background-size: 21px 20px;
    background-repeat: no-repeat;
    background-position: 50%
}

._3WXVr ._1Sh63 ._22yBj ._1WJaE img {
    height: 23px;
    width: 23px
}

@media (hover: hover) {
    ._3WXVr ._1Sh63 ._22yBj ._1WJaE:hover {
        background-color:#121212
    }
}

._3WXVr ._1Sh63 ._22yBj .Wh497 {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    color: #484848
}

._3WXVr ._1Sh63 ._22yBj .Wh497._13eE3,._3WXVr ._1Sh63 ._22yBj .Wh497._13eE3 i,._3WXVr ._1Sh63 ._22yBj .Wh497._13eE3 span {
    color: #fff
}

._3WXVr ._1Sh63 ._22yBj .Wh497.IPF-e {
    height: auto;
    justify-content: center
}

@media screen and (orientation: landscape) {
    ._3WXVr ._1Sh63 ._22yBj .Wh497.IPF-e {
        color:#fff;
        width: auto
    }
}

._3WXVr ._1Sh63 ._22yBj .Wh497._2h8q- {
    opacity: 0!important;
    height: 0!important;
    width: 0!important
}

@media (max-width: 768px) {
    ._3WXVr ._1Sh63 ._22yBj .Wh497 {
        font-size:1rem;
        line-height: 1rem;
        font-weight: 400
    }
}

._3WXVr ._1Sh63 ._22yBj .Wh497 ._1e3VX {
    font-size: .8rem;
    line-height: .8rem;
    font-weight: 400;
    padding: 5px 0;
    color: inherit
}

._3WXVr ._1Sh63 ._22yBj .Wh497 ._1e3VX a {
    font-size: .8rem;
    line-height: .8rem;
    font-weight: 400;
    text-decoration: none;
    pointer-events: auto!important;
    color: inherit
}

@media (hover: hover) {
    ._3WXVr ._1Sh63 ._22yBj .Wh497 ._1e3VX a:hover {
        text-decoration:underline
    }
}

._3WXVr ._1Sh63 ._22yBj .Wh497 ._2v1D9 {
    display: flex;
    font-size: 1.1rem;
    line-height: 1.5rem;
    font-weight: 600;
    max-width: 540px;
    color: inherit;
    align-items: center
}

@media (max-width: 768px) {
    ._3WXVr ._1Sh63 ._22yBj .Wh497 ._2v1D9 {
        font-size:.9rem;
        line-height: .9rem;
        max-width: 300px
    }
}

@media (max-width: 428px) {
    ._3WXVr ._1Sh63 ._22yBj .Wh497 ._2v1D9 {
        max-width:200px
    }
}

._3WXVr ._1Sh63 ._22yBj .Wh497 ._2v1D9 ._3uzES {
    padding: 1px 6px;
    background-color: #00bcd7;
    font-size: .9rem;
    font-weight: 600;
    color: #fff;
    border-radius: 5px;
    margin-left: 7px
}

._3WXVr .fl6L2 {
    display: flex;
    flex-direction: column;
    width: 100%
}

._3WXVr .fl6L2._3he2h {
    margin-bottom: 10px
}

._3WXVr .fl6L2 ._1EfBb {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: .8rem;
    font-weight: 300;
    width: 100%;
    max-width: 100%;
    padding: 7px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: rgba(0,0,0,.65)
}

._3WXVr .fl6L2 ._1EfBb ._1VFQ7 {
    margin-right: 5px;
    color: #f74356;
    font-size: .8rem;
    font-weight: 600
}

._3WXVr .fl6L2 ._1EfBb._2x26A {
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

._3WXVr .fl6L2 ._1EfBb._3he2h {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px
}

._3WXVr .fl6L2 ._3UnuP {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #fff;
    background-color: rgba(0,0,0,.65);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .75rem;
    padding: 7px 0
}

._3WXVr .fl6L2 ._3UnuP i {
    margin-left: 5px;
    color: inherit;
    font-size: inherit
}

@media (max-width: 1024px) {
    ._3WXVr .fl6L2 ._2IPRa {
        padding:.5rem;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        border-top: none
    }
}

._3WXVr .ceyTI {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 30%;
    min-width: 200px;
    pointer-events: auto!important;
    transition: all .15s ease-in-out
}

._3WXVr .ceyTI i {
    color: #fff
}

@media (max-width: 768px) {
    ._3WXVr .ceyTI {
        min-width:100px
    }
}

._3WXVr .ceyTI ._2IPRa span {
    color: #fff
}

._3WXVr .ceyTI ._2IPRa span i {
    color: inherit;
    margin-left: 5px
}

@media screen and (orientation: portrait) {
    ._3WXVr .ceyTI.IPF-e {
        max-width:100%;
        flex: 0;
        margin-bottom: 15px
    }
}

._3WXVr .ceyTI.UWcLE {
    min-width: 100px
}

._3WXVr .ceyTI ._1Ss72 {
    margin-top: 15px
}

._3WXVr ._2ZoEg {
    display: flex;
    flex: 1;
    pointer-events: auto!important;
    transition: all .15s ease-in-out
}

._3WXVr ._2ZoEg i {
    color: #fff
}

._3WXVr ._2ZoEg.IPF-e ._1lOES,._3WXVr ._2ZoEg.IPF-e ._1MqCv {
    box-shadow: 0 0 4px 0 rgba(0,0,0,.25)
}

._3WXVr ._2ZoEg._2h8q- ._1lOES,._3WXVr ._2ZoEg._2h8q- ._1MqCv {
    opacity: .8
}

@media (max-width: 1024px) {
    ._3WXVr ._2ZoEg.UWcLE ._1MqCv {
        font-size:.7rem
    }

    ._3WXVr ._2ZoEg.UWcLE ._1MqCv ._3vhlc,._3WXVr ._2ZoEg.UWcLE ._1MqCv ._6T0cp {
        font-size: .65rem
    }
}

@media (max-width: 768px) {
    ._3WXVr ._2ZoEg.UWcLE ._1MqCv ._3vhlc,._3WXVr ._2ZoEg.UWcLE ._1MqCv ._6T0cp {
        display:none
    }
}

._3WXVr ._2ZoEg.zFrvu {
    flex-direction: column
}

._3WXVr ._2ZoEg ._1MqCv {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #f74356;
    font-size: 1rem;
    font-weight: 400;
    padding: 1rem;
    transition: opacity .15s ease-in-out;
    box-shadow: 0 0 4px 0 rgba(0,0,0,.5)
}

@media (max-width: 1024px) {
    ._3WXVr ._2ZoEg ._1MqCv {
        padding:.5rem
    }
}

._3WXVr ._2ZoEg ._1MqCv strong {
    color: #fff;
    font-weight: 600
}

._3WXVr ._2ZoEg ._1MqCv ._3vhlc,._3WXVr ._2ZoEg ._1MqCv ._6T0cp {
    color: #fff;
    margin-right: .25rem
}

._3WXVr ._2ZoEg ._1MqCv ._3vhlc {
    font-size: .9rem
}

@media (max-width: 768px) {
    ._3WXVr ._2ZoEg ._1MqCv {
        box-shadow:0 0 4px 0 rgba(0,0,0,.25)
    }
}

@media (hover: hover) {
    ._3WXVr ._2ZoEg ._1MqCv:hover {
        background-color:#f5122a;
        box-shadow: 0 0 4px 0 rgba(0,0,0,.8)
    }
}

._3WXVr ._2ZoEg ._1lOES {
    color: #fff;
    background-color: #43a6f7;
    width: 100%;
    font-size: 1rem;
    font-weight: 600;
    padding: 1rem;
    margin-left: 10px;
    transition: opacity .3s ease-out;
    box-shadow: 0 0 4px 0 rgba(0,0,0,.5)
}

@media (max-width: 1024px) {
    ._3WXVr ._2ZoEg ._1lOES {
        padding:.5rem
    }
}

@media (max-width: 768px) {
    ._3WXVr ._2ZoEg ._1lOES {
        box-shadow:0 0 4px 0 rgba(0,0,0,.25)
    }
}

._3WXVr ._2ZoEg ._1lOES i {
    margin-right: 7px
}

@media (hover: hover) {
    ._3WXVr ._2ZoEg ._1lOES:hover {
        background-color:#128ff5;
        box-shadow: 0 0 4px 0 rgba(0,0,0,.8)
    }
}

._3WXVr ._2ZoEg ._1lOES._2n8aD {
    margin-left: 0;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center
}

._3WXVr ._2ZoEg ._1N1Jk {
    display: flex;
    width: 100%;
    flex-direction: column
}

._3WXVr ._2ZoEg ._1N1Jk.u2cLo {
    flex-direction: row
}

._3WXVr ._2WCax {
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

._3WXVr ._9DXpV {
    display: flex;
    justify-content: center;
    pointer-events: auto!important;
    flex-direction: row;
    transform: none;
    position: relative;
    margin: 0 auto;
    width: 100%;
    justify-content: space-between;
    padding-right: 50px
}

._3WXVr ._9DXpV ._1-TrG,._3WXVr ._9DXpV ._3FToP,._3WXVr ._9DXpV ._3JjvR,._3WXVr ._9DXpV ._10GyM,._3WXVr ._9DXpV .NoSA2 {
    padding: 10px;
    border-radius: 0;
    transition: none;
    background: none;
    margin-left: 0;
    margin-bottom: 0;
    font-size: .8rem;
    color: #484848;
    display: flex;
    width: 100%;
    justify-content: center;
    position: relative
}

._3WXVr ._9DXpV._15bdS ._1-TrG,._3WXVr ._9DXpV._15bdS ._3FToP,._3WXVr ._9DXpV._15bdS ._3JjvR,._3WXVr ._9DXpV._15bdS ._10GyM,._3WXVr ._9DXpV._15bdS .NoSA2 {
    padding-top: 0
}

._3WXVr ._9DXpV .FyAHG {
    padding: 0;
    position: absolute;
    right: 10px;
    bottom: 6px
}

._3WXVr ._9DXpV .ZIu9C {
    display: flex;
    width: 100%;
    justify-content: center;
    position: relative
}

._3WXVr ._9DXpV .ZIu9C .De1Rx {
    position: absolute;
    top: -5px;
    right: 5px;
    font-size: .75rem;
    color: #fff;
    min-width: 20px;
    min-height: 20px;
    text-align: center;
    border-radius: 50px;
    background-color: #f74356;
    padding: 3px 5px;
    cursor: default
}

._3WXVr ._9DXpV ._1dEni {
    border-bottom: 3px solid #43a6f7!important;
    font-weight: 600
}

._3WXVr ._2a6Cl {
    display: flex;
    flex: 1;
    justify-content: space-between;
    pointer-events: auto!important;
    flex-direction: column;
    max-height: 324px;
    position: absolute;
    top: 20px;
    right: 20px;
    margin-top: 100px;
    transition: all .2s ease-in-out;
    padding: 5px;
    background-color: rgba(50,50,50,.5);
    border-radius: 50px
}

@media (max-width: 1024px) {
    ._3WXVr ._2a6Cl {
        margin-top:70px;
        right: 30px
    }
}

._3WXVr ._2a6Cl._2lzey ._1-TrG,._3WXVr ._2a6Cl._2lzey ._2yMZh,._3WXVr ._2a6Cl._2lzey ._3FToP,._3WXVr ._2a6Cl._2lzey ._3JjvR,._3WXVr ._2a6Cl._2lzey ._10GyM,._3WXVr ._2a6Cl._2lzey .NoSA2 {
    width: 40px;
    height: 40px
}

._3WXVr ._2a6Cl ._1-TrG,._3WXVr ._2a6Cl ._2yMZh,._3WXVr ._2a6Cl ._3FToP,._3WXVr ._2a6Cl ._3JjvR,._3WXVr ._2a6Cl ._10GyM,._3WXVr ._2a6Cl .NoSA2 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 1;
    background-color: rgba(0,0,0,.5);
    padding: 0;
    transition: opacity .3s ease-out;
    transition: background-color .2s ease-in-out;
    margin-bottom: 8px;
    font-size: 20px
}

@media (max-width: 1024px) {
    ._3WXVr ._2a6Cl ._1-TrG,._3WXVr ._2a6Cl ._2yMZh,._3WXVr ._2a6Cl ._3FToP,._3WXVr ._2a6Cl ._3JjvR,._3WXVr ._2a6Cl ._10GyM,._3WXVr ._2a6Cl .NoSA2 {
        width:40px;
        height: 40px
    }
}

._3WXVr ._2a6Cl ._1-TrG i,._3WXVr ._2a6Cl ._2yMZh i,._3WXVr ._2a6Cl ._3FToP i,._3WXVr ._2a6Cl ._3JjvR i,._3WXVr ._2a6Cl ._10GyM i,._3WXVr ._2a6Cl .NoSA2 i {
    font-size: 20px;
    color: #fff;
    transition: color .35s ease-in-out
}

@media (hover: hover) {
    ._3WXVr ._2a6Cl ._1-TrG:hover,._3WXVr ._2a6Cl ._2yMZh:hover,._3WXVr ._2a6Cl ._3FToP:hover,._3WXVr ._2a6Cl ._3JjvR:hover,._3WXVr ._2a6Cl ._10GyM:hover,._3WXVr ._2a6Cl .NoSA2:hover {
        background-color:rgba(0,0,0,.8)
    }

    ._3WXVr ._2a6Cl ._1-TrG:hover i,._3WXVr ._2a6Cl ._2yMZh:hover i,._3WXVr ._2a6Cl ._3FToP:hover i,._3WXVr ._2a6Cl ._3JjvR:hover i,._3WXVr ._2a6Cl ._10GyM:hover i,._3WXVr ._2a6Cl .NoSA2:hover i {
        color: #fff
    }
}

._3WXVr ._2a6Cl .ZIu9C {
    position: relative
}

._3WXVr ._2a6Cl .ZIu9C .De1Rx {
    position: absolute;
    top: -6px;
    right: -5px;
    font-size: .75rem;
    color: #fff;
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 50%;
    line-height: 1;
    background-color: #f74356;
    padding: .4rem 0;
    cursor: default
}

._3WXVr ._2a6Cl ._1-TrG {
    background-image: url(../assets/images/share-icon.svg);
    background-size: 31px 30px;
    background-repeat: no-repeat;
    background-position: 50%;
    margin-bottom: 0
}

._3WXVr ._2a6Cl ._1dEni {
    background-color: #43a6f7!important;
    border-color: transparent!important
}

._3WXVr ._2a6Cl ._1dEni i {
    color: #fff!important
}

@media (hover: hover) {
    ._3WXVr ._2a6Cl ._1dEni:hover {
        background-color:#43a6f7!important
    }
}

._3WXVr ._1EbxP {
    background: none;
    border-radius: 0;
    padding: 0 0 30px;
    margin-bottom: 10px;
    width: 100%;
    min-height: 0;
    transition: all .15s ease-in-out;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    line-height: 1.15rem
}

@media (max-width: 768px) {
    ._3WXVr ._1EbxP {
        max-width:100%;
        min-width: auto;
        height: 100%;
        background: none;
        margin-left: 0;
        margin-bottom: 0;
        max-height: none
    }

    ._3WXVr ._1EbxP ._26cGO {
        flex: 0 0 auto
    }

    ._3WXVr ._1EbxP ._26cGO ._1vh8H {
        background-color: #43a6f7
    }
}

._3WXVr ._1EbxP ._26cGO {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
    padding: 15px 15px 0
}

._3WXVr ._1EbxP ._26cGO ._1vh8H {
    border-radius: 5px;
    font-size: .8rem;
    color: #fff;
    border: none;
    padding: 6px 10px;
    text-decoration: none;
    display: inline-flex;
    margin: 0 4px 7px 0;
    background-color: #43a6f7;
    transition: all .2s ease-in-out;
    cursor: pointer
}

@media (hover: hover) {
    ._3WXVr ._1EbxP ._26cGO ._1vh8H:hover {
        background-color:#128ff5;
        color: #fff
    }
}

._3WXVr ._1EbxP ._2sB6i {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    padding: 0;
    font-size: 1rem
}

@media (max-width: 768px) {
    ._3WXVr ._1EbxP ._2sB6i {
        flex:2 0 auto;
        font-size: .9rem;
        line-height: 1.1rem
    }
}

._3WXVr ._1EbxP ._1dyly {
    padding: 15px;
    line-height: 1.5;
    font-size: .9rem
}

._3WXVr ._1EbxP ._3YcPU {
    padding: 0 15px
}

._3WXVr ._1EbxP .WMrr1 {
    margin: 15px 0;
    border-bottom: 1px solid #d9d9d9
}

._3WXVr ._1EbxP ._28UqR {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-top: 1px solid #d9d9d9;
    margin-bottom: 10px;
    padding: 15px 0 10px;
    font-size: 1rem
}

@media (max-width: 768px) {
    ._3WXVr ._1EbxP ._28UqR {
        flex:2 0 auto;
        font-size: .9rem;
        line-height: 1.1rem
    }
}

._3WXVr ._1EbxP ._28UqR:first-child {
    border-top: none
}

._3WXVr ._1EbxP ._28UqR ._11PoZ {
    font-family: Fira Sans,sans-serif;
    font-weight: 600;
    font-size: .9rem
}

@media (max-width: 768px) {
    ._3WXVr ._1EbxP ._28UqR ._11PoZ {
        font-size:.9rem;
        line-height: 1.1rem
    }
}

._3WXVr ._1EbxP ._28UqR span {
    white-space: pre-wrap;
    margin-bottom: 6px
}

._3WXVr ._1EbxP ._28UqR span._2yZks {
    opacity: .5
}

._3WXVr ._1EbxP ._28UqR span.Wf7hP {
    font-size: .8rem
}

._3WXVr ._1EbxP ._28UqR span.Wf7hP a {
    font-size: .8rem;
    font-weight: 700;
    text-decoration: none
}

@media (hover: hover) {
    ._3WXVr ._1EbxP ._28UqR span.Wf7hP a:hover {
        text-decoration:underline
    }
}

._3WXVr ._2g_Hd {
    padding: 5px 10px 10px;
    overflow-y: auto
}

._3WXVr ._2g_Hd ._1LTD2 {
    margin: 5px 0;
    padding: 5px;
    display: flex;
    align-items: center;
    width: 100%;
    text-decoration: none;
    border-radius: 8px;
    border: 1px solid transparent;
    transition: background-color .2s ease-in-out
}

._3WXVr ._2g_Hd ._1LTD2 a,._3WXVr ._2g_Hd ._1LTD2 span {
    text-decoration: none
}

._3WXVr ._2g_Hd ._1LTD2 ._3left {
    display: flex;
    align-items: center;
    width: 40%;
    min-width: 40%;
    position: relative
}

._3WXVr ._2g_Hd ._1LTD2 ._3left img {
    width: 100%;
    border-radius: 5px
}

._3WXVr ._2g_Hd ._1LTD2 ._3left ._3Ul0u {
    display: block;
    position: absolute;
    top: 5px;
    right: 5px;
    color: #fff;
    font-size: .6rem;
    background-color: #f74356;
    padding: 3px 6px;
    border-radius: 2px;
    flex-shrink: 0
}

._3WXVr ._2g_Hd ._1LTD2 .UfTCb {
    display: flex;
    flex-direction: column;
    padding-left: 10px
}

._3WXVr ._2g_Hd ._1LTD2 .UfTCb .xfYTF {
    font-weight: 600;
    font-size: .8rem;
    margin-bottom: 5px
}

._3WXVr ._2g_Hd ._1LTD2 .UfTCb ._1Gv1- {
    font-weight: 400;
    font-size: .6rem;
    color: rgba(0,0,0,.8)
}

@media (hover: hover) and (pointer:fine) {
    ._3WXVr ._2g_Hd ._1LTD2:hover:not([disabled]) {
        border:1px solid #d9d9d9;
        background-color: #fff
    }
}

._3WXVr ._2g_Hd ._2Ephz {
    margin: 5px 0;
    padding: 5px;
    display: flex;
    align-items: center;
    width: 100%
}

._3WXVr ._2g_Hd ._2Ephz .hKox3 {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: #fff;
    background: linear-gradient(0deg,hsla(0,0%,100%,0),rgba(0,0,0,.25),hsla(0,0%,100%,0));
    background-repeat: no-repeat;
    animation-name: hKox3;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: hKox3;
    -webkit-animation-timing-function: linear
}

._3WXVr ._2g_Hd ._2Ephz ._2zEPQ {
    width: 40%;
    min-width: 40%
}

._3WXVr ._2g_Hd ._2Ephz ._2zEPQ ._34zIv {
    position: relative;
    padding-bottom: 56.25%;
    background-color: #d9d9d9;
    border-radius: 5px
}

._3WXVr ._2g_Hd ._2Ephz ._1HeT4 {
    display: flex;
    flex-direction: column;
    margin-left: 10px
}

._3WXVr ._2g_Hd ._2Ephz ._1HeT4 ._1LiUa {
    position: relative;
    margin-bottom: 5px;
    background-color: #d9d9d9
}

._3WXVr ._2g_Hd ._2Ephz ._1HeT4 ._1LiUa,._3WXVr ._2g_Hd ._2Ephz ._1HeT4 ._1LiUa .hKox3 {
    border-radius: 3px;
    width: 170px;
    height: 16px
}

._3WXVr ._2g_Hd ._2Ephz ._1HeT4 ._2CzqN {
    position: relative;
    margin-bottom: 5px;
    background-color: #d9d9d9
}

._3WXVr ._2g_Hd ._2Ephz ._1HeT4 ._2CzqN,._3WXVr ._2g_Hd ._2Ephz ._1HeT4 ._2CzqN .hKox3 {
    border-radius: 3px;
    width: 40px;
    height: 12px
}

._3WXVr ._2g_Hd ._2Ephz ._1HeT4 ._2O6Kx {
    margin-bottom: 5px;
    background-color: #d9d9d9
}

._3WXVr ._2g_Hd ._2Ephz ._1HeT4 ._2O6Kx,._3WXVr ._2g_Hd ._2Ephz ._1HeT4 ._2O6Kx .hKox3 {
    border-radius: 3px;
    width: 50px;
    height: 10px
}

._3WXVr ._3nTjj {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-end;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 400px;
    min-width: 400px;
    height: 100%
}

._3WXVr ._3nTjj.IPF-e {
    max-width: 100%;
    height: auto;
    padding: 0;
    margin-left: 0;
    margin-bottom: 0;
    min-width: auto;
    width: auto;
    height: 100%;
    flex: 1;
    max-height: none
}

._3WXVr ._3nTjj ._3vroc {
    position: absolute;
    right: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    z-index: 2
}

._3WXVr ._3nTjj ._3vroc a {
    color: #43a6f7;
    font-size: 12px;
    background: #fff;
    padding: 2px 10px;
    border: 1px solid #43a6f7;
    border-radius: 20px;
    transition: all .2s ease-in-out;
    box-shadow: 0 0 1px 0 rgba(0,0,0,.15);
    cursor: pointer
}

._3WXVr ._3nTjj ._3vroc a i {
    color: #43a6f7
}

._3WXVr ._3nTjj ._17lPT {
    overflow: auto;
    height: 100%;
    padding: 0 10px;
    scrollbar-width: none;
    -ms-overflow-style: none
}

._3WXVr ._3nTjj ._17lPT::-webkit-scrollbar {
    display: none
}

._3WXVr ._3nTjj ._17lPT ._39oFD {
    padding-top: 4px
}

._3WXVr ._3nTjj .m3tJt {
    position: sticky;
    position: -webkit-sticky;
    bottom: 10px;
    margin: 0 10px;
    display: flex
}

._3WXVr ._3nTjj .m3tJt .Y5eM- {
    width: 100%;
    position: relative;
    padding: 9px;
    word-wrap: break-word;
    letter-spacing: -.2px;
    border-radius: 5px;
    font-size: 12px;
    line-height: 1.5;
    border: none;
    background-color: #f3f3f3;
    text-align: center;
    font-weight: 600
}

._3WXVr ._3nTjj .m3tJt ._2Uyg5 {
    display: flex;
    border-radius: 5px;
    margin-left: 8px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #00bcd7;
    font-size: 13px;
    box-shadow: 0 -3px 9px -4px rgba(0,0,0,.15);
    height: 100%;
    align-items: center
}

@media (max-width: 768px) {
    ._3WXVr ._3nTjj .m3tJt ._2Uyg5 {
        background-color:#fff;
        box-shadow: 0 0 4px rgba(0,0,0,.1)
    }
}

._3WXVr ._3nTjj .m3tJt ._2Uyg5._1zvIm {
    animation: _2mKe_ 2s forwards
}

@keyframes _2mKe_ {
    70% {
        opacity: 1
    }

    99% {
        margin-left: 8px;
        padding: 10px;
        border: 1px solid #00bcd7;
        width: auto
    }

    to {
        opacity: 0;
        display: none;
        padding: 0;
        border: none;
        margin: 0;
        width: 0
    }
}

._3WXVr ._3nTjj .m3tJt ._2Uyg5 div {
    color: #00bcd7
}

._3WXVr ._3nTjj .m3tJt ._2Uyg5 div i {
    margin-left: 5px;
    color: #00bcd7
}

._3WXVr ._3nTjj .m3tJt ._2Uyg5 i {
    color: #00bcd7
}

._3WXVr ._2CJTU {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    background: none;
    margin-left: 0;
    border-radius: 0;
    height: 100%;
    margin-bottom: 10px;
    max-height: calc(100% - 37px);
    overflow: auto;
    flex-shrink: 0
}

@media (max-width: 768px) {
    ._3WXVr ._2CJTU {
        height:100%;
        background: none;
        margin-left: 0;
        margin-bottom: 0;
        max-height: none
    }
}

._3WXVr ._2CJTU ._1Yzxz {
    font-size: .75rem;
    font-weight: 600;
    color: #43a6f7;
    padding: 0;
    word-break: keep-all;
    margin-top: 0;
    margin-left: 5px;
    background-color: transparent;
    flex-shrink: 0
}

._3WXVr ._2CJTU ._1Yzxz i {
    color: #43a6f7
}

@media (hover: hover) and (pointer:fine) {
    ._3WXVr ._2CJTU ._1Yzxz:hover:not([disabled]) {
        cursor:pointer
    }
}

._3WXVr ._2CJTU ._3gfXc {
    display: flex;
    align-items: center;
    padding: 15px;
    font-size: .9rem;
    width: 100%;
    border-bottom: 1px solid #d9d9d9;
    flex-shrink: 0
}

._3WXVr ._2CJTU ._3gfXc._2f3E3 {
    align-items: flex-start
}

._3WXVr ._2CJTU ._3gfXc .s8Z50 {
    position: relative;
    width: 40%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center
}

._3WXVr ._2CJTU ._3gfXc .s8Z50 img {
    box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
    background-color: #000;
    max-width: 100%;
    height: auto;
    transition: all .3s ease-out
}

._3WXVr ._2CJTU ._3gfXc .s8Z50 .q1rdO {
    font-size: .7rem;
    color: #fff;
    position: absolute;
    bottom: 3px;
    right: 3px;
    cursor: pointer;
    flex-shrink: 0;
    padding: 5px;
    border-radius: 2px;
    background-color: rgba(0,0,0,.5)
}

._3WXVr ._2CJTU ._3gfXc .s8Z50 ._9aQLJ {
    position: absolute;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: .6;
    transition: all .2s ease-out;
    cursor: pointer;
    border-radius: 50%;
    border-color: solid 1px #fff;
    flex-shrink: 0;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center
}

._3WXVr ._2CJTU ._3gfXc .s8Z50 ._1ay7q {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-bottom: 56.25%;
    background: transparent;
    flex-shrink: 0
}

@media (hover: hover) and (pointer:fine) {
    ._3WXVr ._2CJTU ._3gfXc .s8Z50:hover:not([disabled]) img {
        cursor:pointer
    }

    ._3WXVr ._2CJTU ._3gfXc .s8Z50:hover:not([disabled]) ._9aQLJ {
        opacity: 1;
        background-color: rgba(0,0,0,.5)
    }
}

._3WXVr ._2CJTU ._3gfXc ._17cN6 {
    background-color: #d9d9d9;
    height: 83px;
    width: 148px
}

._3WXVr ._2CJTU ._3gfXc ._1eZz8 {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    width: 60%;
    flex-shrink: 0
}

._3WXVr ._2CJTU ._1t-4A {
    display: flex;
    align-items: center;
    flex-shrink: 0
}

._3WXVr ._2CJTU ._3HSEF,._3WXVr ._2CJTU ._29okV {
    margin-bottom: 7px;
    display: flex;
    font-weight: 600;
    flex-shrink: 0
}

._3WXVr ._2CJTU ._3HSEF {
    color: #959595
}

._3WXVr ._2CJTU ._2sFxL {
    display: block;
    font-weight: 600;
    color: #fff;
    font-family: Fira Sans,sans-serif;
    font-size: .8rem;
    background-color: #f74356;
    padding: 3px 6px;
    border-radius: 5px;
    margin-left: 7px;
    margin-bottom: 7px;
    flex-shrink: 0
}

._3WXVr ._2CJTU ._1fxUO {
    display: flex;
    width: 100%;
    padding: 15px;
    font-size: .9rem;
    align-items: center;
    flex-shrink: 0;
    transition: background-color .2s
}

._3WXVr ._2CJTU ._1fxUO._7gDF- {
    background-color: rgba(67,166,247,.1)
}

._3WXVr ._2CJTU ._1fxUO._3zwf- {
    border-bottom: 1px solid #d9d9d9
}

._3WXVr ._2CJTU ._1fxUO ._1IaDa {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35%;
    padding-left: 7px;
    flex-shrink: 0
}

._3WXVr ._2CJTU ._1fxUO ._1IaDa .yZpF1 {
    text-decoration: none;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color .2s
}

@media (hover: hover) {
    ._3WXVr ._2CJTU ._1fxUO ._1IaDa .yZpF1:hover {
        background-color:rgba(67,166,247,.2);
        cursor: pointer
    }

    ._3WXVr ._2CJTU ._1fxUO ._1IaDa .yZpF1:hover ._3LqpB {
        color: #43a6f7
    }
}

._3WXVr ._2CJTU ._1fxUO ._1IaDa .yZpF1._7gDF- ._3LqpB {
    color: #43a6f7
}

._3WXVr ._2CJTU ._1fxUO ._1IaDa .yZpF1._7gDF- ._3LqpB._2PudE {
    margin-left: 0
}

._3WXVr ._2CJTU ._1fxUO ._1IaDa ._3LqpB {
    font-size: 1.4rem;
    color: rgba(0,0,0,.3);
    transition: color .2s;
    margin-left: 3px
}

._3WXVr ._2CJTU ._1fxUO ._1IaDa .XWnQA {
    font-weight: 600;
    color: #43a6f7;
    padding: 10px 15px;
    background-color: rgba(67,166,247,.75);
    border-radius: 5px
}

._3WXVr ._2CJTU ._1fxUO ._1EfBb {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    flex-shrink: 0
}

._3WXVr ._2CJTU ._1fxUO ._1EfBb ._1VFQ7 {
    color: #f74356;
    font-weight: 600
}

._3WXVr ._2CJTU ._1fxUO ._3oNNC {
    display: flex;
    flex-direction: column;
    width: 35%;
    padding-left: 5px;
    align-items: center;
    flex-shrink: 0
}

._3WXVr ._2CJTU ._1fxUO ._3oNNC ._2dNz1 {
    font-family: Fira Sans,sans-serif;
    font-weight: 600;
    font-size: .9rem
}

@media (max-width: 768px) {
    ._3WXVr ._2CJTU ._1fxUO ._3oNNC ._2dNz1 {
        font-size:.75rem
    }
}

._3WXVr ._2CJTU ._1fxUO ._3oNNC ._1fRLO {
    display: flex;
    align-items: center
}

._3WXVr ._2CJTU ._1fxUO ._3oNNC ._1fRLO .p6Pgc {
    font-family: Fira Sans,sans-serif;
    font-weight: 600;
    font-size: 2rem
}

._3WXVr ._2CJTU ._1fxUO ._3oNNC ._1fRLO ._1QXNz {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 5px
}

@media (max-width: 768px) {
    ._3WXVr ._2CJTU ._1fxUO ._3oNNC ._1fRLO ._1QXNz {
        padding-left:5px
    }
}

._3WXVr ._2CJTU ._1fxUO ._3oNNC ._1fRLO ._1QXNz ._2uQmm {
    font-size: .7rem;
    border-bottom: 1px solid #484848;
    padding-bottom: 2px
}

._3WXVr ._2CJTU ._1fxUO ._3oNNC ._1fRLO ._1QXNz ._2UWMb {
    color: #484848;
    font-size: .7rem;
    padding-top: 2px
}

._3WXVr ._2CJTU ._1fxUO ._3JjvR {
    display: flex;
    justify-content: center;
    width: 65%;
    flex-direction: column;
    padding-right: 10px;
    flex-shrink: 0
}

._3WXVr ._2CJTU ._1fxUO ._10qRt {
    margin-bottom: 7px;
    display: flex;
    font-weight: 600;
    color: #959595;
    flex-shrink: 0
}

._3WXVr ._2CJTU ._1fxUO ._1KgzK {
    margin-bottom: 7px;
    font-size: .75rem;
    font-weight: 600;
    padding: 3px 5px;
    border-radius: 3px;
    color: #fff;
    background-color: #f74356;
    width: fit-content;
    animation: _1VFQ7 5s infinite
}

@keyframes _1VFQ7 {
    0% {
        background-color: #f74356
    }

    50% {
        background-color: #f5122a
    }

    to {
        background-color: #f74356
    }
}

@media (hover: hover) {
    ._3WXVr ._2CJTU ._1fxUO:hover {
        background-color:rgba(67,166,247,.1)
    }
}

._3WXVr ._3eIWI {
    display: flex;
    align-content: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    max-width: 100%;
    background: none;
    padding: 15px 15px 0;
    margin-left: 0;
    border-radius: 0;
    height: 100%;
    margin-bottom: 10px;
    max-height: calc(100% - 37px);
    overflow: auto
}

@media (max-width: 768px) {
    ._3WXVr ._3eIWI {
        max-height:none
    }
}

._3WXVr ._3eIWI ._2COis {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    max-height: none;
    justify-content: flex-start;
    box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
    transition: all .3s cubic-bezier(.25,.8,.25,1)
}

._3WXVr ._3eIWI ._2COis._1KAI6 {
    width: 178px;
    height: 178px;
    max-width: 48%;
    margin-bottom: 4%
}

@media (max-width: 768px) {
    ._3WXVr ._3eIWI ._2COis._1KAI6 {
        width:48%;
        height: auto;
        max-width: 48%
    }
}

._3WXVr ._3eIWI ._2COis img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer
}

@media (hover: hover) {
    ._3WXVr ._3eIWI ._2COis:hover {
        box-shadow:0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23)
    }
}
/*_3WXVr End*/
._3Fj_T {
    outline: none;
    position: relative;
    width: 100%;
    background-color: #000;
    height: 100%;
    display: flex;
    align-items: center
}

._3Fj_T.-Djhe {
    align-items: flex-start;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%
}

._3Fj_T._1BSUM {
    height: 100%
}

@media screen and (orientation: landscape) {
    ._3Fj_T._1BSUM {
        height:calc(100vh - 50px)
    }
}
/**/
.jwplayer {
    width: 100%;
    height: auto!important;
    padding: 0;
    margin: 0;
}
/**/
._1HNwq,.U0Wbi {
    font-size: 1.2rem
}

.U0Wbi {
    outline: none;
    position: relative;
    color: hsla(0,0%,100%,.8);
    display: flex;
    transition: all .5s,background-position 0s,background-size 0s;
    max-height: calc(100vh - 50px);
    height: auto;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: 50%
}

.U0Wbi._1BSUM {
    height: 100%;
    transition: height 0s
}

@media screen and (orientation: landscape) {
    .U0Wbi._1BSUM {
        height:calc(100vh - 50px)
    }
}

.U0Wbi._1199X {
    height: auto;
    width: calc(-400px + 100vw)
}

.U0Wbi._3a-nM {
    background-position: 0;
    background-size: 100% 56.25vw;
    transition: background-size .5s
}

.U0Wbi.ywkQx {
    background-size: calc(100% - 400px) calc(.5625 * (100vw - 400px))
}

.U0Wbi.zhoQL {
    max-height: 100%!important;
    overflow: hidden!important
}

.U0Wbi svg,.U0Wbi svg path {
    color: hsla(0,0%,100%,.8)
}

.U0Wbi svg:hover,.U0Wbi svg:hover path {
    color: #fff!important
}
/**/
._2mTrh {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background: linear-gradient(0deg,transparent,rgba(0,0,0,.4) 77%,rgba(0,0,0,.4)) 100% 100%/100% 240px no-repeat transparent;
    transition: background-image .5s ease-out;
    pointer-events: none
}

._2mTrh._3tc6b {
    background: none
}
/**/
._2tIQ0 {
    display: flex;
    margin: 0;
    height: calc(100vh - 50px);
    justify-content: center;
    flex-wrap: wrap;
    position: fixed;
    top: 50px;
    right: 0
}

._2tIQ0.VvQuu {
    top: 0;
    height: 100vh
}
._3zgH4 {
    display: flex;
    margin-top: 7px
}

._3zgH4._2h8q- {
    opacity: .8;
    margin-top: 0!important
}
.__react_component_tooltip {
    border-radius: 3px;
    display: inline-block;
    font-size: 13px;
    left: -999em;
    opacity: 0;
    padding: 8px 21px;
    position: fixed;
    pointer-events: none;
    transition: opacity 0.3s ease-out;
    top: -999em;
    visibility: hidden;
    z-index: 999;
}
.__react_component_tooltip.show {
    opacity: 0.9;
    margin-top: 0px;
    margin-left: 0px;
    visibility: visible;
}
.__react_component_tooltip.type-dark {
    color: #fff;
    background-color: #222;
}
.__react_component_tooltip.place-left {
    margin-left: -10px;
}
.hideControl {
    transition: all 0.5s ease 0s;
    display: none;
    &._2a6Cl {opacity: 0;}
}