._1Yh1X {
    height: 100%
}
._1vy7g {
    color: #1e1e1e;
    font-size: 1.125rem;
    font-weight: 600
}

._1vy7g,._2XqVP {
    text-align: center
}
/**/
._8flC9 {
    max-width: 320px;
    margin-right: auto;
    margin-left: auto
}

@media (max-width: 768px) {
    ._8flC9 {
        max-width:100%;
        padding: 0 24px
    }
}
/**/
.fVtea ._1PGAt {
    text-align: center;
    color: #d9534f
}

.fVtea .Ho5x9 {
    text-align: center;
    color: #1e1e1e;
    font-size: 1.125rem;
    font-weight: 600;
    margin-top: 40px;
    margin-bottom: 16px
}

.fVtea ._2r3As {
    flex-direction: column;
    row-gap: 16px;
    margin-top: 24px
}

.fVtea ._2lpHL,.fVtea ._2r3As {
    display: flex;
    justify-content: center;
    align-items: center
}

.fVtea ._2lpHL {
    height: 48px;
    border: 1px solid #d9d9d9;
    width: 320px;
    max-width: 100%;
    color: #1e1e1e;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    background-color: #fff;
    text-decoration: none;
    border-radius: 4px
}

@media (max-width: 768px) {
    .fVtea ._2lpHL {
        width:100%
    }
}

@media (hover: hover) and (pointer:fine) {
    .fVtea ._2lpHL:hover:not([disabled]) {
        background-color:#f3f3f3
    }
}

.fVtea ._2lpHL .VXDJo {
    margin-right: 16px
}

.fVtea ._2lpHL .VXDJo._3ErS4 {
    color: #1877f2;
    font-size: 1.5rem
}

.fVtea ._2lpHL .VXDJo._1PV8z {
    color: #000;
    font-size: 1.5rem
}

.fVtea ._1nqya {
    width: 320px;
    position: relative;
    margin: 24px auto;
    text-align: center;
    font-size: 1rem;
    color: #1e1e1e;
    font-weight: 600
}

@media (max-width: 768px) {
    .fVtea ._1nqya {
        width:100%
    }
}

.fVtea ._1nqya:after,.fVtea ._1nqya:before {
    position: absolute;
    top: 50%;
    display: block;
    width: 45%;
    height: 1px;
    content: "";
    transform: translateY(-50%);
    background-color: #d9d9d9
}

.fVtea ._1nqya:after {
    right: 0
}

.fVtea ._1nqya._1UodH {
    margin-bottom: 10px
}

.fVtea ._36jCP {
    text-decoration: solid underline;
    font-size: .875rem;
    color: #757575;
    line-height: 1.5;
    margin-top: 8px;
    text-align: right
}

.fVtea ._15c1z {
    margin-top: 10px;
    text-align: center;
    font-size: .9rem
}

.fVtea ._1wBA2 {
    margin-bottom: 5px
}

.fVtea ._1koWZ {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 16px;
    margin-bottom: 0
}

.fVtea ._1koWZ ._2lvkl,.fVtea ._1koWZ .rUusr {
    width: 320px;
    height: 48px;
    border-radius: 4px;
    padding: 0 16px;
    line-height: 1.5;
    font-size: 1rem
}

@media (max-width: 768px) {
    .fVtea ._1koWZ ._2lvkl,.fVtea ._1koWZ .rUusr {
        width:calc(100vw - 48px)
    }
}

.fVtea .NQZBi {
    background: #000
}
/**/

._8sSv_ {
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #d9d9d9;
    width: 320px;
    max-width: 100%;
    color: #1e1e1e;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    background-color: #fff;
    text-decoration: none;
    border-radius: 4px
}

@media (max-width: 768px) {
    ._8sSv_ {
        width:100%
    }
}

@media (hover: hover) and (pointer:fine) {
    ._8sSv_:hover:not([disabled]) {
        background-color:#f3f3f3
    }
}

._8sSv_ ._1NLdj {
    margin-right: 16px;
    height: 24px;
    width: 24px
}
/**/
.Tw-VL {
    position: relative
}
/**/
._3OaS_ {
    position: relative
}
/**/
.PWPP8 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    padding: 0 16px;
    cursor: pointer;
    text-decoration: none;
    transition: all .2s;
    color: #1e1e1e;
    white-space: nowrap
}

.PWPP8:focus-visible {
    outline: 1px auto -webkit-focus-ring-color
}

.PWPP8._3ZCRK {
    pointer-events: none
}

.PWPP8 ._228M9 {
    margin-right: 8px
}

.PWPP8 ._2xj29,.PWPP8 ._228M9 {
    font-size: .75rem;
    color: inherit;
    font-style: normal
}

.PWPP8 ._2xj29 {
    margin-left: 8px
}

.PWPP8._1XYbU {
    height: 24px;
    font-size: .75rem;
    line-height: 1.333
}

.PWPP8.u3ywy {
    height: 32px
}

.PWPP8._2904Q,.PWPP8.u3ywy {
    font-size: .875rem;
    line-height: 1.143
}

.PWPP8._2904Q {
    height: 40px
}

.PWPP8.W2P3N {
    height: 56px;
    font-size: 1rem;
    line-height: 1.125
}

.PWPP8._2KTM7 {
    padding: 0
}

.PWPP8._2KTM7 ._228M9 {
    margin-right: 0
}

.PWPP8._2KTM7._1XYbU {
    width: 24px
}

.PWPP8._2KTM7.u3ywy {
    width: 32px
}

.PWPP8._2KTM7._2904Q {
    width: 40px
}

.PWPP8._2KTM7.W2P3N {
    width: 56px
}

.PWPP8._3QLI9 {
    background-color: #f74356;
    color: #fff;
    font-weight: 600
}

@media (hover: hover) and (pointer:fine) {
    .PWPP8._3QLI9:hover:not([disabled]) {
        background-color:#f5122a
    }
}

.PWPP8._26O0b {
    background-color: #fff;
    color: #f74356;
    font-weight: 600;
    border: 1px solid #f74356
}

@media (hover: hover) and (pointer:fine) {
    .PWPP8._26O0b:hover:not([disabled]) {
        background-color:#f5122a;
        border-color: #f5122a;
        color: #fff
    }
}

.PWPP8.qLima {
    background-color: #f3f3f3;
    font-weight: 400
}

@media (hover: hover) and (pointer:fine) {
    .PWPP8.qLima:hover:not([disabled]) {
        background-color:#e5e5e5
    }
}

.PWPP8.mXOJi {
    background-color: #f3f3f3;
    font-weight: 600;
    border-radius: 32px
}

@media (hover: hover) and (pointer:fine) {
    .PWPP8.mXOJi:hover:not([disabled]) {
        background-color:#e5e5e5
    }
}