.kdInC {
    max-width: 350px;
    width: auto;
    margin-left: auto;
    margin-right: auto
}

.kdInC>button,.kdInC>div {
    margin-bottom: 20px
}

.kdInC button {
    display: block;
    width: 100%
}

.kdInC button i {
    color: #fff
}
/**/
._2MMj3 {
    font-size: 20px
}
/**/
.NI-Kb {
    font-size: 14px;
    opacity: .5
}
/**/

