@import "utils";

._2IrJm,._3tZsg {
    height: 100%
}

._2IrJm {
    padding-top: 50px
}
/**/
.J9UpY {
    height: 100%;
    padding-left: 10px;
    padding-right: 10px
}

@media (min-width: 769px) {
    .J9UpY {
        width:100%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
        padding-right: 0
    }
}

._3um8E .J9UpY {
    width: 100%;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0
}
/**/
._33Bc5 {
    padding-left: 0!important;
    padding-right: 0!important
}
/**/
._3tvad {
    height: auto;
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden
}

._3tvad,._3tvad .GxorC {
    width: 100%
}

._3tvad ._3w6ty {
    font-family: Fira Sans,sans-serif;
    font-size: 3.375rem;
    font-weight: 500;
    line-height: 1.25;
    color: #1e1e1e
}

@media screen and (max-width: 767px) {
    ._3tvad ._3w6ty {
        font-size:2.5rem
    }
}

._3tvad .jnz-E {
    font-family: Fira Sans,sans-serif;
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.25;
    color: #1e1e1e
}

@media screen and (max-width: 767px) {
    ._3tvad .jnz-E {
        font-size:2rem
    }
}

._3tvad .wkNW2 {
    font-family: Fira Sans,sans-serif;
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.25;
    color: #1e1e1e
}

@media screen and (max-width: 767px) {
    ._3tvad .wkNW2 {
        font-size:2rem;
        text-align: left
    }
}

._3tvad ._10rfN {
    font-family: Fira Sans,sans-serif;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.25;
    color: #1e1e1e
}

._3tvad ._2M-Uo {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.25;
    color: #1e1e1e
}

@media screen and (max-width: 767px) {
    ._3tvad ._2M-Uo.mC8Iw {
        font-size:1.125rem
    }
}

._3tvad ._2f2LY {
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.5;
    color: #1e1e1e
}

._3tvad .lAROR {
    font-size: 1.125rem;
    line-height: 1.5;
    color: #1e1e1e
}

._3tvad ._1z0dg {
    font-size: .875rem;
    line-height: 1.5;
    color: #1e1e1e
}

._3tvad ._2a0_p {
    font-size: 1rem
}

._3tvad ._2a0_p,._3tvad ._22Ngu {
    font-weight: 600;
    color: #1e1e1e;
    line-height: 1.5
}

._3tvad ._22Ngu {
    font-size: .875rem
}

._3tvad .X2KE- {
    line-height: 1.5
}

._3tvad ._34BxZ,._3tvad .X2KE- {
    font-weight: 600;
    color: #1e1e1e;
    font-size: .75rem
}

._3tvad ._34BxZ {
    letter-spacing: 2
}

@media screen and (max-width: 767px) {
    ._3tvad ._34BxZ {
        display:none
    }
}

._3tvad ._1bh3E {
    text-decoration: none;
    transition: all .2s;
    color: #43a6f7
}

@media (hover: hover) {
    ._3tvad ._1bh3E:hover {
        text-decoration:solid underline;
        cursor: pointer
    }
}

._3tvad ._1aId- {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    padding-left: 8px
}

._3tvad ._1aId- ._2AwLs {
    display: flex
}

._3tvad ._1aId- i {
    font-size: .3rem;
    padding-right: 16px;
    margin-top: 7px
}

._3tvad .A6bv9 {
    height: 120px
}

@media screen and (max-width: 767px) {
    ._3tvad .A6bv9 {
        height:80px
    }
}
/**/
.lncuH {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 40px
}

@media screen and (max-width: 1099px) {
    .lncuH {
        max-width:768px
    }
}

@media screen and (max-width: 767px) {
    .lncuH {
        width:100%;
        padding: 0 16px
    }
}

.lncuH .DEzR_ {
    display: block
}

@media screen and (max-width: 1099px) {
    .lncuH .DEzR_ {
        display:none
    }
}

.lncuH ._1xH66 {
    display: none
}

@media screen and (max-width: 1099px) {
    .lncuH ._1xH66 {
        display:block
    }
}

.lncuH ._2cwWu {
    display: flex;
    column-gap: 80px;
    row-gap: 40px
}

@media screen and (max-width: 1279px) {
    .lncuH ._2cwWu {
        column-gap:40px
    }
}

@media screen and (max-width: 1099px) {
    .lncuH ._2cwWu {
        max-width:688px
    }
}

@media screen and (max-width: 767px) {
    .lncuH ._2cwWu {
        row-gap:24px
    }
}

.lncuH ._2cwWu._3oX95 {
    column-gap: 24px
}

.lncuH ._2cwWu._3oX95 ._1z0dg,.lncuH ._2cwWu._3oX95 .lAROR {
    max-width: 420px
}

@media screen and (max-width: 1099px) {
    .lncuH ._2cwWu._3oX95 ._1z0dg,.lncuH ._2cwWu._3oX95 .lAROR {
        max-width:unset
    }
}

.lncuH ._24QCD {
    display: flex;
    flex-direction: column;
    align-items: center
}

.lncuH ._24QCD .bPw7X {
    width: 403px;
    height: auto;
    margin-bottom: 40px
}

@media screen and (max-width: 767px) {
    .lncuH ._24QCD .bPw7X {
        height:68px;
        width: auto;
        margin-bottom: 32px
    }
}

.lncuH ._24QCD ._2D7zP {
    width: 100%;
    height: auto;
    margin-bottom: 72px
}

@media screen and (max-width: 767px) {
    .lncuH ._24QCD ._2D7zP {
        margin-bottom:48px
    }
}

.lncuH ._24QCD .lAROR {
    max-width: 640px;
    text-align: center;
    margin-bottom: 48px
}

@media screen and (max-width: 767px) {
    .lncuH ._24QCD .lAROR {
        margin-bottom:26px
    }
}

.lncuH ._24QCD .jnz-E {
    text-align: center;
    margin-bottom: 16px
}

.lncuH ._24QCD ._10rfN {
    text-align: center
}

.lncuH ._24QCD ._2kXFE {
    max-width: 282px;
    padding: 24px;
    padding-bottom: 0;
    justify-content: space-between
}

.lncuH ._24QCD ._2kXFE ._2f2LY {
    text-align: center
}

.lncuH ._24QCD ._2kXFE img {
    width: auto;
    margin-bottom: 24px;
    margin-top: 16px;
    object-fit: contain
}

.lncuH ._24QCD ._12zJp {
    display: flex;
    align-items: center;
    column-gap: 32px;
    justify-content: center;
    margin-top: 80px
}

@media screen and (max-width: 767px) {
    .lncuH ._24QCD ._12zJp {
        flex-direction:column;
        row-gap: 24px;
        margin-top: 40px
    }
}

.lncuH ._3YogQ {
    width: 588px;
    height: auto;
    flex-shrink: 0
}

@media screen and (max-width: 1279px) {
    .lncuH ._3YogQ {
        width:44%
    }
}

@media screen and (max-width: 1099px) {
    .lncuH ._3YogQ {
        width:100%
    }
}

.lncuH ._3YogQ img {
    width: 100%;
    height: auto
}

.lncuH .-x1de {
    flex-grow: 1
}

.lncuH .-x1de ._2ul4t {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 40px;
    row-gap: 40px;
    width: 100%
}

@media screen and (max-width: 767px) {
    .lncuH .-x1de ._2ul4t {
        grid-template-columns:repeat(1,1fr)
    }
}

.lncuH .-x1de ._2ul4t ._3fY_E {
    height: 32px;
    width: auto;
    margin-top: 24px
}

.lncuH .-x1de ._2ul4t ._2NwZI img {
    height: 32px;
    width: auto;
    margin-bottom: 16px
}

.lncuH .-x1de ._21-Gz {
    height: 175px;
    overflow: hidden;
    position: relative;
    border-radius: 8px
}

.lncuH .-x1de ._21-Gz img {
    width: 100%
}

.lncuH .-x1de ._21-Gz ._17f8i {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    color: #000;
    border-radius: 50px;
    font-weight: 600;
    border: 1px solid #000;
    white-space: nowrap;
    transition: all .2s;
    bottom: 8px;
    font-size: .875rem;
    padding: 8px 16px
}

.lncuH .-x1de ._21-Gz ._17f8i i {
    color: #000;
    transition: color .2s;
    margin-right: 8px
}

@media (hover: hover) and (pointer:fine) {
    .lncuH .-x1de ._21-Gz ._17f8i:hover:not([disabled]) {
        background-color:#000;
        color: #fff;
        cursor: pointer
    }

    .lncuH .-x1de ._21-Gz ._17f8i:hover:not([disabled]) i {
        color: #fff
    }
}

.lncuH .-x1de ._1bd-C {
    display: none
}

@media screen and (max-width: 1099px) {
    .lncuH._2I18R {
        max-width:100%
    }
}

@media screen and (max-width: 1099px) {
    .lncuH._2I18R ._1iszr {
        margin:0 -40px;
        width: 100vw;
        padding: 0 40px;
        overflow-x: auto;
        overflow-y: hidden
    }

    .lncuH._2I18R ._1iszr::-webkit-scrollbar {
        display: none
    }
}

@media screen and (max-width: 767px) {
    .lncuH._2I18R ._1iszr,.lncuH._2I18R ._2loAh {
        margin:0 -16px;
        padding: 0 16px
    }

    .lncuH._2I18R ._2loAh {
        overflow-x: auto;
        width: 100vw;
        justify-content: flex-start
    }

    .lncuH._2I18R ._2loAh ._2kXFE {
        flex-shrink: 0;
        width: 300px;
        padding: 40px 24px
    }

    .lncuH._2I18R ._2loAh::-webkit-scrollbar {
        display: none
    }
}
/**/
._2cwWu {
    width: 100%;
    display: flex;
    position: relative;
    column-gap: 24px
}

@media screen and (max-width: 1099px) {
    ._2cwWu {
        flex-direction:column
    }

    ._2cwWu._1A8rh {
        flex-direction: column-reverse
    }
}

._2cwWu._3oX95 {
    max-width: 100%;
    align-items: center;
    column-gap: 24px
}

._2cwWu._3oX95 ._1O2ga {
    width: 486px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center
}

@media screen and (max-width: 1279px) {
    ._2cwWu._3oX95 ._1O2ga {
        height:474px
    }
}

@media screen and (max-width: 1099px) {
    ._2cwWu._3oX95 ._1O2ga {
        width:688px;
        text-align: center;
        height: unset
    }
}

@media screen and (max-width: 767px) {
    ._2cwWu._3oX95 ._1O2ga {
        width:100%;
        text-align: left
    }
}

._2cwWu._3oX95 ._2T2sV {
    flex-grow: 1
}

._2cwWu ._2T2sV {
    height: 640px;
    width: auto
}

@media screen and (max-width: 1279px) {
    ._2cwWu ._2T2sV {
        height:474px
    }
}

@media screen and (max-width: 767px) {
    ._2cwWu ._2T2sV {
        width:175%;
        height: auto;
        margin-top: 24px
    }
}

._2cwWu ._2T2sV img {
    height: 100%;
    width: auto
}

@media screen and (max-width: 767px) {
    ._2cwWu ._2T2sV img {
        width:100%;
        height: auto
    }
}
/**/
._2cwWu._3oX95 {
    max-width: 100%;
    align-items: center;
    column-gap: 24px
}

._2cwWu._3oX95 ._1O2ga {
    width: 486px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center
}

@media screen and (max-width: 1279px) {
    ._2cwWu._3oX95 ._1O2ga {
        height:474px
    }
}

@media screen and (max-width: 1099px) {
    ._2cwWu._3oX95 ._1O2ga {
        width:688px;
        text-align: center;
        height: unset
    }
}

@media screen and (max-width: 767px) {
    ._2cwWu._3oX95 ._1O2ga {
        width:100%;
        text-align: left
    }
}

._2cwWu._3oX95 ._2T2sV {
    flex-grow: 1
}
/**/
@media screen and (max-width: 1099px) {
    ._2cwWu._1A8rh {
        flex-direction: column-reverse
    }
}
/**/
._2cwWu._3oX95 ._1O2ga {
    width: 486px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center
}

@media screen and (max-width: 1279px) {
    ._2cwWu._3oX95 ._1O2ga {
        height:474px
    }
}

@media screen and (max-width: 1099px) {
    ._2cwWu._3oX95 ._1O2ga {
        width:688px;
        text-align: center;
        height: unset
    }
}

@media screen and (max-width: 767px) {
    ._2cwWu._3oX95 ._1O2ga {
        width:100%;
        text-align: left
    }
}
/**/
._3tvad ._3w6ty {
    font-family: Fira Sans,sans-serif;
    font-size: 3.375rem;
    font-weight: 500;
    line-height: 1.25;
    color: #1e1e1e
}

@media screen and (max-width: 767px) {
    ._3tvad ._3w6ty {
        font-size:2.5rem
    }
}
/**/
._3tvad .lAROR {
    font-size: 1.125rem;
    line-height: 1.5;
    color: #1e1e1e
}
.lncuH ._2cwWu._3oX95 ._1z0dg,.lncuH ._2cwWu._3oX95 .lAROR {
    max-width: 420px
}

@media screen and (max-width: 1099px) {
    .lncuH ._2cwWu._3oX95 ._1z0dg,.lncuH ._2cwWu._3oX95 .lAROR {
        max-width:unset
    }
}
.lncuH ._24QCD .lAROR {
    max-width: 640px;
    text-align: center;
    margin-bottom: 48px
}

@media screen and (max-width: 767px) {
    .lncuH ._24QCD .lAROR {
        margin-bottom:26px
    }
}
/**/
.PVQQr .xc5Jr ._1I62C ._1z0dg {
    display: flex
}

.PVQQr .xc5Jr ._1I62C ._1z0dg i {
    font-size: 1rem;
    color: #00bcd7;
    margin-right: 8px;
    margin-top: 3px
}
/**/
._3hD61 {
    width: 240px
}

._3hD61._2d8m8 {
    margin: 0 auto
}

@media screen and (max-width: 1099px) {
    ._3hD61 {
        width:400px;
        margin: 0 auto
    }
}

@media screen and (max-width: 767px) {
    ._3hD61 {
        width:100%
    }
}
/**/
.PWPP8 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    padding: 0 16px;
    cursor: pointer;
    text-decoration: none;
    transition: all .2s;
    color: #1e1e1e;
    white-space: nowrap
}

.PWPP8:focus-visible {
    outline: 1px auto -webkit-focus-ring-color
}

.PWPP8._3ZCRK {
    pointer-events: none
}

.PWPP8 ._228M9 {
    margin-right: 8px
}

.PWPP8 ._2xj29,.PWPP8 ._228M9 {
    font-size: .75rem;
    color: inherit;
    font-style: normal
}

.PWPP8 ._2xj29 {
    margin-left: 8px
}

.PWPP8._1XYbU {
    height: 24px;
    font-size: .75rem;
    line-height: 1.333
}

.PWPP8.u3ywy {
    height: 32px
}

.PWPP8._2904Q,.PWPP8.u3ywy {
    font-size: .875rem;
    line-height: 1.143
}

.PWPP8._2904Q {
    height: 40px
}

.PWPP8.W2P3N {
    height: 56px;
    font-size: 1rem;
    line-height: 1.125
}

.PWPP8._2KTM7 {
    padding: 0
}

.PWPP8._2KTM7 ._228M9 {
    margin-right: 0
}

.PWPP8._2KTM7._1XYbU {
    width: 24px
}

.PWPP8._2KTM7.u3ywy {
    width: 32px
}

.PWPP8._2KTM7._2904Q {
    width: 40px
}

.PWPP8._2KTM7.W2P3N {
    width: 56px
}

.PWPP8._3QLI9 {
    background-color: #f74356;
    color: #fff;
    font-weight: 600
}

@media (hover: hover) and (pointer:fine) {
    .PWPP8._3QLI9:hover:not([disabled]) {
        background-color:#f5122a
    }
}

.PWPP8._26O0b {
    background-color: #fff;
    color: #f74356;
    font-weight: 600;
    border: 1px solid #f74356
}

@media (hover: hover) and (pointer:fine) {
    .PWPP8._26O0b:hover:not([disabled]) {
        background-color:#f5122a;
        border-color: #f5122a;
        color: #fff
    }
}

.PWPP8.qLima {
    background-color: #f3f3f3;
    font-weight: 400
}

@media (hover: hover) and (pointer:fine) {
    .PWPP8.qLima:hover:not([disabled]) {
        background-color:#e5e5e5
    }
}

.PWPP8.mXOJi {
    background-color: #f3f3f3;
    font-weight: 600;
    border-radius: 32px
}

@media (hover: hover) and (pointer:fine) {
    .PWPP8.mXOJi:hover:not([disabled]) {
        background-color:#e5e5e5
    }
}
/**/
.PWPP8.W2P3N {
    height: 56px;
    font-size: 1rem;
    line-height: 1.125
}
.PWPP8._2KTM7.W2P3N {
    width: 56px
}
/**/
.PWPP8._3QLI9 {
    background-color: #f74356;
    color: #fff;
    font-weight: 600
}

@media (hover: hover) and (pointer:fine) {
    .PWPP8._3QLI9:hover:not([disabled]) {
        background-color:#f5122a
    }
}
/**/
._2cwWu._3oX95 ._2T2sV {
    flex-grow: 1
}

._2cwWu ._2T2sV {
    height: 640px;
    width: auto
}

@media screen and (max-width: 1279px) {
    ._2cwWu ._2T2sV {
        height:474px
    }
}

@media screen and (max-width: 767px) {
    ._2cwWu ._2T2sV {
        width:175%;
        height: auto;
        margin-top: 24px
    }
}

._2cwWu ._2T2sV img {
    height: 100%;
    width: auto
}

@media screen and (max-width: 767px) {
    ._2cwWu ._2T2sV img {
        width:100%;
        height: auto
    }
}