._2ouyQ {
    display: flex;
    background-color: #f8f8fa;
    height: calc(100% - 50px);
    background-color: #fff;
    padding: 20px 0 20px 20px;
    border-left: 1px solid #e5e5ea;
    border-top: 1px solid #e5e5ea;
    box-shadow: 0 -5px 5px rgba(0,0,0,.05);
    min-width: 240px
}

._2ouyQ._2rwdQ {
    height: 100%
}

._2ouyQ ::-webkit-scrollbar {
    width: 5px;
    height: 5px
}

._2ouyQ ::-webkit-scrollbar-track {
    border: 1px solid hsla(0,0%,100%,.4);
    border-radius: 10px
}

._2ouyQ ::-webkit-scrollbar-thumb {
    background: #d9d9d9;
    border-radius: 10px
}

._2ouyQ ::-webkit-scrollbar-thumb:hover {
    background-color: silver
}

._2ouyQ .-s1YE {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%
}

._2ouyQ ._1oQqf {
    overflow: auto
}

._2ouyQ ._1oRo4 {
    padding-right: 20px
}

._2ouyQ ._32V2A {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #d9d9d9;
    padding-top: 4px;
    padding-bottom: 24px
}

._2ouyQ ._32V2A ._1nVFg {
    display: flex;
    font-size: .875rem;
    font-weight: 600;
    color: #1e1e1e
}

._2ouyQ ._32V2A ._1nVFg ._1M2pK {
    font-weight: 600
}

._2ouyQ ._32V2A ._1nVFg ._2EApa {
    color: #1e1e1e;
    text-decoration: solid underline;
    margin-left: 5px
}

@media (hover: hover) and (pointer:fine) {
    ._2ouyQ ._32V2A ._1nVFg ._2EApa:hover:not([disabled]) {
        text-decoration:underline
    }
}

._2ouyQ ._3cCIE {
    margin: 15px 0
}

._2ouyQ ._3p6_B {
    display: flex
}

._2ouyQ ._3yT-i {
    margin-right: 10px
}

._2ouyQ ._3WIRi {
    font-size: 1rem;
    font-weight: 600
}

._2ouyQ ._2Y1hr {
    font-size: .75rem;
    color: #007aff;
    text-decoration: none
}

._2ouyQ ._2V2uS {
    border-top: 1px solid #e5e5e7;
    margin-bottom: 15px
}

._2ouyQ ._2ZJxG {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff
}

._2ouyQ ._2ZJxG i {
    font-size: 14px
}

._2ouyQ ._2ZJxG._1RPFS {
    margin-bottom: 15px
}

._2ouyQ ._1u7Uw {
    display: flex;
    align-items: center
}

._2ouyQ ._1u7Uw ._1quzh {
    margin-left: 5px
}

._2ouyQ ._1u7Uw ._3WIRi {
    margin-left: 15px
}

._2ouyQ ._2p8Rq {
    display: flex;
    color: #1c1c1e;
    padding: 4px 7px;
    align-items: center;
    margin-bottom: 15px
}

._2ouyQ ._2p8Rq span {
    font-size: .875rem
}

._2ouyQ ._2AQFA {
    text-decoration: none
}

._2ouyQ .Q1m6L {
    height: 24;
    min-width: 24px;
    display: flex;
    justify-content: center
}

._2ouyQ ._32vbn {
    font-size: .875rem;
    color: #c7c7ca;
    margin-right: 15px
}

._2ouyQ ._32vbn._32ET- {
    color: #007aff
}

._2ouyQ ._3aAvt {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding-top: 15px;
    border-top: 1px solid #e5e5e7;
    margin-right: 20px
}

._2ouyQ ._1FIQO {
    display: flex;
    justify-content: space-between;
    width: 104px;
    margin: 10px 0
}

._2ouyQ ._1FIQO ._3GB1O {
    font-size: 1.125rem;
    color: #7f7f81
}

._2ouyQ ._1W8i3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 160px
}

._2ouyQ ._24u5B {
    width: 2px;
    height: 2px;
    background-color: #000
}

._2ouyQ ._3onOK a {
    text-decoration: none;
    font-size: .75rem
}

._2ouyQ ._1ESWU {
    font-size: .75rem;
    margin-top: 5px;
    text-align: center
}

._2ouyQ ._1Fll1 {
    height: 100%;
    width: 0;
    position: absolute;
    top: 20px;
    right: 0;
    z-index: 50000000;
    transition: width .2s ease;
    background-color: #fff;
    border-left: 1px solid #e5e5ea
}

._2ouyQ ._1Fll1.LFplk {
    width: 100%;
    padding: 0 20px 20px
}
/**/
._3CgBx {
    position: sticky;
    top: 70px
}

._3CgBx ._2wbFj {
    padding: 0;
    margin: 0
}

._3CgBx ._2wbFj li {
    list-style: none;
    margin-bottom: 10px;
    padding: 6px 2px;
    font-size: .875rem;
    cursor: pointer;
    white-space: nowrap
}

._3CgBx ._2wbFj li>a {
    text-decoration: none;
    width: 14px;
    color: #1c1c1e
}

._3CgBx ._2wbFj li._3Rh6j {
    background-color: #f2f8ff;
    border-radius: 4px
}

._3CgBx ._2wbFj li._3Rh6j div {
    font-weight: 600;
    color: #007aff
}

._3CgBx ._2wbFj li._7m7Xu {
    cursor: default!important
}

._3CgBx ._2wbFj li._7m7Xu ._3qZYl {
    pointer-events: none
}

._3CgBx ._2wbFj li._7m7Xu ._3qZYl div {
    color: #b2b2b8
}

._3CgBx ._2wbFj li ._28fBE {
    display: flex
}

._3CgBx ._2wbFj li ._38Gd9 {
    height: 24;
    min-width: 24px;
    display: flex;
    justify-content: center;
    margin-right: 10px
}

._3CgBx ._2wbFj li .DRcJP {
    font-size: .875rem;
    color: #c7c7ca
}

._3CgBx ._2wbFj li .DRcJP._3Rh6j {
    color: #007aff
}

@media (hover: hover) and (pointer:fine) {
    ._3CgBx ._2wbFj li:not(._3Rh6j):not(._7m7Xu):hover:not([disabled]) {
        background-color:#f0f0f0;
        border-radius: 4px
    }
}