.profile_wrap {
    height: 100%;
    padding-left: 10px;
    padding-right: 10px
}

@media (min-width: 769px) {
    .profile_wrap {
        width:100%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
        padding-right: 0
    }
}
.noPadding {
    padding-left: 0!important;
    padding-right: 0!important
}
.profile_inner {
    display: flex;
    min-height: 100%;
    background-color: #fff
}

.profile_inner._2Hvz3 {
    background-color: #fafafa
}

.noMargin {
    margin: 0;
    flex-grow: 1
}

._32le7 {
    width: 100%;
    position: relative
}

._32le7._3XLOv .profile_tit {
    margin-bottom: 6px
}

.profile_set {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #e6e6e6;
    background-color: hsla(0,0%,100%,.98);
    padding: 10px
}

@media (max-width: 768px) {
    .profile_set {
        padding:8px
    }
}

.profile_set ._2gFpT {
    position: absolute;
    text-decoration: none;
    top: 50%;
    transform: translateY(-50%);
    left: 30px
}

@media (max-width: 768px) {
    .profile_set ._2gFpT {
        left:15px
    }
}

.profile_set ._2gFpT i {
    color: #43a6f7;
    font-size: 2rem
}

@media (max-width: 768px) {
    .profile_set ._2gFpT i {
        font-size:1.2rem
    }
}

.profile_set ._2jU66 {
    position: absolute;
    text-decoration: none;
    top: 50%;
    transform: translateY(-50%);
    right: 30px
}

@media (max-width: 768px) {
    .profile_set ._2jU66 {
        right:15px
    }
}

.profile_set ._2jU66 i {
    color: #43a6f7;
    font-size: 2rem
}

@media (max-width: 768px) {
    .profile_set ._2jU66 i {
        font-size:1.2rem
    }
}

._32le7._3XLOv .profile_tit {
    margin-bottom: 6px
}

.profile_tit {
    font-size: 20px;
    font-family: Open Sans,sans-serif;
    color: #484848;
    font-weight: 700;
    margin-bottom: 10px;
    max-width: 800px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.4
}

@media (max-width: 768px) {
    .profile_tit {
        max-width:70vw
    }
}

._2Tv99 {
    display: flex;
    justify-content: center
}
._2yAZ8 {
    display: flex;
    font-size: .8rem;
    justify-content: center
}

._2yAZ8 span {
    color: rgba(0,0,0,.5)
}
.color_blue {
    color: #43a6f7
}

.color_blue,._22oRs {
    text-decoration: none
}
._1YcZ5 {
    margin: 0 6px
}
._2qRxn {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px
}

@media (max-width: 768px) {
    ._2qRxn {
        margin-top:10px
    }
}

._3DvjM {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 10px
}

._3DvjM ._3zuvZ {
    display: flex;
    flex-direction: column;
    width: 800px;
    padding: 12px
}

@media (max-width: 768px) {
    ._3DvjM ._3zuvZ {
        padding:12px 12px 0;
        width: 100%
    }
}

._3DvjM ._3zuvZ ._1CkH6 {
    justify-content: center;
    width: 100%;
    align-items: center
}

@media (max-width: 768px) {
    ._3DvjM ._3zuvZ ._1CkH6 {
        width:100%;
        align-items: center
    }
}

._3DvjM ._3zuvZ .ErSYf {
    margin-bottom: 15px
}

._3X5Cf {
    position: relative
}

._3X5Cf._2as5H ._1flCv,._3X5Cf._2as5H .WiZQi {
    width: 80px;
    height: 80px
}

._3X5Cf._2as5H .K4BUq {
    padding: 5px 9px;
    font-size: 12px
}
._1jSjT {
    width: .1px;
    height: .1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1
}
.UD8O4 {
    cursor: pointer
}
._1flCv {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid #e6e6e6
}

._1flCv,._1flCv ._25IC3 {
    display: flex;
    align-items: center;
    justify-content: center
}

._1flCv ._25IC3 {
    height: 100%
}
._1TW9y._1U0Sp {
    display: flex;
    align-items: center
}

._1TW9y._1U0Sp ._1l4EX,._1TW9y._1U0Sp ._2qclA {
    border-radius: 50%
}
._1l4EX,._2qclA {
    width: 29px;
    min-width: 29px;
    height: 29px;
    min-height: 29px
}
.WiZQi {
    width: 150px;
    height: 150px
}
.K4BUq {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(72,72,72,.5);
    color: #fff;
    text-align: center;
    font-size: 14px;
    padding: 8px 0
}

.K4BUq i {
    display: inline-block;
    margin-right: 6px;
    color: #fff
}

.form_pf {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center
}

@media (max-width: 768px) {
    .form_pf {
        width:100%
    }
}

.form_pf ._18aHy {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 12px
}

@media (max-width: 768px) {
    .form_pf ._18aHy {
        padding:12px 12px 0
    }
}

.form_pf ._3Zkm1 {
    margin-bottom: 15px
}

.form_pf ._1-ePn {
    background-color: #fafafa;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #d9d9d9;
    width: 100%
}

.form_pf ._1xG5G {
    margin-top: 15px
}

@media (max-width: 768px) {
    .form_pf ._1YMVV {
        flex-direction:row;
        justify-content: space-between;
        margin-bottom: 5px
    }
}

.form_pf ._1YMVV ._32cWs {
    align-items: flex-end
}

@media (max-width: 768px) {
    .form_pf ._1YMVV ._32cWs {
        width:auto
    }
}

@media (max-width: 768px) {
    .form_pf ._1YMVV ._2wyAX {
        width:auto!important;
        margin-bottom: 0!important
    }
}

.form_pf .K1qd0 {
    width: 100%;
    margin-top: 30px;
    padding-top: 10px;
    border-top: 1px solid #d9d9d9
}

.form_pf .K1qd0 ._1DDcT {
    font-size: 1rem;
    font-weight: 600;
    font-family: Fira Sans,sans-serif;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #d9d9d9
}

.form_pf ._10Hwc {
    padding: 15px 0;
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 30px
}

@media (max-width: 768px) {
    .form_pf ._10Hwc {
        padding:10px 0
    }
}

.form_pf ._10Hwc .cm6uI {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px
}

@media (max-width: 768px) {
    .form_pf ._10Hwc .cm6uI {
        padding-bottom:7px
    }
}

.form_pf ._10Hwc .cm6uI span:first-child {
    font-size: .85rem;
    font-weight: 600;
    font-family: Fira Sans,sans-serif;
    margin-bottom: 5px
}

.form_pf ._10Hwc .cm6uI span:not(:first-child) {
    font-size: .8rem;
    opacity: .5
}

.form_pf ._10Hwc ._28G2t {
    display: flex;
    justify-content: space-between
}

.form_pf ._3INK1 {
    margin: 15px 0
}

@media (max-width: 768px) {
    .form_pf ._3INK1 {
        margin:10px 0
    }
}

.form_pf .V1nPG {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding: 0 12px 12px
}

@media (max-width: 768px) {
    .form_pf .V1nPG {
        padding:0;
        width: 100%
    }
}

.form_pf .V1nPG button {
    font-size: 1rem;
    width: 150px
}

@media (max-width: 768px) {
    .form_pf .V1nPG button {
        width:100%;
        border-top-left-radius: 0;
        border-top-right-radius: 0
    }
}

.form_pf .V1nPG ._315nI {
    background-color: transparent;
    color: #f74356;
    text-decoration: solid underline #f74356;
    font-size: .85rem;
    margin-top: 10px
}

@media (hover: hover) and (pointer:fine) {
    .form_pf .V1nPG ._315nI:hover:not([disabled]) {
        color:#f5122a;
        text-decoration: solid underline #f5122a
    }
}

.form_pf .C6m-m {
    max-width: 150px;
    margin-left: auto
}

.form_pf ._32qbK {
    color: #43a6f7;
    list-style: none;
    display: flex;
    padding: 0;
    font-size: 12px
}

.form_pf ._32qbK li {
    margin-right: 6px;
    padding-right: 6px;
    border-right: 1px solid #e6e6e6
}

.form_pf ._32qbK li a {
    color: #43a6f7
}

.form_pf ._32qbK li:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: 0
}

.form_pf ._1ltnY {
    color: #43a6f7
}

.form_pf ._3T-Sn {
    margin: 5px 0 5px 2px;
    font-size: 12px;
    color: #43a6f7
}

.form_pf ._1fJZa {
    color: #f74356!important
}

.form_pf ._2d5fq {
    color: #43a6f7;
    font-size: 14px
}

.form_pf .biHps {
    color: #f74356;
    font-size: 14px
}

.form_pf ._3Qu5z {
    position: absolute;
    top: 0;
    right: 0;
    color: #43a6f7;
    font-size: 14px;
    cursor: pointer
}

.form_pf small._3p7Sb {
    opacity: .85;
    font-size: 10px;
    margin: 4px 2px
}

.form_pf label {
    margin-left: 0
}

._3udTV input {
    background-color: #f0f0f0!important;
    cursor: not-allowed
}
._3OaS_ {
    position: relative
}
.title_pf {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 10px
}

.title_pf._1TsDA {
    margin-bottom: 0;
    font-weight: 400;
    position: absolute;
    z-index: 1;
    left: 13px;
    top: 0;
    transform: translateY(-50%);
    background-color: #fff;
    padding: 0 4px;
    font-size: .75rem;
    color: #757575
}