.J9UpY {
    height: 100%;
    padding-left: 10px;
    padding-right: 10px
}

@media (min-width: 769px) {
    .J9UpY {
        width:100%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
        padding-right: 0
    }
}
._33Bc5 {
    padding-left: 0!important;
    padding-right: 0!important
}

._3Egkf {
    box-sizing: border-box;
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px
}

._3Egkf._1sD-Q {
    align-items: unset;
    padding: 0
}

._3Egkf ._3s51t {
    max-width: 1240px;
    width: 100%
}

._3Egkf ._3pplF {
    position: fixed;
    top: 60px;
    left: 10px;
    z-index: 10;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #d9d9d9;
    box-shadow: 0 0 4px rgba(28,28,30,.1);
    cursor: auto;
    padding: 15px;
    max-width: 30vw;
    min-width: 315px
}

._3Egkf ._3pplF._1sD-Q {
    min-width: unset;
    width: calc(100% - 20px);
    max-width: calc(100% - 20px)
}

._3Egkf ._2a3h_ {
    display: flex;
    width: 100%;
    justify-content: center
}

._3Egkf ._2a3h_._1sD-Q {
    width: 100%;
    max-width: 100%;
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 0
}

._3Egkf ._2a3h_ ._1me17._1sD-Q {
    width: 100%
}

._3Egkf ._1yFZb {
    width: 100%;
    max-width: 428px
}

._3Egkf ._1yFZb._1sD-Q {
    padding: 0 16px
}

._3Egkf ._64ol1 {
    padding-top: 50px;
    overflow: hidden
}

._3Egkf ._64ol1._1sD-Q {
    margin: 0 16px;
    padding-bottom: 26px
}

._3Egkf ._2Go19 {
    height: 75px;
    background-color: rgba(67,166,247,.05)
}
._31unM {
    background-color: #fff;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-shrink: 0;
    width: 100%;
    width: 428px
}

._31unM._1Bg2T {
    width: 100%;
    overflow: hidden;
    justify-content: center
}

._31unM._1Bg2T img {
    border-radius: 8px!important
}

._31unM ._11wj- {
    width: 100%;
    height: 100%;
    background-color: #f5f5f5
}

._31unM ._2GZ73,._31unM ._11wj- {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px
}

._31unM ._2GZ73 {
    position: relative
}

._31unM ._2GZ73._19KqO {
    height: 428px
}

._31unM ._2GZ73 ._3WoUl,._31unM ._2GZ73 .Nnpei {
    max-height: 100%!important;
    max-width: 100%!important;
    margin: 0 auto;
    border-radius: 8px
}

._31unM ._2GZ73 ._3WoUl {
    width: auto!important
}
.pKB95 {
    width: 100%!important;
    height: 428
}

._1EQ8g,.pKB95 {
    border-radius: 8px
}
.OA3Xy {
    width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    position: relative;
    overflow-x: auto;
}

.OA3Xy._3Pys0 {
    background-color: #fff;
    margin-top: 0
}

.OA3Xy ._2ALHB {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(0,0,0,.4);
    color: #fff;
    z-index: 1;
    padding: 5px 8px;
    border-radius: 20px;
    font-size: .8rem
}

.OA3Xy ._1knwh {
    color: #1e1e1e;
    padding: 10px;
    font-size: 1rem;
    height: 100%;
    transition: all .2s;
    display: flex;
    align-items: center;
    justify-content: center
}

@media (hover: hover) and (pointer:fine) {
    .OA3Xy ._1knwh:hover:not([disabled]):hover {
        cursor:pointer
    }
}

.OA3Xy ._1m95V {
    max-width: 100vw;
    padding: 10px 0;
    display: flex;
    align-items: center;
    flex-grow: 1;
    //overflow: auto
}

.OA3Xy ._1m95V::-webkit-scrollbar {
    display: none
}

.OA3Xy ._1m95V._3Pys0 {
    padding: 0
}

.OA3Xy ._3f8JE {
    height: 0;
    flex-shrink: 0;
    border-radius: 4px;
    position: relative;
    transition: all .2s cubic-bezier(.25,.8,.25,1)
}

.OA3Xy ._3f8JE.rLPp4 {
    border: 1px solid #1e1e1e
}

@media (hover: hover) and (pointer:fine) {
    .OA3Xy ._3f8JE:hover:not([disabled]):hover {
        cursor:pointer
    }

    .OA3Xy ._3f8JE:hover:not([disabled]):hover ._2DbiS {
        box-shadow: 0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23)
    }
}

.OA3Xy ._3f8JE._3Pys0 {
    border-radius: 0
}

.OA3Xy ._3f8JE._3Pys0 ._1lsFW,.OA3Xy ._3f8JE._3Pys0 ._2DbiS {
    border: none;
    padding: 0;
    border-radius: 0
}

.OA3Xy ._3f8JE ._1lsFW,.OA3Xy ._3f8JE ._2DbiS {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s;
    border: none;
    object-fit: cover;
    border-radius: 10px
}

.OA3Xy ._3f8JE ._1lsFW._3Pys0,.OA3Xy ._3f8JE ._2DbiS._3Pys0 {
    object-fit: contain
}

.OA3Xy ._3f8JE ._1lsFW._5hgDO,.OA3Xy ._3f8JE ._2DbiS._5hgDO {
    background-color: #f5f5f5
}

.OA3Xy ._3f8JE ._1lsFW._5hgDO._1A9zX,.OA3Xy ._3f8JE ._2DbiS._5hgDO._1A9zX {
    background-color: #000
}

.OA3Xy ._3f8JE ._1lsFW._24rup,.OA3Xy ._3f8JE ._2DbiS._24rup {
    border-color: #00bcd7
}

.OA3Xy ._3f8JE ._1lsFW i {
    color: hsla(0,0%,100%,.9);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    transition: color .2s
}

@media (hover: hover) and (pointer:fine) {
    .OA3Xy ._3f8JE ._1lsFW:hover:not([disabled]):hover i {
        color:#fff
    }
}
._2vrjL {
    margin: 0 32px;
    min-width: 350px
}

._2vrjL .CJM-X {
    border-color: #e9ebed;
    background-color: #e9ebed;
    color: #c2c8cc;
    cursor: not-allowed
}

._2vrjL .-USNC {
    background-color: #757575;
    border-color: #757575;
    color: #d9d9d9
}

._2vrjL._1vSDb {
    margin: 0
}

._2vrjL._1vSDb ._1B4Sx {
    font-size: 1.5rem;
    display: flex;
    margin: 16px 0;
    padding: 0 16px
}

._2vrjL._1vSDb ._2d_GR {
    font-size: .875rem
}

._2vrjL._1vSDb .j8drf {
    padding-bottom: 0
}

._2vrjL ._3EmCb {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 7px
}

._2vrjL ._3EmCb ._1OLIL {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: .75rem;
    padding: 5px 0
}

._2vrjL ._3EmCb ._1OLIL ._1pYj1 {
    padding-right: 14px;
    display: flex;
    align-items: center
}

._2vrjL ._3EmCb ._1OLIL ._1pYj1 ._3lxD6 {
    text-transform: capitalize;
    font-size: .75rem;
    color: #484848;
    margin-left: 0
}

._2vrjL ._3EmCb ._1OLIL ._1pYj1 i {
    font-size: .75rem;
    color: #00bcd7;
    margin-right: 4px
}

._2vrjL ._3EmCb ._1OLIL:last-child {
    margin-bottom: 0
}

._2vrjL ._1nYY0 {
    font-size: .8rem;
    color: #43a6f7;
    margin-bottom: 12px
}

._2vrjL ._1nYY0 i {
    margin-right: 5px;
    font-size: 1rem
}

._2vrjL ._1Bxh6 {
    border-collapse: separate;
    border-spacing: 16px 0;
    border-spacing: 1rem 0;
    color: rgba(0,0,0,.6);
    font-size: .9rem;
    font-weight: 600;
    display: table;
    line-height: 0;
    margin: 1.75em 0;
    table-layout: auto;
    text-align: center;
    white-space: nowrap;
    width: 100%
}

._2vrjL ._1Bxh6:after,._2vrjL ._1Bxh6:before {
    border-top: 1px solid rgba(0,0,0,.1);
    content: "";
    display: table-cell;
    width: 50%
}

._2vrjL ._1B4Sx {
    font-size: 1.75rem;
    margin-top: 16px;
    margin-bottom: 30px;
    color: #1e1e1e;
    display: flex;
    align-items: center
}

._2vrjL ._1B4Sx._1Zshn {
    color: #757575
}

._2vrjL ._1B4Sx ._1ZoBg {
    margin-left: 15px;
    display: flex;
    align-items: center
}

._2vrjL ._1B4Sx ._1ZoBg span {
    color: #fff;
    font-weight: 600;
    font-size: .5rem;
    padding: 3px 7px;
    border-radius: 10px;
    text-transform: uppercase;
    margin-right: 7px
}

._2vrjL ._1B4Sx ._1ZoBg .FzmYf {
    background-color: #4cd964
}

._2vrjL ._1B4Sx ._1ZoBg .DF7mn {
    background-color: #f25123
}

._2vrjL ._1B4Sx ._1ZoBg span:last-child {
    margin-right: 0
}

._2vrjL ._1B4Sx .j8drf {
    color: #43a6f7;
    font-size: 1rem;
    margin: 0 0 0 auto;
    position: relative
}

._2vrjL ._161yL {
    display: flex;
    align-items: center
}

._2vrjL ._2d_GR {
    font-size: 1.125rem;
    margin-left: 5px;
    color: #757575;
    text-decoration: line-through
}

._2vrjL .k-gPw {
    font-size: .85rem;
    color: #757575;
    margin-bottom: 15px
}

._2vrjL .k-gPw._1FUDu {
    cursor: pointer;
    color: #43a6f7;
    line-height: 1.5;
    margin-bottom: 0;
    margin-top: 15px
}

@media (hover: hover) and (pointer:fine) {
    ._2vrjL .k-gPw._1FUDu:hover:not([disabled]) {
        text-decoration:underline
    }
}

._2vrjL .k-gPw._1FUDu ._1HsQ_ {
    margin-right: 5px
}

@media (hover: hover) and (pointer:fine) {
    ._2vrjL .k-gPw ._2pgFH:hover:not([disabled]):hover {
        cursor:pointer
    }
}

._2vrjL .k-gPw ._2MrV3 {
    margin: 0 5px;
    font-size: .5rem
}

@media (hover: hover) and (pointer:fine) {
    ._2vrjL .k-gPw ._2MrV3:hover:not([disabled]):hover {
        cursor:pointer
    }
}

._2vrjL ._3-T0d {
    max-height: 96px;
    position: relative;
    font-size: 1rem;
    line-height: 1.5;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden
}

._2vrjL ._3-T0d div {
    display: flex;
    flex-direction: column
}

._2vrjL ._3-T0d._1vSDb {
    margin-top: 8px;
    transition: height .5s;
    font-size: .875rem;
    max-height: 65px;
    padding: 0 16px
}

._2vrjL ._3-T0d._full {
    max-height: 300px;
    overflow-y: auto;
    margin-bottom: 5px
}

._2vrjL ._3-T0d._full:after {
    height: 0
}

._2vrjL ._3-T0d.bBljR {
    margin-bottom: 5px;
    max-height: none
}

._2vrjL ._3-T0d.bBljR:after {
    height: 0
}

._2vrjL ._3-T0d._3zqa0:after {
    background: none
}

._2vrjL ._3-T0d ._2jjjc {
    white-space: pre-wrap
}

._2vrjL ._2dhI8 {
    font-size: .875rem;
    color: #1e1e1e;
    margin-top: 8px;
    font-weight: 600
}

._2vrjL ._2dhI8._1vSDb {
    padding: 0 16px
}

._2vrjL ._2dhI8 ._2c__G {
    margin-left: 5px;
    color: #1e1e1e;
    font-size: .875rem
}

@media (hover: hover) and (pointer:fine) {
    ._2vrjL ._2dhI8:hover:not([disabled]):hover {
        cursor:pointer
    }
}
._3CY8B._2xGwY {
    padding: 0 16px;
    margin-top: 16px
}

._3CY8B._2xGwY ._49WlD {
    font-size: .875rem;
    margin-bottom: 10px
}

._3CY8B._2xGwY ._1ootK {
    font-size: 1rem;
    margin-bottom: 16px;
    margin-top: 0
}

._3CY8B ._49WlD {
    font-size: 1rem;
    color: #757575;
    margin-top: 5px
}

._3CY8B ._1ootK {
    font-size: 1.5rem;
    color: #1e1e1e;
    margin-top: 10px;
    font-weight: 600;
    line-height: 1.5
}

._3CY8B ._2QDvA {
    margin-top: 16px;
    display: flex;
    gap: 8px
}

._3CY8B ._2QDvA._2xGwY {
    margin-top: 0;
    margin-bottom: 8px
}

._3CY8B .QX9X7 {
    text-decoration: none
}

._3CY8B ._1VJUE {
    font-size: .75rem;
    padding: 3px 8px;
    border: 1px solid transparent;
    background-color: #f3f3f3;
    color: #1e1e1e;
    border-radius: 2px;
    white-space: nowrap
}

._3CY8B ._1VJUE._2LX-n {
    background-color: transparent;
    border-color: #f5122a;
    color: #f5122a
}
._2drVv .NG31q {
    margin-bottom: 14px
}

._2drVv .NG31q:last-child {
    margin-bottom: 0
}

._2drVv .NG31q ._1IZyA {
    font-size: .875rem;
    font-weight: 600;
    margin-bottom: 12px;
    color: #1e1e1e
}

._2drVv .NG31q ._1IZyA._3_r5P {
    padding: 0 16px
}

._2drVv .NG31q ._1IZyA span {
    font-weight: 400;
    text-transform: none;
    margin-right: 4px
}

._2drVv .NG31q .H1CTt {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none
}

@media (max-width: 768px) {
    ._2drVv .NG31q .H1CTt {
        flex-wrap:nowrap;
        padding-right: 16px
    }
}

._2drVv .NG31q .H1CTt::-webkit-scrollbar {
    height: 5px;
    padding: 0 10px;
    display: none
}

._2drVv .NG31q .H1CTt ._3czZT {
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    cursor: pointer;
    width: 136px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative
}

@media (max-width: 768px) {
    ._2drVv .NG31q .H1CTt ._3czZT {
        min-width:136px
    }

    ._2drVv .NG31q .H1CTt ._3czZT:first-child {
        margin-left: 16px
    }
}

._2drVv .NG31q .H1CTt ._3czZT._1IgY8 {
    border-color: #1e1e1e
}

._2drVv .NG31q .H1CTt ._3czZT._1IgY8:after {
    font-family: FontAwesome;
    content: "\F00C";
    color: #1e1e1e;
    position: absolute;
    font-weight: 600;
    right: 7px;
    font-size: .75rem
}

@media (hover: hover) {
    ._2drVv .NG31q .H1CTt ._3czZT:hover:not(._1IgY8) {
        background-color:#f3f3f3
    }
}

._2drVv .NG31q .H1CTt ._3czZT ._31D11 {
    font-size: .875rem;
    max-width: 90%;
    text-transform: capitalize;
    word-break: break-word;
    hyphens: auto;
    color: #1e1e1e;
    -webkit-hyphens: auto;
    -moz-hyphens: auto
}

._2drVv .NG31q .H1CTt ._3czZT ._31D11._1IgY8 {
    font-weight: 700
}

._2drVv .NG31q .H1CTt ._3czZT .rZh-M {
    margin-top: 6px;
    color: #1e1e1e;
    font-size: .875rem
}

._2drVv .NG31q .H1CTt ._3czZT._3AdMw ._31D11,._2drVv .NG31q .H1CTt ._3czZT._3AdMw .rZh-M {
    color: #aeaeae
}

.-t0gY {
    margin-top: 24px;
    font-size: 1.25rem;
    font-weight: 600;
    background-color: #fff;
    color: #1e1e1e;
    margin-bottom: 10px
}

.-t0gY._2XdmW {
    margin: 0 -10px;
    padding: 15px 10px;
    box-shadow: 0 0 4px rgba(0,0,0,.2)
}

.-t0gY._1vSDb {
    font-size: 1rem;
    margin-bottom: 8px;
    padding: 0 16px
}

._30inh {
    width: 320px;
    flex-shrink: 0;
    margin-left: auto
}

._30inh ._1xaaL {
    width: 320px;
    border-radius: 16px;
    border: 1px solid #d9d9d9;
    background-color: #fff;
    transition: box-shadow .2s ease-in-out
}

._30inh ._1xaaL._2SW4f {
    position: fixed;
    bottom: 10px;
    right: 10px;
    box-shadow: 0 10px 28px rgba(0,0,0,.2),0 1px 10px rgba(0,0,0,.2);
    animation: _2R7x9 .3s ease-in-out
}

._30inh ._1xaaL._3_Olz {
    transition: top .3s,right .3s,left .3s,bottom .3s
}

@media (hover: hover) and (pointer:fine) {
    ._30inh ._1xaaL ._222VR:hover:not([disabled]):hover {
        cursor:grab;
        cursor: -webkit-grab
    }

    ._30inh ._1xaaL ._222VR:hover:not([disabled]):hover._2avjo {
        cursor: grabbing;
        cursor: -webkit-grabbing;
        user-select: none
    }

    ._30inh ._1xaaL ._222VR:hover:not([disabled]):hover._23TtS {
        cursor: auto
    }
}

._30inh ._1xaaL .rF5o7 {
    padding: 24px
}

._30inh ._35JN1 {
    font-size: 1rem;
    color: #757575
}

@media (hover: hover) and (pointer:fine) {
    ._30inh ._35JN1:hover:not([disabled]):hover {
        cursor:pointer
    }
}

._30inh ._35JN1 ._1Uup1 {
    font-size: .875rem;
    color: #757575;
    margin-left: 5px
}

._30inh ._2a_U5 {
    height: auto;
    opacity: 1
}

._30inh ._2a_U5._1rRLp {
    height: 0;
    opacity: 0
}

._30inh ._1fNeg {
    color: #43a6f7;
    cursor: pointer;
    font-size: .9rem
}

._30inh ._1aj_R {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px
}

._30inh ._8M1Ec {
    width: 75%
}

._30inh ._8M1Ec .iexKj {
    height: 0;
    visibility: hidden;
    font-weight: 600;
    font-size: 1rem;
    opacity: 0;
    transition: opacity .2s ease-in-out
}

._30inh ._8M1Ec .iexKj.p-VU7 {
    visibility: visible;
    opacity: 1;
    height: auto;
    padding-bottom: 8px
}

._30inh ._8M1Ec ._3RriU {
    font-size: .7rem;
    color: #f74356;
    display: flex;
    align-items: center;
    margin-bottom: 5px
}

._30inh ._8M1Ec ._3RriU ._24cS2 {
    font-size: .45rem;
    font-weight: 600;
    height: 10px;
    width: 10px;
    padding: 3px 8px;
    color: #fff;
    background-color: #f74356;
    margin-right: 3px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1
}

._30inh ._8M1Ec ._1A-mj {
    font-size: .875rem;
    color: #757575;
    height: 0;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s ease-in-out
}

._30inh ._8M1Ec ._1A-mj.p-VU7 {
    visibility: visible;
    opacity: 1;
    height: auto;
    padding-bottom: 15px
}

._30inh ._2eHV4 {
    border-color: #e9ebed;
    background-color: #e9ebed;
    color: #c2c8cc;
    cursor: not-allowed
}

._30inh ._32FpH {
    background-color: #757575;
    border-color: #757575;
    color: #d9d9d9
}

._30inh ._2jG1L {
    font-size: 1.75rem;
    color: #1e1e1e
}

._30inh ._2eymP {
    display: flex;
    align-items: center
}

._30inh .Fx_Rm {
    font-size: 1.125rem;
    margin-left: 5px;
    color: #757575;
    text-decoration: line-through
}

._30inh ._1OwJ_ {
    font-size: 1rem;
    font-family: Fira Sans,sans-serif;
    color: #4cd964;
    margin-bottom: 12px
}

._30inh ._1OwJ_._2TK86 {
    color: #f74356
}

._30inh .L1JOr {
    padding-top: 6px
}

._30inh ._2l7ia {
    width: 100%;
    margin-bottom: 24px
}

._30inh ._2l7ia.dIF6c {
    margin-bottom: 0
}

._30inh ._22mD2 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #f74356;
    font-weight: 600;
    font-size: 1rem;
    padding: 15px 1rem;
    height: 52px;
    width: 100%;
    border-radius: 4px;
    transition: opacity .15s ease-in-out;
    text-decoration: none;
    margin-bottom: 24px
}

._30inh ._22mD2 i,._30inh ._22mD2 path,._30inh ._22mD2 svg {
    color: #fff
}

@media (hover: hover) and (pointer:fine) {
    ._30inh ._22mD2:hover:not([disabled]) {
        background-color:#f5122a
    }
}

._30inh ._22mD2:disabled {
    background-color: #d9d9d9
}

._30inh ._22mD2._2oKB7 {
    margin-left: 0
}

._30inh ._22mD2._2gGOP {
    background-color: #000;
    color: #fff;
    margin-left: 0;
    padding-top: 2px;
    padding-bottom: 2px
}

._30inh ._22mD2._2gGOP i {
    font-size: 2rem
}

._30inh .tEY8z {
    font-size: .8rem;
    color: #43a6f7;
    margin-bottom: 12px
}

._30inh .tEY8z i {
    margin-right: 5px;
    font-size: 1rem
}

@media (hover: hover) and (pointer:fine) {
    ._30inh .tEY8z:hover:not([disabled]) {
        cursor:pointer;
        color: #128ff5;
        text-decoration: solid underline
    }
}

._30inh ._3BA_d {
    border-collapse: separate;
    border-spacing: 16px 0;
    border-spacing: 1rem 0;
    color: rgba(0,0,0,.6);
    font-size: .9rem;
    font-weight: 600;
    display: table;
    line-height: 0;
    margin: 1.3em 0;
    table-layout: auto;
    text-align: center;
    white-space: nowrap;
    width: 100%
}

._30inh ._3BA_d:after,._30inh ._3BA_d:before {
    border-top: 1px solid rgba(0,0,0,.1);
    content: "";
    display: table-cell;
    width: 50%
}

._30inh ._2Sqq1 {
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative
}

._30inh ._2Sqq1 ._3bO91 {
    padding: 10px
}

._30inh ._2Sqq1 ._3bO91 .TgQy- {
    display: flex;
    align-items: center;
    color: #43a6f7;
    text-decoration: none
}

._30inh ._2Sqq1 ._3bO91 .TgQy- i,._30inh ._2Sqq1 ._3bO91 .TgQy- span {
    color: #43a6f7
}

._30inh ._2Sqq1 ._3bO91 .TgQy- span {
    word-break: break-word;
    margin-left: 5px
}

@media (hover: hover) and (pointer:fine) {
    ._30inh ._2Sqq1 ._3bO91 .TgQy- span:hover:not([disabled]) {
        text-decoration:underline
    }
}

._30inh ._2Sqq1 ._3Il-8 {
    position: absolute;
    top: 10px;
    left: 10px;
    font-weight: 400;
    color: #fff;
    font-family: Fira Sans,sans-serif;
    font-size: .8rem;
    background-color: #f74356;
    padding: 3px 6px;
    border-radius: 3px;
    z-index: 1;
    cursor: default
}
._2aVtF._36IVd {
    margin: 32px 0 46px;
    padding: 0 16px
}

._2aVtF ._3iAge {
    height: auto;
    opacity: 1
}

._2aVtF ._3iAge._2FrSJ {
    height: 0;
    opacity: 0
}

._2aVtF ._2XTHf {
    display: flex;
    color: #1e1e1e;
    margin-bottom: 18px
}

._2aVtF ._2J7Rc {
    width: 18px;
    display: flex;
    justify-content: center;
    margin-right: 8px
}

._2aVtF ._3BhqL,._2aVtF .OVmzj {
    color: #1e1e1e;
    font-size: .875rem
}

._2aVtF ._3BhqL b {
    color: #1e1e1e
}

._2aVtF ._3BhqL ._2C798 ._13ykH {
    margin-left: 5px;
    font-weight: 600
}

._2aVtF ._3BhqL ._2C798 ._28xnN {
    margin-left: 5px;
    color: #43a6f7
}

@media (hover: hover) and (pointer:fine) {
    ._2aVtF ._3BhqL ._2C798._1rYFy:hover:not([disabled]):hover {
        cursor:pointer
    }

    ._2aVtF ._3BhqL ._2C798._1rYFy:hover:not([disabled]):hover ._28xnN {
        color: #128ff5
    }
}

._2aVtF ._3BhqL ._1rmJU {
    margin: 0 5px;
    font-size: .875rem;
    color: #1e1e1e;
    cursor: pointer
}

._2aVtF ._3BhqL ._1mOMg {
    margin-right: 5px
}

._2aVtF ._3BhqL._2x-HZ {
    cursor: pointer;
    color: #43a6f7;
    line-height: 1.5
}

@media (hover: hover) and (pointer:fine) {
    ._2aVtF ._3BhqL._2x-HZ:hover:not([disabled]) {
        text-decoration:underline
    }
}

._2aVtF ._1LjOq {
    cursor: pointer;
    text-decoration: underline
}

._2aVtF ._1MfBR {
    margin-bottom: 20px;
    display: flex;
    align-items: center
}

._2aVtF ._1MfBR span {
    color: #fff;
    font-weight: 600;
    font-size: .5rem;
    padding: 3px 7px;
    border-radius: 10px;
    text-transform: uppercase;
    margin-right: 7px
}

._2aVtF ._1MfBR ._15Qme {
    background-color: #4cd964
}

._2aVtF ._1MfBR .svPlc {
    background-color: #f25123
}

._2aVtF ._1MfBR span:last-child {
    margin-right: 0
}

._2aVtF .z1SU5 {
    cursor: pointer;
    font-size: .85rem;
    color: #757575;
    margin-top: 15px
}

._2aVtF .z1SU5 ._3kegs {
    font-size: .85rem;
    margin-right: 5px;
    color: #757575
}
._1QD6e {
    display: flex;
    flex-direction: column;
    border-radius: 10px
}

._1QD6e._36YsW {
    margin-top: 40px
}

._1QD6e ._1EeTg {
    display: grid;
    grid-template-columns: repeat(4,1fr)
}

@media (max-width: 768px) {
    ._1QD6e ._1EeTg {
        grid-template-columns:repeat(2,1fr);
        column-gap: 16px;
        row-gap: 40px
    }
}

._1QD6e ._2EApe {
    font-size: 1.5rem;
    color: #1e1e1e;
    font-weight: 600;
    margin-bottom: 24px
}

._1QD6e ._1yYzg {
    margin: 28px 0;
    height: 1px;
    width: 100%;
    background-color: #d9d9d9
}

@media (max-width: 768px) {
    ._1QD6e ._1yYzg {
        display:none
    }
}

._1QD6e ._8JJcy {
    margin-bottom: 40px;
    font-size: 1.5rem;
    font-weight: 600;
    color: #1e1e1e
}

@media (max-width: 768px) {
    ._1QD6e ._8JJcy {
        font-size:1.125rem;
        margin-bottom: 32px
    }
}

._1QD6e ._8JJcy ._27eQB {
    color: #757575;
    font-weight: 600
}

.Cw2rk {
    background-color: #fff;
    width: 100%;
    height: 100%
}

.Cw2rk ._2sb7E {
    border-radius: 8px;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    background-color: rgba(0,0,0,.05);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-decoration: none
}

@media (hover: hover) and (pointer:fine) {
    .Cw2rk ._2sb7E:hover:not([disabled]) ._2QWVS {
        box-shadow:0 2px 8px 0 rgba(0,0,0,.1)
    }
}

.Cw2rk ._2sb7E ._2QWVS {
    transition: all .2s;
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    border-radius: 8px;
    position: absolute;
    bottom: 0;
    border: 1px solid #d9d9d9
}

.Cw2rk ._2sb7E img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    position: absolute;
    bottom: 0
}

.Cw2rk ._2sb7E ._3ONEJ {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    font-size: 1.6rem;
    height: 0
}

.Cw2rk .n5aCT {
    margin-top: 16px
}

@media (max-width: 768px) {
    .Cw2rk .n5aCT {
        margin-top:8px
    }
}

.Cw2rk ._1rsoq {
    color: #1e1e1e;
    font-weight: 600;
    text-decoration: none;
    display: block;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    overflow: hidden
}

.Cw2rk ._1rsoq,.Cw2rk ._2PdIj {
    line-height: 1.429;
    font-size: .875rem
}

.Cw2rk ._2PdIj {
    color: #757575
}

.Cw2rk ._2JHn- {
    margin-top: 4px;
    display: flex;
    justify-content: space-between
}

@media (max-width: 768px) {
    .Cw2rk ._2JHn- {
        flex-direction:column;
        row-gap: 8px
    }
}

.Cw2rk ._36-3W {
    height: 24px;
    padding: 0 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #f3f3f3;
    color: #1e1e1e;
    font-size: .75rem;
    border-radius: 2px
}

.Cw2rk ._2mp4y {
    position: absolute;
    left: 10px;
    top: 10px;
    display: flex;
    flex-direction: column
}

.Cw2rk ._2mp4y ._21M0Z {
    padding: 3px 7px;
    font-size: 12px;
    color: #fff;
    border-radius: 5px;
    opacity: .93;
    margin-bottom: 10px
}

@media (max-width: 768px) {
    .Cw2rk ._2mp4y ._21M0Z {
        left:10px
    }
}

.Cw2rk ._2mp4y ._21M0Z i {
    font-size: 12px;
    margin-right: 5px;
    color: #fff
}

@media (max-width: 428px) {
    .Cw2rk ._2mp4y ._21M0Z,.Cw2rk ._2mp4y ._21M0Z i {
        font-size:.6rem
    }
}

.Cw2rk ._2mp4y ._21M0Z._3oOHr {
    background-color: #43a6f7
}

.Cw2rk._3D2o2 {
    padding: 12px;
    border-radius: 8px;
    transition: all .2s;
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column
}

@media (max-width: 768px) {
    .Cw2rk._3D2o2 {
        padding:0
    }
}

@media (hover: hover) and (pointer:fine) {
    .Cw2rk._3D2o2:hover:not([disabled]) {
        box-shadow:0 2px 8px 0 rgba(0,0,0,.1);
        z-index: 1
    }
}

.Cw2rk._3D2o2 ._2sb7E {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

@media (hover: hover) and (pointer:fine) {
    .Cw2rk._3D2o2 ._2sb7E:hover:not([disabled]) ._2QWVS {
        box-shadow:none
    }
}

.Cw2rk._3D2o2 ._2sb7E ._2QWVS {
    border: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

.Cw2rk._3D2o2 ._2sb7E img {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

.Cw2rk._3D2o2 .n5aCT {
    flex-grow: 1;
    display: flex;
    flex-direction: column
}

.Cw2rk._3D2o2 ._1rsoq {
    line-height: 1.5;
    -webkit-line-clamp: 2
}

@media (max-width: 768px) {
    .Cw2rk._3D2o2 ._1rsoq {
        -webkit-line-clamp:3
    }
}

.Cw2rk._3D2o2 ._15547 {
    margin-top: 4px;
    font-size: .875rem;
    color: #757575
}

.Cw2rk._3D2o2 ._2JHn- {
    margin-top: 8px;
    flex-grow: 1;
    align-items: flex-end
}

@media (max-width: 768px) {
    .Cw2rk._3D2o2 ._2JHn- {
        align-items:flex-start
    }
}

.Cw2rk._3D2o2 ._2PdIj {
    line-height: 1.5;
    color: #1e1e1e;
    font-size: 1rem
}

.Cw2rk._3D2o2 ._2PdIj .-cbHe {
    font-size: .875rem;
    color: #757575;
    text-decoration: line-through;
    margin-left: 8px
}
._12Jr4 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 48px
}