.vJADg ._14kIw {
    display: flex;
    padding: 80px 50px;
    flex-direction: column
}

@media (max-width: 768px) {
    .vJADg ._14kIw {
        padding:20px 0
    }
}

.vJADg ._14kIw .Kyn2S {
    display: flex;
    height: 220px
}

.vJADg ._14kIw._2bADs {
    background-color: #fff!important
}

.vJADg ._14kIw.A4LUd {
    padding-top: 0
}

@media (max-width: 768px) {
    .vJADg ._14kIw.A4LUd {
        padding:24px 0
    }
}

.vJADg ._14kIw._2Z2-J {
    padding: 20px
}

@media (max-width: 768px) {
    .vJADg ._14kIw._2Z2-J {
        padding:5px
    }
}

.vJADg ._14kIw.vOVaW {
    padding: 0;
    overflow: hidden
}

@media (max-width: 768px) {
    .vJADg ._14kIw.vOVaW {
        padding:24px 0
    }
}

.vJADg ._14kIw.vOVaW h2 {
    font-size: 2rem;
    padding-left: 100px;
    margin-bottom: 40px;
    font-weight: 600;
    color: #1e1e1e
}

@media (max-width: 768px) {
    .vJADg ._14kIw.vOVaW h2 {
        font-size:1.25rem;
        padding-left: 20px;
        margin-bottom: 20px
    }
}

.vJADg ._14kIw h3 {
    font-size: 1.5rem;
    margin-bottom: 40px;
    padding-left: 50px;
    color: #1e1e1e;
    font-weight: 600
}

@media (max-width: 768px) {
    .vJADg ._14kIw h3 {
        font-size:1rem;
        margin-bottom: 24px;
        padding-left: 16px
    }
}

@media (max-width: 768px) {
    .vJADg ._14kIw._1sLJj {
        padding-bottom:0
    }
}

.vJADg ._14kIw._2sfyy {
    padding-right: 0
}

@media (max-width: 768px) {
    .vJADg ._14kIw._2sfyy h3 {
        margin-bottom:10px;
        padding-left: 20px
    }
}

@media (max-width: 768px) {
    .vJADg ._14kIw._2sfyy {
        padding-bottom:0
    }
}

.vJADg ._14kIw .jXjnW {
    display: flex;
    width: 100%;
    flex-direction: row
}

@media (max-width: 768px) {
    .vJADg ._14kIw .jXjnW {
        justify-content:flex-start;
        flex-direction: column
    }
}

.vJADg ._14kIw .jXjnW ._1e3Oz {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-right: 50px;
    overflow: hidden
}

@media (max-width: 768px) {
    .vJADg ._14kIw .jXjnW ._1e3Oz {
        padding-bottom:0;
        width: 100%;
        padding-right: 0
    }
}

.vJADg ._14kIw .jXjnW ._1e3Oz ._24SRO {
    padding-bottom: 50px;
    overflow: visible;
    min-height: 220px
}

@media (max-width: 768px) {
    .vJADg ._14kIw .jXjnW ._1e3Oz ._24SRO {
        padding-bottom:40px;
        overflow: hidden;
        min-height: 220px
    }
}

.vJADg ._14kIw .jXjnW ._1e3Oz ._24SRO .Kyn2S {
    display: flex;
    height: 220px
}

@media (max-width: 768px) {
    .vJADg ._14kIw .jXjnW ._1e3Oz ._24SRO .Kyn2S {
        height:220px
    }
}

.vJADg ._14kIw .jXjnW ._1e3Oz ._3SYdL {
    overflow: visible;
    padding-bottom: 50px;
    min-height: 325px
}

@media (max-width: 768px) {
    .vJADg ._14kIw .jXjnW ._1e3Oz ._3SYdL {
        padding-bottom:20px;
        overflow: hidden;
        min-height: 325px
    }
}

.vJADg ._14kIw .jXjnW ._1e3Oz .o4YF2 {
    overflow: visible;
    padding-bottom: 0;
    min-height: 220px
}

@media (max-width: 768px) {
    .vJADg ._14kIw .jXjnW ._1e3Oz .o4YF2 {
        padding-bottom:20px;
        overflow: hidden;
        min-height: 220px
    }
}

.vJADg ._14kIw .jXjnW ._1R0CL {
    display: flex;
    flex-direction: column;
    background-color: rgba(67,166,247,.05);
    border-radius: 10px;
    padding: 20px;
    width: 20%;
    min-width: 311px;
    flex: 1;
    margin-right: 50px;
    margin-left: 15px;
    justify-content: space-between
}

@media (max-width: 768px) {
    .vJADg ._14kIw .jXjnW ._1R0CL {
        width:100%;
        border-radius: 0;
        margin-right: 0;
        margin-left: 0
    }
}

.vJADg ._14kIw .jXjnW ._1R0CL h4 {
    font-size: 1.2rem;
    padding-bottom: 10px
}

@media (max-width: 768px) {
    .vJADg ._14kIw .jXjnW ._1R0CL h4 {
        font-size:1.25rem
    }
}

.vJADg ._14kIw .jXjnW ._1R0CL ._1oH4p {
    border-radius: 5px;
    font-size: 1rem;
    color: #43a6f7;
    border: none;
    padding: 6px 10px;
    text-decoration: none;
    display: inline-flex;
    margin: 0 4px 7px 0;
    background-color: rgba(67,166,247,.1);
    transition: all .2s ease-in-out
}

.vJADg ._14kIw .jXjnW ._1R0CL ._1oH4p i {
    color: #fff;
    margin-left: 10px
}

.vJADg ._14kIw .jXjnW ._1R0CL ._1oH4p:hover {
    background-color: #43a6f7;
    color: #fff
}

.vJADg ._14kIw .jXjnW ._1R0CL ._3wBvE {
    padding-bottom: 20px
}

@media (max-width: 768px) {
    .vJADg ._14kIw .jXjnW ._1R0CL ._3wBvE {
        padding-bottom:40px
    }
}

.vJADg ._14kIw._3HaiV {
    overflow: hidden
}

.vJADg ._14kIw._3HaiV ._3ffvJ {
    display: flex;
    justify-content: center;
    justify-content: space-between
}

.vJADg ._14kIw._3HaiV ._3TxNq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 48px;
    padding: 0 16px
}

@media (max-width: 768px) {
    .vJADg ._14kIw._3HaiV ._3TxNq {
        display:flex;
        margin-top: 32px
    }
}

.vJADg ._14kIw._1TvdV ._2OB36 {
    padding: 0 50px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 24px;
    row-gap: 40px
}

@media (max-width: 768px) {
    .vJADg ._14kIw._1TvdV ._2OB36 {
        padding:0 16px;
        flex-direction: column;
        flex-wrap: unset;
        display: flex;
        column-gap: unset;
        row-gap: 24px
    }
}

.vJADg ._14kIw._1TvdV ._2OB36 .OfgJ_ {
    position: relative
}

@media (max-width: 768px) {
    .vJADg ._14kIw._1TvdV ._2OB36 .OfgJ_._1eNQE {
        display:flex;
        justify-content: center
    }
}

.vJADg ._14kIw._1TvdV ._2OB36 .OfgJ_._1eNQE img {
    position: absolute;
    top: 30%;
    left: 50%
}

@media (max-width: 768px) {
    .vJADg ._14kIw._1TvdV ._2OB36 .OfgJ_._1eNQE img {
        position:static
    }
}

.vJADg ._14kIw._1TvdV ._3TxNq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 48px;
    padding: 0 16px
}

@media (max-width: 768px) {
    .vJADg ._14kIw._1TvdV ._3TxNq {
        display:flex;
        margin-top: 32px
    }
}
/**/
.-HF5e {
    display: flex;
    position: relative
}

.-HF5e .__active {
    transition: all .2s ease-in-out;
    opacity: 1;
    pointer-events: auto;
    user-select: auto
}

.-HF5e._3ZKs_ {
    padding: 0 110px 0 100px
}

@media (max-width: 768px) {
    .-HF5e._3ZKs_ {
        padding:0 60px 0 0
    }
}

.-HF5e.vac7A {
    padding: 0 60px 0 50px
}

@media (max-width: 768px) {
    .-HF5e.vac7A {
        padding:0 60px 0 0
    }
}

.-HF5e._1eXiY,.-HF5e.UDE5Z {
    padding: 0 10px
}

.-HF5e._1eXiY {
    padding-right: 0
}
/**/

.vJADg ._3HFcX {
    position: relative
}
/**/
.V3D_d {
    width: 100%
}

.V3D_d .wHpww {
    border-radius: 8px;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    background-color: rgba(0,0,0,.05);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-decoration: none
}

@media (hover: hover) and (pointer:fine) {
    .V3D_d .wHpww:hover:not([disabled]) ._114Vk {
        width:calc(100% + 24px);
        box-shadow: 0 2px 8px 0 rgba(0,0,0,.1);
        left: -12px;
        transition: all 0.2s;
    }
}

.V3D_d .wHpww ._114Vk {
    transition: all .2s;
    height: auto;
    aspect-ratio: 16/9
}

.V3D_d .wHpww ._114Vk,.V3D_d .wHpww img {
    width: 100%;
    border-radius: 8px;
    position: absolute;
    bottom: 0;
    left:0/*add*/
}
.-HF5e .vue3-carousel__stage li {
    padding: 0 24px 0 0
}

@media (max-width: 768px) {
    .-HF5e .vue3-carousel__stage li {
        padding:0 0 0 16px
    }
}
.carousel__prev, .carousel__next {
    display: inline-block;
    box-sizing: border-box;
    width: 50%;
    padding: 10px 5.6px;
}
.vue3-carousel__stage {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    white-space: nowrap;

    .vue3-carousel__stage-item {
        position: relative;
        display: inline-block;
        width: 100%;
        height: 100%;
        vertical-align: top;
        white-space: normal;
        line-height: 0
    }
    
    .vue3-carousel__stage-item * {
        line-height: normal
    }
    
    .vue3-carousel__stage-item.__cloned {
        visibility: hidden;
        opacity: 0
    }
    .carousel__viewport {overflow: visible;}
    
    .carousel__prev, .carousel__next {
        display: flex;
        align-items: center;
        justify-content: center;
        user-select: none;
        transition: all .2s ease-in-out;
        cursor: pointer;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: hsla(0,0%,100%,.8);
        font-family: FontAwesome;
        font-size: 16px;
        color: #1e1e1e;
        box-shadow: 0 0 5px 0 rgba(0,0,0,.08);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: auto;
        z-index: 1;
    }
    .carousel__prev, .carousel__next {
        &:hover {
            background-color: hsla(0,0%,100%,2);
        }
    }

    .carousel__prev {
        left: -94px;
    }
    .carousel__next {
        right: -104px;
    }
    @media (max-width: 768px) {
        .carousel__prev {
            left: 0;
        }
        .carousel__next {
            right: 0;
        }
    }

}


.V3D_d .wHpww img {
    height: 100%;
    object-fit: cover
}

.V3D_d .wHpww ._111gx {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    font-size: 1.6rem;
    height: 0
}

.V3D_d .wHpww .Yrb3O {
    position: absolute;
    left: 10px;
    top: 10px;
    display: flex;
    flex-direction: column
}

.V3D_d .wHpww .Yrb3O .e0TAw {
    padding: 3px 7px;
    font-size: 12px;
    color: #fff;
    border-radius: 5px;
    opacity: .93;
    margin-bottom: 10px
}

@media (max-width: 768px) {
    .V3D_d .wHpww .Yrb3O .e0TAw {
        left:10px
    }
}

.V3D_d .wHpww .Yrb3O .e0TAw i {
    font-size: 12px;
    margin-right: 5px;
    color: #fff
}

@media (max-width: 428px) {
    .V3D_d .wHpww .Yrb3O .e0TAw,.V3D_d .wHpww .Yrb3O .e0TAw i {
        font-size:.6rem
    }
}

.V3D_d .wHpww .Yrb3O .e0TAw._2FREn {
    background-color: #facf09
}

.V3D_d .wHpww .Yrb3O .e0TAw._3cboB {
    background-color: #43a6f7
}

.V3D_d .wHpww .Yrb3O .e0TAw._3YGf2 {
    background-color: #f74356
}

.V3D_d .wHpww .Yrb3O .e0TAw._3uBP8 {
    background-color: #000
}

.V3D_d .wHpww .Yrb3O .e0TAw.lMT4Z {
    background-color: #4cd964
}

.V3D_d ._1oz5H {
    text-decoration: none
}

.V3D_d ._2hEzG {
    margin-top: 12px;
    display: flex;
    align-items: flex-start
}

@media (max-width: 768px) {
    .V3D_d ._2hEzG {
        margin-top:8px
    }
}

.V3D_d ._3gH7F {
    height: 40px;
    width: 40px;
    border: 1px solid #d9d9d9
}

.V3D_d ._2YrAy {
    margin-left: 12px;
    flex-grow: 1;
    text-align: left;/*add*/
}

.V3D_d ._1b5Q9 {
    display: flex;
    margin-bottom: 2px
}

.V3D_d ._1b5Q9._1YWAI {
    justify-content: space-between
}

.V3D_d .jnow1 {
    margin-left: 8px
}

.V3D_d ._1x-tW,.V3D_d .jnow1 {
    color: #f74356;
    font-weight: 600;
    line-height: 2;
    font-size: .75rem
}

.V3D_d ._1x-tW b {
    font-weight: 700;
    color: #f74356
}

.V3D_d ._39liQ {
    height: 24px;
    border-radius: 24px;
    display: inline-flex;
    align-items: center;
    background-color: #f74356;
    color: #fff;
    font-size: .75rem;
    padding: 0 8px;
    line-height: 1.333;
    font-weight: 600
}

.V3D_d ._39liQ .HKuVP {
    height: 6px;
    width: 6px;
    background-color: #fff;
    border-radius: 50%;
    margin-right: 4px
}

.V3D_d ._12Af- {
    line-height: 1.429;
    color: #1e1e1e;
    font-size: .875rem;
    font-weight: 600;
    text-decoration: none;
    display: block
}

.V3D_d ._1nlN6 {
    line-height: 1.5;
    font-size: .75rem;
    text-decoration: none;
    display: inline-block
}
/**/
._1TW9y._1U0Sp {
    display: flex;
    align-items: center
}

._1TW9y._1U0Sp ._1l4EX,._1TW9y._1U0Sp ._2qclA {
    border-radius: 50%
}
/**/
._1TW9y._1U0Sp ._1l4EX,._1TW9y._1U0Sp ._2qclA {
    border-radius: 50%
}

._1l4EX,._2qclA {
    width: 29px;
    min-width: 29px;
    height: 29px;
    min-height: 29px
}

._2qclA {
    object-fit: cover;
    background-color: #fff
}
/**/
._2jfOQ {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #f3f3f3;
    color: #1e1e1e;
    font-weight: 600;
    min-width: 24px;
    transition: background-color .2s;
    white-space: nowrap
}
._2jfOQ.LkySA {
    padding: 0 16px
}

._2jfOQ.LkySA ._35vsF {
    margin-right: 8px
}

._2jfOQ._2QGNk {
    height: 24px;
    border-radius: 24px;
    line-height: 1.333;
    font-size: .75rem;
    min-height: 24px
}

._2jfOQ.o_HOV {
    height: 32px;
    border-radius: 32px;
    line-height: 1.143;
    font-size: .875rem;
    min-height: 32px;
    min-width: 32px
}

@media (hover: hover) and (pointer:fine) {
    ._2jfOQ:hover:not([disabled]) {
        cursor:pointer;
        background-color: #e5e5e5
    }
}

._2jfOQ ._35vsF {
    color: #1e1e1e
}
/**/
.standaloneTextButton {
    color: #757575;
    cursor: pointer
}

@media (hover: hover) and (pointer:fine) {
    .standaloneTextButton:hover:not([disabled]) {
        color:#1e1e1e!important
    }
}

